<template>
    <div>
      <loader :isVisible="isLoader" text="loading"/>
      <!-- # Ads -->
      <div v-if="pageCode=='SQ_1'" class="def mt-2" style="min-height:360px !important;"><Googlead :pageCode="pageCode" customDesign="margin:0 auto;"/></div>
      <div v-if="pageCode=='SQ_2'" class="abc mt-2"  style="min-height:360px !important;"> <Googlead :pageCode="pageCode" customDesign="margin:0 auto;"/></div>
      

       <!-- <div class="ads mb-1"><img src="/assets/images/big-ads-placement.jpg" alt=""></div> -->
       <errorpopup  :message="error_message"/>
      
      <section class="w-100 px-3 mb-1">
        <div class="get-started pt-2 pb-1 get-started-samplequestion">
          <div class="container">
            <div class="row align-items-center d-flex">
              <div class="col-12 p-0" v-if="question_position === 1">
                <h4>Let's get started,</h4>
                <p>answer 2 simple questions to get <span>100 coins</span> now:</p>
              </div>
              <!-- <div class="col-4 text-right">
                <img src="/assets/images/logo-light-text.png" alt="">
              </div> -->
            </div>
          </div>
        </div>
      </section>

      <section class="questions-box mb-1"  v-if="question_position === 1">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="inner text-center rounded-area">
                <h5><span>Q-1.</span> {{question_set[0].question}}
                </h5>
                <div class="options">
                  <a href="javascript:void(0);" @click="e => valid && submitAnswer(question_set[0],'A')" class="option option_1_A">{{question_set[0].option_a}}</a>
                  <a href="javascript:void(0);" @click="e => valid && submitAnswer(question_set[0],'B')" class="option option_1_B">{{question_set[0].option_b}}</a>
                  <a href="javascript:void(0);" @click="e => valid && submitAnswer(question_set[0],'C')" class="option option_1_C">{{question_set[0].option_c}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="questions-box mb-1"  v-if="question_position === 2">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="inner text-center rounded-area">
                <h5><span>Q-2.</span> {{question_set[1].question}}
                </h5>
                <div class="options">
                  <a href="javascript:void(0);" @click="e => valid && submitAnswer(question_set[1],'A')" class="option option_2_A">{{question_set[1].option_a}}</a>
                  <a href="javascript:void(0);" @click="e => valid && submitAnswer(question_set[1],'B')" class="option option_2_B">{{question_set[1].option_b}}</a>
                  <a href="javascript:void(0);" @click="e => valid && submitAnswer(question_set[1],'C')" class="option option_2_C">{{question_set[1].option_c}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="points mb-1 samplequestion-points pb-4">
        <div class="container">
          <div class="row">
              <div class="col-12">
                <div class="inner">
                <section class="existing-text mb-2" v-if="question_position === 1">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 p-0">
                        <div class="text-right" >
                          <p>Existing user? <router-link to="/signup" tag="a">Login</router-link></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <h6><img src="/assets/images/logo.png" alt="" class="logo-points">Test your knowledge instantly!</h6>
                <ul>
                  <li>Play quizzes in over 25 categories like GK, sports, bollywood, geography, business, history, IPL & more</li>
                  <li>Compete with thousands of other quiz enthusiasts</li>
                  <li>Collect Qureka Lite coins in every quiz</li>
                  <li>Played & trusted by over 20 milion users</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="py-3 text-center donot-sellinfo-text" v-if="isSell">
        <router-link to="/optout" tag="a">Manage data preferences</router-link>
      </div>
    

    </div>
</template>
 
<script>
import common from './../common';
import Googlead from "./../common/Googlead";
import Loader from "./../common/Loader.vue";
import Errorpopup from "./../common/Errorpopup.vue";
import $ from 'jquery'
    export default {
       components: {
        Googlead,Loader,Errorpopup
        },
        data() {
            return {
                
                question_set : [],
                isLoader:false,
                question_position:0,
                max_question:2,
                correct_answer:0,
                isSell:false,
                pageCode:"SQ_1",
                error_message:{},
                pageLoadType:'',
                valid: true
            }
        },
          created: function() {
            // console.log('created call');

            this.getImgUrl = common.getImgUrl.bind(this);
            this.numberWithCommas = common.numberWithCommas.bind(this);
            this.getDeviceInfo = common.getDeviceInfo.bind(this);
            this.showErrorPopup = common.showErrorPopup.bind(this);

             this.isLoader=true;
             let self = this;

             var userzone = this.$cookies.get('userzone');
             // console.log('userzone:');
             // console.log(userzone);
             if(userzone==null)
             {
                // console.log('userzone not found');
                var response =  this.$httpClient.get('users').then(function(res){

                  userzone = this.$cookies.get('userzone');
              
                  });

                setTimeout(function(){ self.getQuestionSet(); }, 1000);

                

             }
             else
             {
              // console.log('userzone found');
              self.getQuestionSet();
             }

              let usermode = $cookies.get('usermode');
              let optout = $cookies.get('optout');
              if(usermode!="" && usermode=='compliance' && optout!="true" )
              {
                
                this.isSell = true;
              }


              //check for inapp functionalities
            // var inApp = this.getDeviceInfo();
            
            // if(inApp==false)
            // {
            //      var message = '<img src="/assets/images/lost-emoji-img.png" alt=""><h2>OOPS! <span>InApp Browser!</span></h2>';
            //                 var text = "Try opening our link in default browser for better experience";
            //                 this.error_message = {'title':message,'text':text};
            //                 this.showErrorPopup(this.error_message);
            //       // return false;         
            // }



             
          },
          mounted: function() 
           {
            $('.app-wrapper-container').removeClass('dashboard-wrapper')
            $('.app-wrapper-container').addClass('samplequestion-wrapper')
            // console.log('mounted called');
          },
          methods: {
           showGameDetail: function(game) {

             localStorage.setItem('game_detail', JSON.stringify(game));
              const id = game.high_score_contest.seo_url;
              localStorage.setItem('game_list', JSON.stringify(this.game_list));
              this.$router.push({ name: 'pregamedetail', params: { id } }) 
           },

           getQuestionSet: function()
           {
              let self = this;
              this.$httpClient.get('questions').then(function(res){
                
                  if(res.data.status_code==200)
                   {
                    self.question_set = res.data.response[0].samplequestion.question_set;

                    if(self.question_set[0]!=undefined)
                      self.question_position = 1;
                    self.isLoader = false;

                    // console.log(this.question_set);
                    
                   }
                  
               });
           },
           submitAnswer: function(question,option)
           {

              let self = this;
              // console.log(question);

              self.isLoader=true;
              $('.option').removeClass('correct');
              $('.option').removeClass('wrong');
              self.valid=false;
              if(question.answer==option)
              {
               // $('.option_'+option).addClass('correct');
                $('.option_'+self.question_position+'_'+option).addClass('right-answer');
                self.correct_answer = parseInt(self.correct_answer) + 1;
              }
              else
              {
                //$('.option_'+option).addClass('wrong');
                $('.option_'+self.question_position+'_'+option).addClass('wrong-answer');
              }

              // console.log(this.question_position);
              // console.log(self.question_position);

              if(self.max_question == self.question_position)
              {
                 setTimeout(function(){ 
                  localStorage.setItem('intro_correct_answer', self.correct_answer);

                  if(self.$pageLoadType === 'true'){
                      window.location.href = "/score";
                  }else{
                    self.$router.push({ name: 'Score' });
                  }
              
                }, 500);
                
              }


              setTimeout(function(){ 
                self.question_position = parseInt(self.question_position)+1; 

                //set second ads
                self.pageCode = 'SQ_2';
                $('.option').removeClass('correct');
                $('.option').removeClass('wrong');
                 self.valid=true;
              // console.log(self.question_position);
              self.isLoader=false;
              }, 1000);

              
              // console.log(option);
              if(this.question_position == 1 )
              {
                
                this.isSell = false;
              }
           }
           
          },
           beforeDestroy: function(){
           
          }
    };
</script>