<template>
    <div>
         <!-- # Ads -->
       
      
      <section class="landing-screen">
        <div class="container">
          <div class="row">

            <div class="head w-100 align-items-center d-flex mb-3">
              <div class="col-8 float-left d-flex align-items-center">
                <a href="javascript:void(0);">
                  <img src="/assets/images/landing-screen-logo.png" alt="" class="logo">
                </a>
              </div>
             <!--  <div class="col-4 float-left justify-content-end text-right">
                <a href="javascript:void(0);" @click="handleRedirect()">Skip</a>
              </div> -->
            </div>

            <div class="main-content w-100">
              <div class="col-12 float-left text-center">
                <h3>Quizzes for everyone!</h3>
                <ul>
                  <li><h5><span class="count">25</span>+</h5><p>quiz <br>categories</p></li>
                  <li><h5><span class="count">20</span>M+</h5><p>users &amp;<br> counting</p></li>
                  <li><h5><span class="count">500</span>K+</h5><p>daily <br> coins</p></li>
                  <!-- <li v-if="userzone.country!='IN'"><h5><span class="count">500</span>K+</h5><p>daily <br> bonus</p></li> -->
                </ul>
                <small class="testknow-strip">Test your knowledge:</small>
                <h2>Play GK, Math, History, IPL<br> &amp; Mega Quizzes to win coins</h2>
              </div>
            </div>

            <div class="bfoot w-100 pt-4">
              <div class="w-100 float-left">
                <img src="/assets/images/landingScreen-newImage.png" alt="" class="featured-image">
                <!-- <img src="/assets/images/landing-screen-image.png" alt="" class="featured-image"> -->
              </div>
              <div class="redirect-row w-100 pt-2 pb-1 overflow-hidden">
                <div class="col-8 float-left"><p>Redirecting in {{ time }} seconds..</p></div>
                <div class="col-4 float-left text-right"><a href="javascript:void(0);" @click="handleRedirect()">Skip</a></div>
              </div>
            </div>
            
          </div>
        </div>
      </section>
     
    </div>
</template>
 
<script>
import common from './../common';
import $ from 'jquery'
   export default {

     data() {
           return {
            time: 2,
            interval: 1,
            userzone:{},
            pageLoadType:'',
           }
       },
       
         created: function() {

         this.userzone = $cookies.get('userzone');
         this.updateAdStorage = common.updateAdStorage.bind(this);

         this.toggleTimer();

          
         },
         methods: {
             toggleTimer() {
                this.interval = setInterval(this.decrementTime, 1000);
            },
            decrementTime() {
            if(this.time===0){
                this.handleRedirect();
            }else{
              this.time = parseInt(this.time) - 1;
            }
            
            },
            handleRedirect(){
                clearInterval(this.interval);

                 if(this.$pageLoadType === 'true'){
                      window.location.href = "/sample-questions";
                  }else{
                    this.$router.push({ name: 'Samplequestions' });
                  }
              
                
            }
          },
          mounted() {
            $(document).ready(function(){
              $('.count').each(function () {
                var size = $(this).text().split(".")[1] ? $(this).text().split(".")[1].length : 0;
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 2000,
                    step: function (func) {
                      $(this).text(parseFloat(func).toFixed(size));
                    }
                });
              });
            });
            $('.app-wrapper-container').addClass('dashboard-bg');
            $('.app-wrapper-container').removeClass('dashboard-wrapper');
            this.updateAdStorage();

          },
   };
</script>