<template>
    <div>
      <loader :isVisible="isLoader" text="loading"/>
     <section class="py-3 logout-page">
      <div class="container">
        <div class="row">
          <div class="col-12">
              <div class="rounded-area d-flex align-items-center justify-content-center">
                <img src="/assets/images/logo.png" alt="" class="logo">
                <h6>Qureka Lite</h6>
              </div>
              <div class="rounded-area text-center main-content">
                <h5>You have successfully logged out</h5>
                <img src="/assets/images/logout-icon.png" alt="" class="featured-icon">
                <p>You are leaving</p>
                <router-link to="/signup" class="btn-style transparent" tag="a">Login Again</router-link>
                <div class="ads p-0"><img src="/assets/images/small-ads.png" alt="" class="img-fluid"></div>
              </div>
              <div class="join-qureka-lite-now">
                <h5 class="continue-qureka-lite-text text-center">
                   <router-link to="/" tag="a">Continue to Qureka Lite</router-link>
                </h5>
                <div class="card-box">
                  <div class="box-parent">
                    <div class="boxs text-center">
                      <img src="/assets/images/hourly-quiz-icon.png" alt="">
                      <h5 style="color:#48c028;">Hourly<span>Quiz</span></h5>
                      <p>25+ Categories</p>
                    </div>

                    <router-link :to="{name:'Dashboard',query:{a:'quiz'}}" class="btn-style text-center" tag="a" style="color:#48c028;border-color:#48c028;">Start Quiz</router-link>
                    
                  </div>

                  <div class="box-parent">
                    <div class="boxs text-center">
                      <img src="/assets/images/cricket-quiz-icon.png" alt="">
                      <h5 style="color:#0583cf;">Cricket<span>Quiz</span></h5>
                      <p>Special Quizzes</p>
                    </div>
                    <router-link :to="{name:'Dashboard',query:{a:'cricket'}}" class="btn-style text-center" tag="a" style="color:#0583cf;border-color:#0583cf;">Start Quiz</router-link>
                  </div>

                 <!--<div class="box-parent">
                    <div class="boxs text-center">
                      <img src="/assets/images/battle-quiz-icon.png" alt="">
                      <h5 style="color:#c31a9a;">Battle<span>Quiz</span></h5>
                      <p>New</p>
                    </div>
                    <router-link :to="{name:'/Dashboard',query:{a:'battle'}}" class="btn-style text-center" tag="a" style="color:#c31a9a;border-color:#c31a9a;">Start Quiz</router-link>
                  </div>-->
                </div>
              </div>
          </div>
        </div>
      </div>
     </section>
      
    </div>
</template>
 
<script>
import Loader from "./../common/Loader.vue";
import Googlead from "./../common/Googlead.vue";
import common from './../common';
  export default {
    components: {
        Loader,Googlead
        },
      data(){
          return {
            isLoader:false,
            all_games:[],
            cdn_path:"",
            prize_breakup:[],
          }
      },
      created: function() {

          this.isUserAuthenticate = common.isUserAuthenticate.bind(this);
          this.adNetworkManipulation = common.adNetworkManipulation.bind(this);
          this.showMessagePopup = common.showMessagePopup.bind(this);
          this.formatAMPM = common.formatAMPM.bind(this);
          this.showPrizeBreakup = common.showPrizeBreakup.bind(this);
          this.loopTimer = common.loopTimer.bind(this);
          this.getImgUrl = common.getImgUrl.bind(this);
          this.convertDateToTime = common.convertDateToTime.bind(this);
          this.numberWithCommas = common.numberWithCommas.bind(this);
          this.timeDiffCalc = common.timeDiffCalc.bind(this);

          this.isUser = this.isUserAuthenticate();

        let self = this;
          this.isLoader=true;
           var response =  this.$httpClient.get('logout').then(function(res){
            // console.log('results:');
            // console.log(res.data);
              
                
                $cookies.remove('cutk');
                $cookies.remove('ustk');
                $cookies.remove('cutka');
                $cookies.remove('user_id');
                $cookies.remove('ubal');
                $cookies.remove('coinbalancepopup');
                self.$router.push({ name: 'Intro'}) 
                
               self.isLoader=false;
           });
        
        
      },
       methods: {
            
        }
    }
</script>