<template>
  <div>
    <!-- # Ads -->
    <div class="new-introsuccess-page p-3 mt-3">
      <h3>{{ score_title }}</h3>
      <div class="your-coins text-left">
        <div class="intro-coin">
          <p class="large-size">100</p>
          <p>Coins</p>
        </div>
        <h6 v-html="score_cointitle"></h6>
      </div>
      <div class="loginbtn-parent shimmer-parent row" v-if="pageLoadType === 'true'">
      <a href="/?a=quiz" class="loginbtn" id="letsstart" tag="a"
                ><span class="shimmer">Let's Start</span></a> 
      </div>
      <div class="loginbtn-parent shimmer-parent row" v-if="pageLoadType === 'false'">
       <router-link
                :to="{ name: 'Dashboard', query: { a: 'quiz' } }"
                class="loginbtn"
                id="letsstart"
                tag="a"
                ><span class="shimmer">Let's Start</span></router-link>

        
        
      </div>
      <span class="bottom-text">Play more quizzes to test your knowledge and to continue earning more coins</span>
    </div>

    <!-- <section class="both-answers-right mt-3 mb-2">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="inner text-center rounded-area p-3">
              <h5>{{ score_title }}</h5>
              <div class="youhave-coins">
                <h6>{{ score_subtitle }}</h6>
                <h4 v-html="score_cointitle"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <div class="ads"><Googlead pageCode="LS" /></div>

    <section class="join-qureka-lite-now mb-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="inner py-3">
              <!-- <h6>Join Qureka Lite now:</h6>
              <div class="points">
                <ul>
                  <li>To get your <span>100 coins</span></li>
                  <li>Play more quizzes to continue earning more coins</li>
                </ul>
              </div>
              <router-link
                :to="{ name: 'Dashboard', query: { a: 'quiz' } }"
                class="btn-style"
                tag="a"
                >Let's Start</router-link
              > 

              <h6>Qureka Lite Quizzes for you:</h6>
              <div class="card-box">
                <div class="box-parent">
                  <div class="boxs">
                    <img src="/assets/images/hourly-quiz-icon.png" alt="" />
                    <h5 style="color: #48c028">Hourly<span>Quiz</span></h5>
                    <p>25+ Categories</p>
                  </div>
                  <router-link
                    :to="{ name: 'Dashboard', query: { a: 'quiz' } }"
                    class="btn-style"
                    tag="a"
                    style="color: #48c028; border-color: #48c028"
                    >Start Quiz</router-link
                  >
                </div>

                <div class="box-parent" v-if="userzone.country == 'IN'">
                  <div class="boxs">
                    <img src="/assets/images/cricket-quiz-icon.png" alt="" />
                    <h5 style="color: #0583cf">Cricket<span>Quiz</span></h5>
                    <p>Special Quizzes</p>
                  </div>
                  <router-link
                    :to="{ name: 'Dashboard', query: { a: 'cricket' } }"
                    class="btn-style"
                    tag="a"
                    style="color: #0583cf; border-color: #0583cf"
                    >Start Quiz</router-link
                  >
                </div>

              </div> -->

              <div class="points text-small rounded-area">
                <ul>
                  <li>Over 20 milion quiz enthusiasts have played with us</li>
                  <li>We are India's favorite Quiz destination</li>
                  <li>
                    We offer quizzes in over 25 categories like GK, sports,
                    bollywood, geography, business, history, IPL & more
                  </li>
                  <li>Played & trusted by over 20 milion users</li>
                </ul>
              </div>
            </div>

            <div
              class="proud-madeIn-india w-100 text-center py-3 mt-3"
              v-if="countryTag"
            >
              <img src="/assets/images/single-flag.png" alt="" />
              <p>Proudly Made In India</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
 
<script>
import common from "./../common";
import Googlead from "./../common/Googlead";
export default {
  components: {
    Googlead,
  },
  data() {
    return {
      correct_answer: 0,
      score_title: "",
      score_subtitle: "",
      score_cointitle: "",
      countryTag: false,
      userzone: {},
      pageLoadType: false,
    };
  },
  created: function () {
    this.isLoading = true;
    this.showCountryTag = common.showCountryTag.bind(this);
    this.loadOnce = common.loadOnce.bind(this);
    this.countryTag = this.showCountryTag();
    this.pageLoadType = this.$pageLoadType;
    
    let answer_count = localStorage.getItem("intro_correct_answer");
    if (answer_count == 2) {
      this.score_title = "Good Job!";
      this.score_subtitle = "You got 2 questions right!";
      this.score_cointitle =
        'Your <span>100 coins</span> <small>are now ready</small>';
    } else if (answer_count == 1) {
      this.score_title = "Not Bad!";
      this.score_subtitle = "You got 1 question right!";
      this.score_cointitle =
        'Your <span>100 coins</span> <small>are now ready</small>';
    } else {
      this.score_title = "Well Played!";
      //  this.score_subtitle = 'You got 2 questions right!';
      this.score_cointitle =
        'Your <span>100 coins</span> <small>are now ready</small>';
    }

    this.userzone = $cookies.get("userzone");

    this.$cookies.set('uvisit','2');
  },
  mounted() {
    this.loadOnce();
  },
  methods: {},
  beforeDestroy: function () {
    // console.log('DESTROYYYY!!!');
  },
};
</script>