<template>
    <div>
      <errorpopup  :message="error_message"/>
      <loader :isVisible="isLoader" text="loading"/>

       <section class="login-page py-4">
        <div class="container">
          <div class="row">
            <div class="col-12">

              <div class="get-started mb-2 py-3">
                  <div class="align-items-center d-flex">
                    <div class="col-8 float-left">
                      <h4>Join Qureka Lite</h4>
                      <p>Your <span>100 coins</span> are just one step away now</p>
                    </div>
                    <div class="col-4 text-right float-left">
                      <img src="/assets/images/logo-light-text.png" alt="">
                    </div>
                  </div>
              </div>

              <div class="rounded-area login-buttons-block">
                <div class="login-via p-2 align-items-center d-flex">
                  <img src="/assets/images/login-via-icon.png" alt="">
                  <h6>Login Via</h6>
                </div>
                <div class="text-center signin-btns pt-2 pb-3">
                  <a href="javascript:void(0)" @click="AuthProvider('google')" class="google-signin btn-style transparent">Sign in With Google</a>
                  <a href="javascript:void(0)" @click="AuthProvider('facebook')" class="facebook-signin btn-style transparent">Continue with Facebook</a>
                </div>
                <p>By selecting any of the option, you agree to our <router-link to="/privacy-policy" tag="a" v-if="pageLoadType === 'false'">Privacy Policy</router-link> <a href="/privacy-policy" tag="a" v-else>Privacy Policy</a> & <router-link to="/terms-conditions" tag="a" v-if="pageLoadType === 'false'">Terms of use</router-link> <a href="/terms-conditions" tag="a" v-else>Terms of use</a></p>
              </div>

              <div class="text-center promise-text py-2">
                <p>* We promise we will never spam you</p>
              </div>

              <div class="rounded-area">
                <div class="points">
                  <ul>
                    <li>Over 20 million quiz enthusiasts have played with us</li>
                    <li>We are India’s favorite Quiz destination</li>
                    <li>Over 100 quizzes are waiting for you</li>
                  </ul>
                </div>
              </div>

              <div class="proud-madeIn-india w-100 text-center py-3 mt-3" v-if="countryTag">
                <img src="/assets/images/flag.png" alt="">
                <p>Proudly Made In India</p>
              </div>

            </div>
          </div>
        </div>
      </section>

      
    </div>
</template>
 
<script>
import Loader from "./../common/Loader.vue";
import Errorpopup from "./../common/Errorpopup.vue";
import common from './../common';
  export default {
    components: {
        Loader,Errorpopup
        },
      data(){
          return {
            isLoader:false,
            error_message:{},
            countryTag:false,
            pageLoadType: false,
          }
      },
      created: function() {
        $('.app-wrapper-container').removeClass('samplequestion-wrapper');
          this.showErrorPopup = common.showErrorPopup.bind(this);
          this.showCountryTag = common.showCountryTag.bind(this);
          this.loadOnce = common.loadOnce.bind(this);
          this.countryTag = this.showCountryTag();
          this.pageLoadType = this.$pageLoadType;
          
         },
       methods: {
            
            AuthProvider(provider) {
            
              var self = this
               // console.log('provider');
               // console.log(provider);
              this.$auth.authenticate(provider).then(response =>{
             
                self.SocialLogin(provider,response)
                }).catch(err => {
                    // console.log({err:err})
                })
            },
            
            SocialLogin(provider,response){
              this.isLoader = true;
                this.$httpClient.post('/sociallogin/'+provider,response).then(response => {
                    //console.log(response.data);
                    // return false;
                    var usertype = response.data.usertype;
                    var username = response.data.user.name;
                    if(usertype=="NEW")
                    {
                      localStorage.setItem('usertype', "NEW");
                    }

                    if(username!="")
                    {
                      //this.$router.push({ name: 'Dashboard' });

                      if(this.$pageLoadType === 'true'){
                          window.location.href = "/";
                      }else{
                        self.$router.push({ name: 'Dashboard' });
                      }
                    }

                    // console.log('current username');
                    // console.log(username);
                    else
                    {
                          var message = 'Oops!';
                          var text = 'Something Went Wrong! Please Try Again!';
                          self.error_message = {'title':message,'text':text};
                          //console.log(self.error_message);
                          self.showErrorPopup(self.error_message);
                          //console.log('am coming here for 400 check');
                    }
                    // if(response.data.id > 0)
                    // {
                      //console.log(response.data.id);
                      // this.$router.push({ name: 'Dashboard' });
                      self.isLoader = false;
                    //}
                }).catch(err => {
                    //console.log({err:err})
                })
            },
            
        },
        mounted() {
          this.loadOnce();
        },
         beforeDestroy: function(){
            // console.log('DESTROYYYY!!!');
              
          }
    };
</script>