/* # These fonts are using in this site
font-family: 'Metropolis-SemiBold';
font-family: 'Metropolis-Regular';
font-family: 'Metropolis-Medium';
font-family: 'Metropolis-Bold';
font-family: 'Metropolis-Black'; 
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/************ Fonts Import ************/

@font-face {
font-family: 'Metropolis-SemiBold';
src: url('../fonts/Metropolis-SemiBold.eot');
src: url('../fonts/Metropolis-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Metropolis-SemiBold.svg#Metropolis-SemiBold') format('svg'),
        url('../fonts/Metropolis-SemiBold.ttf') format('truetype'),
        url('../fonts/Metropolis-SemiBold.woff') format('woff'),
        url('../fonts/Metropolis-SemiBold.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Metropolis-Regular';
src: url('../fonts/Metropolis-Regular.eot');
src: url('../fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Metropolis-Regular.svg#Metropolis-Regular') format('svg'),
        url('../fonts/Metropolis-Regular.ttf') format('truetype'),
        url('../fonts/Metropolis-Regular.woff') format('woff'),
        url('../fonts/Metropolis-Regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Metropolis-Medium';
src: url('../fonts/Metropolis-Medium.eot');
src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg'),
        url('../fonts/Metropolis-Medium.ttf') format('truetype'),
        url('../fonts/Metropolis-Medium.woff') format('woff'),
        url('../fonts/Metropolis-Medium.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
  
@font-face {
font-family: 'Metropolis-Bold';
src: url('../fonts/Metropolis-Bold.eot');
src: url('../fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Metropolis-Bold.svg#Metropolis-Bold') format('svg'),
        url('../fonts/Metropolis-Bold.ttf') format('truetype'),
        url('../fonts/Metropolis-Bold.woff') format('woff'),
        url('../fonts/Metropolis-Bold.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
  
@font-face {
font-family: 'Metropolis-Black';
src: url('../fonts/Metropolis-Black.eot');
src: url('../fonts/Metropolis-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Metropolis-Black.svg#Metropolis-Black') format('svg'),
        url('../fonts/Metropolis-Black.ttf') format('truetype'),
        url('../fonts/Metropolis-Black.woff') format('woff'),
        url('../fonts/Metropolis-Black.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

body {
    margin:0;
    padding:0;
    background:url('../images/webappbdg.jpg');
    height: 100vh;
    background-size: cover;
    overflow-x: hidden;
    font-family: 'Metropolis-Regular';
}

.app-wrapper-container {
    max-width: 360px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    scrollbar-color: #eee #3e3e40;
    scrollbar-width: none;
    background:-moz-linear-gradient(182deg, rgba(11, 8, 71, 1) 0%, rgba(28, 0, 100, 1) 100%); 
    background:-webkit-linear-gradient(182deg, rgba(11, 8, 71, 1) 0%, rgba(28, 0, 100, 1) 100%);
    background:-o-linear-gradient(182deg, rgba(11, 8, 71, 1) 0%, rgba(28, 0, 100, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C0064', endColorstr='#0B0847', GradientType=1 );
    background:-ms-linear-gradient(182deg, rgba(11, 8, 71, 1) 0%, rgba(28, 0, 100, 1) 100%);
    background:linear-gradient(182deg, rgba(11, 8, 71, 1) 0%, rgba(28, 0, 100, 1) 100%);
}

.app-wrapper-container::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: transparent;
}

.app-wrapper-container::-webkit-scrollbar{
    width: 2px;
    background-color: transparent;
}

.app-wrapper-container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #eee;
}

.intro-screen {
    position: relative;
    padding: 2rem 0 3rem;
    height: 100vh;
    background: url(../images/grass.png) no-repeat center bottom;
    background-size: 400px;
    background-blend-mode: multiply;
    background-color: #2094cc;
}

#launchPad {
    float:left;
    border: 1px solid #eaeaea;
    background-color: #f5f5f5;
}
#dropZone {
    float:right;
    border: 1px solid #eaeaea;
    background-color: #ffffcc;
}
.card { 
    width: 150px; 
    padding: 5px 10px;
    margin:5px;
    border:1px solid #ccc;
    background-color: #eaeaea;
}
.stack {
    width: 180px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    margin: 20px;
}
.stackHdr {
    background-color: #eaeaea;
    border: 1px solid #fff;
    padding: 5px 
}
.stackDrop1, .stackDrop2 {
    min-height:100px;
    padding: 15px;
}


/* #container-drag {
    position : fixed;
    border-radius : 10px;
    background-color : #ABABAB;
    border : solid 1px black;
    font : 15px arial,sans-serif;
    text-align : center;
  } */
  
#slider {
    position : fixed;
    border-radius : 10px;
    background: linear-gradient(to right, #1e5799 0%,#89b3d3 51%,#1e5799 100%);
    font : 11px arial,sans-serif;
    text-align : center;
}

.question {
    color: #e2dbdb;
    text-align: center;
    letter-spacing: 0.5px;
}

.center-div {
    position:relative;
    top:85px;
    margin: 0 auto;
    display: block;
    height: 122px;
    width: 122px;
}

.center-div:before {
    background: url('../images/sun.png');
    content: '';
    position: absolute;
    top: 0px;
    left: -20px;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: 160px;
}

.center-div img{
    width: 100%;
}

.drag-div img {
    width: 100%;
    width: 100%;
}

.drag-div_one,
.drag-div_two {
    position: absolute;
    top: 150px;
    margin: 0 auto;
    height: 122px;
    width: 132px;
    left: 90px;
}

.drag-div_two {
    background-color:saddlebrown;
    top: 240px;
    left: 130px;
}

.plantcase {
    position: relative;
    width: 100%;
    max-width: 220px;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 360px;
}

.plantcase img{
    width: 210px;
}

.circle-parent {
    position: relative;
    float: left;
}

.colorMixer {
    background-image: none;
    background-color: #4e6e7d;
}

.colorMixer .red-circle,
.colorMixer .yellow-circle,
.colorMixer .blue-circle{
    position: relative;
    border: 3px solid #fff;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 0;
}

.circle-parent-red {
    top: 40px;
    left: 20px;
}

.colorMixer .red-circle {
    background: rgb(255 21 21 / 36%);
}

.circle-parent-yellow {
    top: 20px;
    left: 120px;
}

.colorMixer .yellow-circle {
    background: rgb(247 255 21 / 70%);
}

.circle-parent-blue {
    top: 120px;
    left: 80px;
}

.colorMixer .blue-circle {
    background: rgb(32 161 236);
}

.colorMixer .right,
.colorMixer .wrong {
    margin: 24px;
    width: 50px;
    height: 50px;
    background: green;
    animation: zoom-in-zoom-out 2s ease-out infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .colorMixer .right {
    background: url('../images/right-image.png') no-repeat center;
    border: 0;
    background-size: 50px;
    z-index: 99;
    border-radius: initial;
    height: 50px;
    margin: 9px auto;
    width: 50px;
    display: block;
  }

  .colorMixer .wrong {
    background: url('../images/wrong-image.png') no-repeat center;
    border: 0;
    background-size: 50px;
    z-index: 99;
    border-radius: initial;
    height: 50px;
    margin: 9px auto;
    width: 50px;
    display: block;
  }

  .spinner-wrapper {
    background-image: none;
    background-color: #e91e62;
}

  .spinner {
      margin: 30px auto;
      width: 100%;
  }

  .spinner img{
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      display: block;
  }

  .spinner.spin img{
    animation-name: spin;
animation-duration: 1200ms;
animation-timing-function: linear; 
}

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

  .spinner-btn {
    border: 0;
    text-decoration: none;
    text-align: center;
    padding: 0 15px;
    line-height: 50px;
    background: #5ef511;
    color: #ffff;
    font-weight: 700;
    font-size: 22px;
    border-radius: 24px;
    max-width: 130px;
    width: 100%;
    margin: 0 auto;
    display: block;
    box-shadow: 0 3px 1px #282f24;
}

.spinner-btn.disabled {
    pointer-events: none;
}

.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 360px;
    margin: 0 auto;
    z-index: 9;
    right: 0;
    background: rgb(0 0 0 / 60%);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform:scale(0);
}

.modal.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.modal h5 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-shadow: 0 0px 7px #efdf23;
    border: 2px dashed #fff;
    padding: 10px;
    background-color: rgb(0 0 0 / 50%);
}

.customAds a {
    text-decoration: underline;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(0 0 0 / 80%); */
    max-width: 360px;
    margin: 0 auto;
    right: 0;
    transition: 0.5s;
    opacity: 1;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal.show {
    transition: 0.5s;
    opacity: 1;
    z-index: 9;
}

.custom-modal #seconds {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal #seconds img{
    width: 13px;
    cursor: pointer;
}
