<template>
    <!--<div class="container">
      
 
        <h1>MGL Game Program</h1>
        <router-link :to="{name: 'signup'}" class="btn btn-primary ml-20">Signup
                        </router-link>
         <a href="">Social Login</a>
        <a href="">Post Dashboard</a>
        <a href="">Gaming</a>
        <br/>-->
        <transition-page>
        <router-view></router-view>
        </transition-page>
    <!--</div>  -->
</template>

 
<script>
import TransitionPage from './common/TransitionPage.vue';
    export default {
        name:'App',
        components: {
        TransitionPage,
        }

    };
</script>