<template>
   <div>

    <!-- Coins Wallet -->
       <Subheader titleIcon="/assets/images/coin-box.png" titleName="Coin Wallet" isBack="true"/>

      <section class="contactus-page coin-wallet-page coin-wallet-loggedin-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="rounded-area text-center">
                <div class="inner-content text-center">
                  <h6>Your Current Balance:</h6>
                  <div class="text-center justify-content-center d-flex mb-1">
                    <img src="/assets/images/coin.png" alt="">
                    <h5>{{available_balance}}</h5>
                  </div>
                  <a href="javascript:void(0);" class="text-anchor" v-if="!isLoggedUser">Signup to save coins</a>
                </div>
                <div class="ads _50height"><Googlead pageCode="CW" customDesign="display:inline-block !important; width:330px; height:50px;"/></div>
                <!-- <div class="ads p-0"><img src="/assets/images/small-ads.png" alt=""></div> -->
                <div class="btn-parent text-center">
                  <a href="javascript:void(0);" class="btn-style" v-if="!isLoggedUser">Sign in to use these coins</a>
                </div>

                <div class="tabs-parent mt-4" v-if="isLoggedUser">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="earnhistory-tab" data-bs-toggle="tab" href="#earnhistory" role="tab" aria-controls="earnhistory" aria-selected="true">Earning History</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="usedhistory-tab" data-bs-toggle="tab" href="#usedhistory" role="tab" aria-controls="usedhistory" aria-selected="false">Used History</a>
                    </li>
                  </ul>
                  <div class="tab-content mt-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="earnhistory" role="tabpanel" aria-labelledby="earnhistory-tab">
                      <div class="rounded-inner" v-for="(history, index) in earning_history">
                        <div class="form-row d-flex align-items-center">
                          <div class="col-9 pl-1 pr-1 text-left">
                            <h6>{{history.remarks}}</h6>
                            <p>{{formatStamp(history.created_at)}}</p>
                          </div>
                          <div class="col-3 text-right pl-2 pr-0">
                            <h5> <img src="/assets/images/coin.png" alt=""><span>{{history.amount}}</span></h5>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    <div class="tab-pane fade" id="usedhistory" role="tabpanel" aria-labelledby="usedhistory-tab">
                      <div class="rounded-inner" v-for="(history, index) in used_history">
                        <div class="form-row d-flex align-items-center">
                          <div class="col-9 pl-1 pr-1 text-left">
                            <h6>{{history.remarks}}</h6>
                            <p>{{formatStamp(history.created_at)}}</p>
                          </div>
                          <div class="col-3 text-right pl-2 pr-0">
                            <h5> <img src="/assets/images/coin.png" alt=""><span>{{history.amount}}</span></h5>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
     
   </div>
</template>
<script>
import Loader from "./../common/Loader.vue";
import Googlead from "./../common/Googlead.vue";
import Subheader from "./../common/Subheader.vue";
import common from './../common';

   export default {

     components: {
        Googlead,Subheader
        },
     data() {
           return {
            isLoggedUser:false,
            available_balance:0,
            earning_history:[],
            used_history:[],
            
           }
       },
       
         created: function() {
this.loadOnce = common.loadOnce.bind(this);
          let self = this;
          this.isUserAuthenticate = common.isUserAuthenticate.bind(this);
          this.isLoggedUser = this.isUserAuthenticate();
          this.isLoader=true;
           var response =  this.$httpClient.get('mywallet').then(function(res){
            // console.log('results:');
            // console.log(res.data);
              if(res.data.status_code==200)
               {
                self.earning_history = res.data.response[0].mywallet.earning_history;
                self.used_history = res.data.response[0].mywallet.used_history;
                self.available_balance = res.data.response[0].mywallet.user_balance;
                // console.log('cdn path'+self.cdn_path);
               }
               // readjust();
               self.isLoader=false;
           });

          this.goBack = common.goBack.bind(this);
          
          
         },
         mounted() {
           this.loadOnce();
         },
         methods: {
          formatStamp: function(stamp)
            {
              var d = new Date(stamp);
              var dateString = new Date(d).toUTCString();
              dateString = dateString.split(' ').slice(0, 4).join(' ');
              return dateString;
              //return d.toGMTString();
             
            }
          }
   };
</script>