<template>
   <div>
     <loader :isVisible="isLoader" text="loading"/>
    <prizebreakup  :prizes="prize_breakup"/>
    <rulespopup/>
    
     <sidebar/>
     <Subheader :titleIcon="getImgUrl(contest.contest_image)" :titleName="contest.category_name +' Quiz'" isBack="true" :otherdata="{wallet:true}"/>
      <errorpopup  :message="error_message"/>
     <!-- # Ads -->
      <!-- # Game Play Start Post Login -->
    

      <section class="contactus-page coin-wallet-page quiz-entry-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="rounded-area text-center">
                <div class="inner-content text-center">
                  <div class="row">
                    <div class="col-7 pr-2 text-left">
                      <!-- <h6>{{contest.contest_title}}</h6> -->
                      <h6>Play and Win:</h6>
                      <h5><img src="/assets/images/coin.png" alt="">{{numberWithCommas(contest.prize_money)}}</h5>
                      <a href="javascript:void(0);" class="anchor-text" v-on:click="showPrizeBreakup(contest.matrix)">View Rank Breakup</a>
                    </div>
                    <div class="col-5 pl-2 d-flex align-items-center justify-content-end text-center right-cols">
                      <h6><small>Contest ends in :</small> <span v-if="contest.end_time" :id="'contest_'+contest.id">{{loopTimer(contest.end_time,'contest_'+contest.id,'',contest.contest_block_period)}}</span></h6>
                    </div>
                  </div>
                  
                  <div class="text-center justify-content-center d-flex mb-1">
                    
                  </div>
                </div>
                <div class="text-center main-content">
                  <h6>You got 90 seconds </h6><h6>Answer as many questions as you can</h6>

                  <h5  v-if="!isLoggedUser">Join Qureka Lite & become eligible to win coins</h5>

                  <div  v-if="!isLoggedUser">
                    <router-link :to="'/signup'" tag="a"  class="btn-style-small" v-if="pageLoadType === 'false'"><span class="shimmer">Join Now <small>& start earning coins</small></span></router-link>
                    <a href="/signup" tag="a"  class="btn-style-small" v-else><span class="shimmer">Join Now <small>& start earning coins</small></span></a>
                    <b>Or</b>
                    <a href="javascript:void(0);" class="anchor-text" :class="'block_contest_'+contest.id" v-on:click="playContest(contest)" v-if="!checkPlayNow(userPlaykey,contest.id)">Play Quiz (without joining) </a>
                    <a href="javascript:void(0);" class="anchor-text not-active" v-else>Played </a>
                  </div>

                   <h6 v-if="contest.entry_fee_type=='FREE' && isLoggedUser">Entry Fee: <span class="free-text">Free</span></h6>
                   <h6 v-if="contest.entry_fee_type=='COIN' && isLoggedUser">Entry Fee: <span class="free-text"> <img src="/assets/images/coin.png" alt="" style="height:18px"> {{contest.entry_fee}}</span></h6>
                   <p class="tapbelow-text text-center" v-if="contest.entry_fee_type=='COIN' && isLoggedUser">Tap below to start playing this quiz. <span>{{contest.entry_fee}} coins</span> will be deducted from your wallet when you tap below.</p>
                <div v-if="isLoggedUser">
                  
                      <a href="javascript:void(0);"  class="btn-style"  :class="'block_contest_'+contest.id" v-on:click="playContest(contest)" v-if="!checkPlayNow(userPlaykey,contest.id)">Start Quiz</a>

                      <a href="javascript:void(0);"  class="btn-style not-active" v-else>Played</a>
                  
                </div>
                </div>               
              </div>
              <div class="ads" style="height:110px !important;min-width:330px !important;">
                <Googlead pageCode="CS_QUIZ" customDesign="width:330px; height: 100px;"/>
                </div>
              <div class="text-center py-2 quiz-anchor-text"> <router-link :to="'/quizrules'" tag="a" v-if="pageLoadType === 'false'">Quiz Rules</router-link> <a href="/quizrules" tag="a" v-else>Quiz Rules</a></div>
              

              <!-- <div class="ads p-0"><img src="/assets/images/small-ads.png" alt=""></div> -->
              
              <!-- <div class="rounded-area quiz-and-rank-text">
                <div class="row align-items-center justify-content-center d-flex">
                  <div class="col-6 pr-1 cols-left">

                    <router-link :to="'/quizrules'" tag="a"><img src="/assets/images/quiz-rule-small-icon.png" alt=""> Quiz Rules</router-link>
                    

                  </div>
                  <div class="col-6 pl-1"><a href="javascript:void(0);" v-on:click="showPrizeBreakup(contest.matrix)"><img src="/assets/images/rank-icon.png" alt=""> View Rank Breakup</a></div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </section>
   </div>
</template>

<style type="text/css">
  .not-active { 
      pointer-events: none; 
      cursor: default; 
  } 
</style>
<script>
import Sidebar from '../common/Sidebar.vue';
import Loader from "../common/Loader.vue";
import Prizebreakup from "../common/Prizebreakup.vue";
import Rulespopup from "../common/Rulespopup.vue";
import Subheader from "../common/Subheader.vue";
import common from '../common';
import Errorpopup from "../common/Errorpopup.vue";
import Googlead from "./../common/Googlead";
   export default {

    components: {
        Sidebar,Loader,Prizebreakup,Rulespopup,Subheader,Errorpopup,Googlead
        },
     data() {
           return {
            contest:{},
            cdn_path:"",
             prize_breakup:[],
             isLoggedUser:false,
             isLoader:false,
             error_message:{},
             userPlaykey:{},
             pageLoadType: false,
           }
       },
       
         created: function() {
           this.loadOnce = common.loadOnce.bind(this);
          this.isUserAuthenticate = common.isUserAuthenticate.bind(this);
          this.getImgUrl = common.getImgUrl.bind(this);
          this.loopTimer = common.loopTimer.bind(this);
          this.convertDateToTime = common.convertDateToTime.bind(this);
          this.timeDiffCalc = common.timeDiffCalc.bind(this);
          this.showPrizeBreakup = common.showPrizeBreakup.bind(this);
          this.isLoggedUser = this.isUserAuthenticate();
          this.showErrorPopup = common.showErrorPopup.bind(this);
          this.numberWithCommas = common.numberWithCommas.bind(this);
          this.checkPlayNow = common.checkPlayNow.bind(this);
          this.userPlayContestKey = common.userPlayContestKey.bind(this);
          this.userPlaykey = this.userPlayContestKey();
          //this.isLoader=true;
          this.pageLoadType = this.$pageLoadType;


           let contestObject = localStorage.getItem('contest_detail');
            if(contestObject!=undefined)
            {
              //console.log('object from '+contestObject);
              contestObject = JSON.parse(contestObject);
              var id = atob(this.$route.params.id)
              if(contestObject.id == id)
              {this.contest = contestObject;}
              else
                {console.log('need to fetch from live server');}
              
            }

            // console.log(this.contest);

            
          //this.isLoader=false;
         },
         mounted()
         {
            this.loadOnce();
         },
         methods: {
             hasHistory: function()
             {
              return window.history.length > 2;
             },
             playContest: function(contest)
             {

              
               let self = this;
               this.isLoader=true;
                 var response =  this.$httpClient.get('contest/'+ this.$route.params.id).then(function(res)
                   {
                      if(res.data.status_code==200)
                       {
                         // console.log(res.data.response[0].contest.end_time);
                          var questionset = res.data.response[0];
                          var contest = res.data.response[0]['contest'];
                          var endTime = res.data.response[0].contest.end_time;
                          var blockPeriodTime = res.data.response[0].contest.contest_block_period;

                         /* let timer = this.convertDateToTime(endTime, blockPeriodTime);
                          if(timer == "00:00:00") {
                           var message = '<h2></h2>';
                            var text = "Contest ended, please play other contests";
                            self.error_message = { title: message, text: text };
                            //console.log(self.error_message);
                            self.showErrorPopup(self.error_message);
                          } */

                          if(contest.entry_fee_type!='FREE')
                          {
                             $cookies.remove('ubal');
                          }

                          let questionCount = JSON.parse(atob(questionset.questionset)).length;
                          //console.log('questionCount : '+questionCount);
                          if(questionset.questionset.length > 100 && questionCount > 24)
                          {
                              localStorage.setItem('playcontest', JSON.stringify(questionset));
                              const id = self.$route.params.id;
                              self.isLoader=false;

                              if(self.$pageLoadType === 'true'){
                                  window.location.href = "/playcontest/"+id;
                              }else{
                                self.$router.replace({ name: 'playcontest', params: { id } })
                              }
                              
                          }
                          else
                          {
                            //incase questions are not available
                            //<img src="/assets/images/lost-emoji-img.png" alt=""><h2>OOPS! <span>Not enough coins</span></h2>
                            var message = '<img src="/assets/images/lost-emoji-img.png" alt=""><h2>OOPS! <span>Something went wrong!</span></h2>';
                            var text = "Please try other contest";
                            self.error_message = {'title':message,'text':text};
                            //console.log(self.error_message);
                            self.showErrorPopup(self.error_message);
                            self.isLoader=false;
                          
                          }
                          
                          
                         //self.$router.push({ name: 'playcontest', params: { id } }) 
                        
                       }
                       else if(res.data.status_code==400)
                       {
                          var message = res.data.response.errors.message;
                          var text = res.data.response.errors.response.errors.message;
                          self.error_message = {'title':'','text':'<div class="daily-bonus-content"><h3>'+message+'</h3>'+text+'</div>'};
                          //console.log(self.error_message);
                          self.showErrorPopup(self.error_message);
                          console.log('am coming here for 400 check');
                        
                       }

                       self.isLoader=false;
                   });
                
             },
          },
          beforeDestroy: function(){
           
            //cleanup local storage
            //localStorage.removeItem('contest_detail');

          }
   };
</script>