<template>
    <div>
      <loader :isVisible="isLoader" text="loading"/>
      <prizebreakup  :prizes="prize_breakup"/>
      <rulespopup/>
      <errorpopup :message="error_message" />

      <Subheader :titleIcon="getImgUrl(contest.contest_image)" :titleName="contest.category_name +' Quiz'" isBack="true"/>

      <section class="quizend-guest-users-page py-3">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <div class="rounded-area">
                <h4><img src="/assets/images/air-circle-icon.png" alt="" class="top-image"> Time's up, well played!</h4>
                <p class="winner-text" v-if="isUser">Winners for this quiz will be announced in <span id="winner_announce_time"> {{loopTimer(contest.end_time,'winner_announce_time','',contest.contest_block_period)}}</span></p>

                <div class="form-row">
                  <div class="col-6">
                    <div class="inner-cols"><span>Your score:</span>
                      <h6>{{game_score}}</h6>
                    </div>
                    <!-- <a href="javascript:void(0);" class="btn-style-trans"><img src="/assets/images/whatsapp-icon.png" alt=""> Share with friends</a> -->
                  </div>
                  <div class="col-6">
                    <div class="inner-cols"><span>Current rank:</span>
                      <h6>{{score_rank}}</h6>
                    </div>
                    <!-- <a href="javascript:void(0);" class="btn-style-trans play-quiz-btn"><img src="/assets/images/refresh-btn-icon.png" alt=""> Play more quizzes</a> -->
                  </div>


                  
                  <!-- <div class="w-100 mt-3 text-center align-items-center justify-content-center d-flex" v-if="isUser">
                  <a href="javascript:void(0);" v-on:click="showPrizeBreakup(contest.matrix)"><img src="/assets/images/rank-icon.png" alt=""> View Rank Breakup</a>
                </div> -->
                </div>

                <div v-if="!isUser && rank_in_matrix">
                  <h5>Based on your score, you can win<img src="/assets/images/coin.png" alt="">{{win_chance}}</h5>
                  <p>To be eligible win<img src="/assets/images/coin.png" alt="">{{win_chance}}, just join Qureka Lite</p>
                  <span class="absolutly-free-text">(its absolutely free & safe)</span>
                   <router-link to="/signup" tag="a" class="btn-style" v-if="pageLoadType === 'false'"><span class="shimmer">Join Qureka Lite Now</span></router-link>
                   <a href="/signup" tag="a" class="btn-style" v-else><span class="shimmer">Join Qureka Lite Now</span></a>
                </div>

                <div v-if="!isUser && !rank_in_matrix">
                  <h5>Join Qureka Lite to start earning</h5>
                  <p>To be eligible win coins, just join Qureka Lite</p>
                  <span class="absolutly-free-text">(its absolutely free & safe)</span>
                   <router-link to="/signup" tag="a" class="btn-style" v-if="pageLoadType === 'false'"><span class="shimmer">Join Qureka Lite Now</span></router-link>
                   <a href="/signup" tag="a" class="btn-style" v-else><span class="shimmer">Join Qureka Lite Now</span></a>
                </div>
              </div>
              <div class="rounded-area text-center playing-guest-text" v-if="!isUser">
                <h4>Want to continue playing as guest?</h4>
                <p>Try any of the following contest to continue playing</p>
              </div>
              <div class="rounded-area text-center more-quiz-text" v-if="similarcontests.length && isUser">
                <h6>Play more quizzes:</h6>
              </div>

          
              <div class="w-100">
                <div class="cards-parent">
                  <div  v-for="(similarcontest, index) in similarcontests" v-if="similarcontest.prize_money > 0">
                  <div class="card-box rounded-area p-0" :class="'block_quizcontest_'+similarcontest.id">
                    <div class="row top-content">
                      <div class="col-8 text-left"><div class="title-bg"><h6>{{similarcontest.category_name}}</h6></div></div>
                      <div class="col-4 text-right pl-0">
                      <span  class="entry-coins" v-if="!similarcontest.entry_fee">Entry: FREE</span>
                      <span class="entry-coins" v-else>Entry:  <img src="/assets/images/coin.png" alt="">{{similarcontest.entry_fee}} </span>
                      </div>
                    </div>
                    <div class="mid-content w-100">
                      <div class="col-8 float-left">
                        <div class="icon-outer"><img :src="getImgUrl(similarcontest.contest_image)" v-bind:alt="similarcontest.contest_title"></div>
                        <div class="content d-flex align-items-center">
                          <img src="/assets/images/coin.png" alt=""> <h5>{{numberWithCommas(similarcontest.prize_money)}}</h5>
                        </div>
                      </div>
                      <div class="col-4 float-left text-right pl-0">
                        <div class="active-user">
                          <span class="active-sign"></span>
                          <small>{{similarcontest.total_users_playing}} Users</small>
                        </div>
                      </div>
                    </div>
                    <div class="bottom-content w-100">
                      <div class="col-8 float-left text-left"><p>Contest ends in :   <span v-if="similarcontest.end_time" :id="'quizcontest_'+similarcontest.id">{{loopTimer(similarcontest.end_time,'quizcontest_'+similarcontest.id,'',similarcontest.contest_block_period)}}</span></p></div>
                      <div class="col-4 float-left pl-0"><a href="javascript:void(0);" class="btn-style" v-on:click="showContestDetail(similarcontest)">Play Now</a></div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </section>

 </div>
</template>
 
<script>
import Sidebar from './../common/Sidebar.vue';
import Loader from "./../common/Loader.vue";
import Errorpopup from "./../common/Errorpopup.vue";
import Prizebreakup from "./../common/Prizebreakup.vue";
import Rulespopup from "./../common/Rulespopup.vue";
// import Googlead from "./../common/Googlead";
import Subheader from "./../common/Subheader.vue";
import common from './../common';
   export default {
    components: {
        Sidebar,Loader,Prizebreakup,Rulespopup,Subheader,Errorpopup
        },
       data() {
           return {
               game_detail : {},
               game_score : {},
               score_rank:"",
               win_chance:0,
               isUser:"",
               isLoader:false,
               error_message: {},
               contest:{},
               similarcontests:[],
               prize_breakup:[],
               loggedCompetition:[],
               rank_in_matrix:false,
               pageLoadType: false,
           }
       },
         created: function() {

          //bind dynamic functions
          this.isUserAuthenticate = common.isUserAuthenticate.bind(this);
          this.getImgUrl = common.getImgUrl.bind(this);
          this.numberWithCommas = common.numberWithCommas.bind(this);
          this.userPlayContestKey = common.userPlayContestKey.bind(this);
          this.checkPlayNow = common.checkPlayNow.bind(this);
          this.simillarContest = common.simillarContest.bind(this);
          this.loopTimer = common.loopTimer.bind(this);
          this.convertDateToTime = common.convertDateToTime.bind(this);
          this.timeDiffCalc = common.timeDiffCalc.bind(this);
          this.showPrizeBreakup = common.showPrizeBreakup.bind(this);
          this.showErrorPopup = common.showErrorPopup.bind(this);
          this.loadOnce = common.loadOnce.bind(this);
          this.pageLoadType = this.$pageLoadType;
          this.isUser = this.isUserAuthenticate();
          this.isLoading = true;
          let contestObject = localStorage.getItem('contest_score');
            let gameScoreObject = localStorage.getItem('score_value');
            let scoreRankObject = localStorage.getItem('score_rank');
            let contestDetail = localStorage.getItem('contest_detail');
            
            if(contestDetail!=undefined)
            {
              contestDetail = JSON.parse(contestDetail);
              this.contest = contestDetail;              
            }

            if(gameScoreObject!=undefined)
            {
              this.game_score = gameScoreObject;
            }

            if(scoreRankObject!=undefined)
            {
              this.score_rank = scoreRankObject;
            }

            if(contestObject!=undefined)
            {
              contestObject = JSON.parse(contestObject);
                           
              //console.log(contestObject);
              
              this.getImgUrl = common.getImgUrl.bind(this);


               //show similar contests
               let contestType = localStorage.getItem('contest_type');
               if(contestObject!=undefined)
                {
                   this.similarcontests = this.simillarContest(contestType, contestObject.category_id);
                    //console.log(this.similarcontests);
                }

                //matrix coin
                let index = 0;
                let matrix = contestObject.matrix;

                if(matrix[matrix.length-1].to >= this.score_rank){
                    this.rank_in_matrix = true;

                  if(!this.isUser){
                    while(index < matrix.length){
                      // console.log(matrix[index]);
                      // console.log(matrix[index].from);
                      // console.log(matrix[index].to);
                      if(this.score_rank >= matrix[index].from && this.score_rank <= matrix[index].to)
                      {
                        this.win_chance = matrix[index].amount;

                      }
                      index += 1;
                    }
                  }
                }
                            
            }
            

            
             //check if rank lies in matrix
             if(contestObject!=undefined)
             {

              contestObject = JSON.parse(contestObject);

              
            }

               console.log('win chance');
               console.log(this.win_chance);

         },
         methods: {
          
           showContestDetail: function(contest)
           {
            //console.log(contest);
            let timer = this.convertDateToTime(contest.end_time, contest.contest_block_period);
            if(timer == "00:00:00") {
             var message = '<h2></h2>';
              var text = "Contest ended, please play other contests";
              this.error_message = { title: message, text: text };
              this.showErrorPopup(this.error_message);
              return false;
            }
              localStorage.setItem('contest_detail', JSON.stringify(contest));
              const id = btoa(contest.id);

              if(this.$pageLoadType === 'true'){
                  window.location.href = "/contest/"+id;
              }else{
                this.$router.push({ name: 'contest-details', params: { id } });
              }
             
              
           },
           
         },
         mounted() {
           this.loadOnce();
         },
         beforeRouteLeave (to, from, next) {

            // if(from.name=='contestscore' && to.name=='playcontest')
            // {
            //     let redirecturl = '/contests/';

            //     var contest_detail = localStorage.getItem('contest_detail');
            //     contest_detail = JSON.parse(contest_detail);
            //     //console.log(contest_detail);
            //     var game_name = 'game_'+contest_detail.game_id+'_name';
            //     //console.log(game_name);
            //     var game_name = localStorage.getItem(game_name);

            //     if(game_name!=null || game_name!='')
            //     {
            //       redirecturl +=game_name;
            //     }
                

            //     this.$router.push({name:'Dashboard'}); 
            //     // console.log('from name'+ from.name);
            //     // console.log('to name'+ to.name);
            //     // console.log('removed');
            //     next(false);
            // }
            // else {next();} 

            next();
          }
   }
</script>