<template>
    <div>
         <!-- # Ads -->
      <Subheader titleIcon="/assets/images/contact-img.png" titleName="Contact Us" isBack="true" />
       
      
      <section class="contactus-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="rounded-area text-center">
                <div class="image-outer"><img src="/assets/images/contactus-img.jpg" alt=""></div>
                <h6>For any queries/feedback, please reach us at <a href="mailto:support@goqureka.com">support@goqureka.com</a></h6>
                <!-- <h5>Are you an app/ web publisher?</h5>
                <p>Integrate Qureka Lite to grow your engagement & revenue, get in touch with us at <a href="mailto:get@qurekalite.com">get@qurekalite.com</a></p> -->
                <div class="w-100 text-center py-2 social-icons mb-3">
                  <a href="https://www.facebook.com/QurekaLiteMweb/" target="_blank"><img src="/assets/images/facebook-icon.png" alt=""></a>
                  <a href="https://www.instagram.com/QurekaLite_mweb/" target="_blank"><img src="/assets/images/insta-icon.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
    </div>
</template>
 
<script>
import Subheader from "./../common/Subheader.vue";
import common from './../common';

   export default {

     components: {
        Subheader
        },
     data() {
           return {
            
           }
       },
       
         created: function() {
this.loadOnce = common.loadOnce.bind(this);
         
          
         },
         mounted() {
           this.loadOnce();
         },
         methods: {
          
          }
   };
</script>