<template>
  <div>
    <loader :isVisible="isLoader" text="loading" />
    <prizebreakup :prizes="prize_breakup" />
    <rulespopup />
    <addhome />
    <sidebar />
    <Header availableBalance="6876" />
    <messagepopup :message="message" />
    <errorpopup :message="error_message" />
    <!-- Sidebar Menu -->

    <div class="col-12 yourcoin-safe pt-2 pb-1" v-if="isUser">
      <span class="align-items-center d-flex justify-content-center">
        <img src="/assets/images/coin-box.png" alt="" />
        <h3>{{ availableBalance }}</h3>
      </span>
      <div class="text-center">
        <router-link :to="'/wallet'" tag="a" v-if="pageLoadType === 'false'">Coins Wallet</router-link>
        <a href="/wallet" tag="a" v-else>Coins Wallet</a>
      </div>
    </div>

    <div class="col-12 yourcoin-safe pt-2 pb-1" v-if="!isUser">
      <span class="align-items-center d-flex justify-content-center">
        <img src="/assets/images/coin-box.png" alt="" />
        <h3>{{ availableBalance }}</h3>
      </span>
      <div class="text-center">
        <router-link :to="'/signup'" tag="a" v-if="pageLoadType === 'false'"       ><span class="shimmer">keep your coins safe</span></router-link
        >
        <a href="/signup" tag="a" v-else><span class="shimmer">keep your coins safe</span></a>
      </div>
    </div>

    <div class="ads _50height"><Googlead pageCode="DS_TOP" /></div>
    <!-- <div class="ads"><img src="/assets/images/small-ads.png" alt=""></div> -->

    <section
      class="quiz-cricket-battle-tabs"
      v-bind:class="userzone.country != 'IN' ? 'non-indian-user' : ''"
    >
      <div class="container">
        <div class="row">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="Quiz-tab"
                data-bs-toggle="tab"
                href="#Quiz"
                role="tab"
                aria-controls="Quiz"
                aria-selected="true"
                v-on:click="quizContests()"
                ><img src="/assets/images/quiz-tab-icon.png" alt="" /> Quiz</a
              >
            </li>
            <li
              class="nav-item"
              role="presentation"
              v-if="userzone.country == 'IN'"
            >
              <a
                class="nav-link"
                id="Cricket-tab"
                data-bs-toggle="tab"
                href="#Cricket"
                role="tab"
                aria-controls="Cricket"
                aria-selected="false"
                v-on:click="cricketContests()"
                ><img src="/assets/images/cricket-tab-icon.png" alt="" />
                IPL/Cricket</a
              >
            </li>
            <!--    <li class="nav-item" role="presentation">
                <a class="nav-link" id="Battle-tab" data-bs-toggle="tab" href="#Battle" role="tab" aria-controls="Battle" aria-selected="false"><img src="/assets/images/vsbattle-tab-icon.png" alt=""> Vs Battle</a>
              </li> -->
          </ul>

          <div class="col-12">
            <div class="tab-content" id="myTabContent">
              <!-- # Quiz Tab Content Start Here-->
              <div
                class="tab-pane fade show active"
                id="Quiz"
                role="tabpanel"
                aria-labelledby="Quiz-tab"
              >
                <div class="cards-parent">
                  <div
                    v-for="(quizcontest, index) in quiz_contests"
                    v-if="quizcontest.prize_money > 0"
                  >
                    <div
                      class="card-box rounded-area"
                      :class="'block_quizcontest_' + quizcontest.id"
                    >
                      <div class="row top-content">
                        <div class="col-8">
                          <div class="title-bg">
                            <h6>{{ quizcontest.category_name }}</h6>
                          </div>
                        </div>
                        <div class="col-4 text-right pl-0">
                          <span
                            class="entry-coins"
                            v-if="!quizcontest.entry_fee"
                            >Entry: FREE</span
                          >
                          <span class="entry-coins" v-else
                            >Entry:
                            <img src="/assets/images/coin.png" alt="" />
                            {{ quizcontest.entry_fee }}
                          </span>
                        </div>
                      </div>
                      <div class="mid-content w-100">
                        <div class="col-8 float-left">
                          <div class="icon-outer">
                            <img
                              :src="getImgUrl(quizcontest.contest_image)"
                              v-bind:alt="quizcontest.contest_title"
                            />
                          </div>
                          <div class="content d-flex align-items-center">
                            <img src="/assets/images/coin.png" alt="" />
                            <h5>
                              {{ numberWithCommas(quizcontest.prize_money) }}
                            </h5>
                          </div>
                        </div>
                        <div class="col-4 float-left text-right pl-0">
                          <div class="active-user">
                            <span class="active-sign"></span>
                            <small
                              >{{
                                quizcontest.total_users_playing
                              }}
                              Users</small
                            >
                          </div>
                        </div>
                      </div>
                      <div class="bottom-content w-100">
                        <div class="col-8 float-left">
                          <p>
                            Contest ends in :
                            <span
                              v-if="quizcontest.end_time"
                              :id="'quizcontest_' + quizcontest.id"
                              >{{
                                loopTimer(
                                  quizcontest.end_time,
                                  "quizcontest_" + quizcontest.id,
                                  "",
                                  quizcontest.contest_block_period
                                )
                              }}</span
                            >
                          </p>
                        </div>
                        <div class="col-4 float-left pl-0">
                          <a
                            href="javascript:void(0);"
                            class="btn-style"
                            v-on:click="showContestDetail(quizcontest)"
                            v-if="!checkPlayNow(userPlaykey, quizcontest.id)"
                            >Play Now</a
                          >
                          <a
                            href="javascript:void(0);"
                            class="btn-style not-active"
                            v-else
                            >Played</a
                          >

                          <!-- <a href="javascript:void(0);" class="btn-style"  v-on:click="showContestDetail(quizcontest)" v-if="quizcontest.isContestPlayed == 0">Play Now</a>
                        <a href="javascript:void(0);" class="btn-style not-active" v-else>Played</a> -->
                        </div>
                      </div>
                    </div>
                    <div class="card-box rounded-area" v-if="index == 0">
                      <div class="ads" style="max-height: 185px !important">
                        <Googlead
                          pageCode="DS_QUIZ_IF" :key="googleCompKey"
                          customDesign="width:320px; height: auto; text-align:center; margin: 0 auto;"
                          datalayoutkey="-fb+5w+4e-db+86"
                        />
                      </div>
                      <!-- <div class="ads"><img src="/assets/images/list-ads-placement.jpg" alt=""></div> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- # Quiz Tab Content End Here-->

              <!-- # Cricket Tab Content Start Here-->
              <div
                class="tab-pane fade"
                id="Cricket"
                role="tabpanel"
                aria-labelledby="Cricket-tab"
                v-if="userzone.country == 'IN'"
              >
                <div class="cards-parent">
                  <div
                    v-for="(cricketcontest, index) in cricket_contests"
                    v-if="cricketcontest.prize_money > 0"
                  >
                    <div
                      class="card-box rounded-area"
                      :class="'block_cricketcontest_' + cricketcontest.id"
                    >
                      <div class="row top-content">
                        <div class="col-8">
                          <div class="title-bg">
                            <h6>{{ cricketcontest.category_name }}</h6>
                          </div>
                        </div>
                        <div class="col-4 text-right pl-0">
                          <span
                            class="entry-coins"
                            v-if="!cricketcontest.entry_fee"
                            >Entry: FREE</span
                          >
                          <span class="entry-coins" v-else
                            >Entry:
                            <img src="/assets/images/coin.png" alt="" />
                            {{ cricketcontest.entry_fee }}
                          </span>
                        </div>
                      </div>
                      <div class="mid-content w-100">
                        <div class="col-8 float-left">
                          <div class="icon-outer">
                            <img
                              :src="getImgUrl(cricketcontest.contest_image)"
                              v-bind:alt="cricketcontest.contest_title"
                            />
                          </div>
                          <div class="content d-flex align-items-center">
                            <img src="/assets/images/coin.png" alt="" />
                            <h5>
                              {{ numberWithCommas(cricketcontest.prize_money) }}
                            </h5>
                          </div>
                        </div>
                        <div class="col-4 float-left text-right pl-0">
                          <div class="active-user">
                            <span class="active-sign"></span>
                            <small
                              >{{
                                cricketcontest.total_users_playing
                              }}
                              Users</small
                            >
                          </div>
                        </div>
                      </div>
                      <div class="bottom-content w-100">
                        <div class="col-8 float-left">
                          <p>
                            Contest ends in :
                            <span
                              v-if="cricketcontest.end_time"
                              :id="'cricketcontest_' + cricketcontest.id"
                              >{{
                                loopTimer(
                                  cricketcontest.end_time,
                                  "cricketcontest_" + cricketcontest.id,
                                  "",
                                  cricketcontest.contest_block_period
                                )
                              }}</span
                            >
                          </p>
                        </div>
                        <div class="col-4 float-left pl-0">
                          <a
                            href="javascript:void(0);"
                            class="btn-style"
                            v-on:click="showContestDetail(cricketcontest)"
                            v-if="!checkPlayNow(userPlaykey, cricketcontest.id)"
                            >Play Now</a
                          >

                          <a
                            href="javascript:void(0);"
                            class="btn-style not-active"
                            v-else
                            >Played</a
                          >

                          <!-- <a href="javascript:void(0);" class="btn-style"  v-on:click="showContestDetail(cricketcontest)" v-if="cricketcontest.isContestPlayed == 0">Play Now</a>

                        <a href="javascript:void(0);" class="btn-style not-active" v-else>Played</a> -->
                        </div>
                      </div>
                    </div>

                    <div class="card-box rounded-area" v-if="index == 0">
                      <div class="ads" style="max-height: 185px !important">
                        <Googlead
                          pageCode="DS_CRIC_IF" :key="googleCompKey"
                          customDesign="width:320px; height: auto; text-align:center; margin: 0 auto;"
                          datalayoutkey="-fb+5w+4e-db+86"
                        />
                      </div>
                      <!-- <div class="ads"><img src="/assets/images/list-ads-placement.jpg" alt=""></div> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- # Cricket Tab Content End Here-->

              <!-- # VS Battle Tab Content Start Here-->
              <!--<div class="tab-pane fade battle-content" id="Battle" role="tabpanel" aria-labelledby="Battle-tab">
                  <div class="rounded-area py-3 px-2">
                    <hgroup class="mb-3">
                      <h2>Choose a battle category</h2>
                      <p>and we will connect you to an opponent</p>
                    </hgroup>

                    <div class="cards-parent">
                      <div class="card-box rounded-area" style="border-color:#d47051;">
                        <div class="mid-content w-100">
                          <div class="col-8 float-left">
                            <div class="icon-outer"><img src="/assets/images/games-icon.png" alt=""></div>
                            <div class="content">
                              <h4 style="color:#d47051;">Math</h4>
                              <p>Quiz Battle</p>
                              <h6 style="color:#d47051;">Winning: <img src="/assets/images/coin.png" alt=""><span>40</span></h6>
                            </div>
                          </div>
                          <div class="col-4 float-left pl-0 text-right">
                            <span class="entry-coins">Entry: <img src="/assets/images/coin.png" alt=""> <b>10</b></span>
                            <a href="javascript:void(0);" class="btn-style" style="background-color:#d47051;">Play Now</a>
                          </div>
                        </div>
                      </div>

                      <div class="card-box rounded-area p-0 border-0">
                        <div class="ads"><img src="/assets/images/list-ads-placement.jpg" alt=""></div>
                      </div>

                      <div class="card-box rounded-area" style="border-color:#7f88b7;">
                        <div class="mid-content w-100">
                          <div class="col-8 float-left">
                            <div class="icon-outer"><img src="/assets/images/games-icon.png" alt=""></div>
                            <div class="content">
                              <h4 style="color:#7f88b7;">Science</h4>
                              <p>Quiz Battle</p>
                              <h6 style="color:#7f88b7;">Winning: <img src="/assets/images/coin.png" alt=""><span>40</span></h6>
                            </div>
                          </div>
                          <div class="col-4 float-left pl-0 text-right">
                            <span class="entry-coins">Entry: <img src="/assets/images/coin.png" alt=""> <b>10</b></span>
                            <a href="javascript:void(0);" class="btn-style" style="background-color:#7f88b7;">Play Now</a>
                          </div>
                        </div>
                      </div>

                      <div class="card-box rounded-area" style="border-color:#21aa6b;">
                        <div class="mid-content w-100">
                          <div class="col-8 float-left">
                            <div class="icon-outer"><img src="/assets/images/games-icon.png" alt=""></div>
                            <div class="content">
                              <h4 style="color:#21aa6b;">Literature</h4>
                              <p>Quiz Battle</p>
                              <h6 style="color:#21aa6b;">Winning: <img src="/assets/images/coin.png" alt=""><span>40</span></h6>
                            </div>
                          </div>
                          <div class="col-4 float-left pl-0 text-right">
                            <span class="entry-coins">Entry: <img src="/assets/images/coin.png" alt=""> <b>10</b></span>
                            <a href="javascript:void(0);" class="btn-style" style="background-color:#21aa6b;">Play Now</a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>-->
              <!-- # VS Battle Tab Content End Here-->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style type="text/css">
.not-active {
  pointer-events: none;
  cursor: default;
}
</style>

<script>
import Sidebar from "./../common/Sidebar.vue";
import Loader from "./../common/Loader.vue";
import Header from "./../common/Header.vue";
import Googlead from "./../common/Googlead.vue";
import Messagepopup from "./../common/Messagepopup.vue";
import common from "./../common";
import Prizebreakup from "./../common/Prizebreakup.vue";
import Rulespopup from "./../common/Rulespopup.vue";
import Errorpopup from "./../common/Errorpopup.vue";
import Addhome from "./../common/Addhome.vue";
import $ from "jquery";
export default {
  components: {
    Sidebar,
    Loader,
    Header,
    Googlead,
    Messagepopup,
    Prizebreakup,
    Rulespopup,
    Errorpopup,
    Addhome,
  },
  data() {
    return {
      quiz_contests: [],
      cricket_contests: [],
      battle_contests: [],
      isLoader: false,
      cdn_path: "",
      isUser: false,
      usertype: "",
      message: {},
      error_message: {},
      prize_breakup: [],
      my_games_blank: false,
      userzone: {},
      availableBalance: 0,
      isIndia: false,
      userPlaykey: {},
      pageLoadType: false,
      googleCompKey:0,
      quizData: [],
            cricketData: []

    };
  },

  created: function () {
    this.isUserAuthenticate = common.isUserAuthenticate.bind(this);
    this.adNetworkManipulation = common.adNetworkManipulation.bind(this);
    this.showMessagePopup = common.showMessagePopup.bind(this);
    this.formatAMPM = common.formatAMPM.bind(this);
    this.showPrizeBreakup = common.showPrizeBreakup.bind(this);
    this.loopTimer = common.loopTimer.bind(this);
    this.getImgUrl = common.getImgUrl.bind(this);
    this.convertDateToTime = common.convertDateToTime.bind(this);
    this.timeDiffCalc = common.timeDiffCalc.bind(this);
    this.numberWithCommas = common.numberWithCommas.bind(this);
    this.checkPlayNow = common.checkPlayNow.bind(this);
    this.userPlayContestKey = common.userPlayContestKey.bind(this);
    this.userPlaykey = this.userPlayContestKey();
    this.showErrorPopup = common.showErrorPopup.bind(this);
    this.updateAdStorage = common.updateAdStorage.bind(this);
    this.loadOnce = common.loadOnce.bind(this);
    this.pageLoadType = this.$pageLoadType;
    this.isUser = this.isUserAuthenticate();

    this.userzone = $cookies.get("userzone");

    let self = this;
    self.isLoader = true;

    let user_name = self.$cookies.get("user_name");

    let balance = self.$cookies.get("ubal");
    if (balance > 0) {
      self.availableBalance = balance;
    }

    let userzone = $cookies.get("userzone");
    if (userzone && (userzone.country == "IN" || userzone.country == "-")) {
      self.isIndia = true;
    }

    let contestParam = this.$route.query.a;

    if (contestParam == undefined || contestParam === "quiz") {
      var response = this.$httpClient.get("quizcontests").then((res) =>{
        // console.log('results:');
        // console.log(res.data);
        if (res.data.status_code == 200) {
           self.quizData = res.data.response[0].quizcontests.contests;
              self.quizData = self.quizData.map((item) => {
              item.timer = this.convertDateToTime(item.end_time, item.contest_block_period);;
            return item;
          });

          self.quiz_contests = self.quizData.filter(item => item.timer!="00:00:00");

          localStorage.setItem("contest_type", "quiz_contests");
          localStorage.setItem(
            "quiz_contests",
            JSON.stringify(self.quiz_contests)
          );

          //check if user bonus is distributed
          self.usertype = localStorage.getItem("usertype");
          //console.log(self.usertype);
          if (self.usertype == "NEW") {
            self.message = {
              title: "",
              text:
                '<div class="daily-bonus-content"><h3>Welcome to Qureka Lite!</h3><p><img src="/assets/images/coin.png" alt=""><span>100</span> has been added into your coin wallet as sign-up bonus.</p></div>',
            };
            self.showMessagePopup(self.message);
            localStorage.removeItem("usertype");
          }

          //check for daily bonus
          var dailybonus = self.$cookies.get("dailybonus");
          // console.log('dailybonus'+dailybonus);
          if (dailybonus == "YES") {
            self.message = {
              title: "",
              text:
                '<div class="daily-bonus-content"><h3>Daily bonus added!</h3><p>We have added coin <img src="/assets/images/coin.png" alt=""> <span>75</span> into your coin wallet as your daily bonus</p></div>',
            };
            self.showMessagePopup(self.message);
            self.$cookies.remove("dailybonus");
            localStorage.removeItem("dailybonus");
          }

          var coinbalancepopup = self.$cookies.get("coinbalancepopup");
          user_name = self.$cookies.get("user_name");
          balance = self.$cookies.get("ubal");

          if (self.isUser && !coinbalancepopup) {
            $("#messagepopup .modal-content").addClass("yourcoinbalance-modal");
            //$cookies.set('isClass_coinbalancepopup', 'true');
            var message = "Welcome, <span>" + user_name + "</span>";
            var text =
              '<div class="coin-balance-content"><div class="coin-inner mb-2"><p>Your Coin Balance</p><h5 class="d-flex align-items-center justify-content-center"><img src="/assets/images/coin.png" alt=""><span>' +
              balance +
              "</span></h5></div></div><span>Keep quizzing to win more coins</span>";
            self.message = { title: message, text: text };
            self.showMessagePopup(self.message);

            var expDate = new Date();
            expDate.setTime(expDate.getTime() + (15 * 60 * 1000)); // add 15 minutes
            $cookies.set("coinbalancepopup", true, expDate);
          }
        }

        self.isLoader = false;
      });
    }
    if (this.$route.query.a === "cricket") {
      var response = this.$httpClient
        .get("cricketcontests")
        .then(function (res) {
          if (res.data.status_code == 200) {
            self.quiz_contests = res.data.response[0].cricketcontests.contests;
            localStorage.setItem("contest_type", "cricket_contests");
            localStorage.setItem(
              "cricket_contests",
              JSON.stringify(self.cricket_contests)
            );
          }

          self.isLoader = false;
        });
    }

    let user = this.$cookies.get("user_id");
    if (user == null || user == undefined) {
      user = this.$cookies.get("cutka");
      // user = this.$md5(user);
      // console.log('user md5:'+user);
    }
    // console.log(user);
    //call truepush
    /* setTimeout(function() {
               var truepush = window.truepush || [];

               console.log('truepush triggeer');
              truepush.push(function(){
                  truepush.Init({
                      id: "5ff8a3d69032769ba8ab8d7a"
                  },function(error){
                    //if(error) console.error(error);
                  })
              });

              //push new tag
              truepush.push({
                operation: "add-tags",
                data: [{ tagName: "mgl_uuid", tagType: "string", tagValue: "mgl_"+user },{ tagName: "mgl_domain", tagType: "string", tagValue: window.location.hostname }],
                callback: function(error,response){
                            //console.log(error,response);
                          }
                })
          }, 2000);
           */

    // console.log('dashboard inn');

    this.$cookies.set("uvisit", "2");
    self.watchForBalance();
  },
  mounted() {
    $("header").addClass("dashboard-header");

    $("header .hamburger-icon").on("click", function () {
      $(".menu-wrapper").toggleClass("open");
    });
    $(".menu-wrapper .close-icon").on("click", function () {
      $(".menu-wrapper").removeClass("open");
    });

    $(".menu-wrapper .plus-btn").on("click", function () {
      $(".social-icons").addClass("addgap");
      $(this).siblings(".avtars").slideDown();
    });

    $(".menu-wrapper .avtars .closeIcon img").on("click", function () {
      $(".social-icons").removeClass("addgap");
      $(this).parents(".avtars").slideUp();
    });

    $(".quiz-cricket-battle-tabs .nav-tabs .nav-item .nav-link").on(
      "click",
      function () {
        var getTabId = $(this).attr("id");
        if (getTabId == "Battle-tab") {
          $(".quiz-cricket-battle-tabs .bottom-strip .trophy-icon").hide();
          $(".quiz-cricket-battle-tabs .bottom-strip .mybatties-icon").show();
        } else {
          $(".quiz-cricket-battle-tabs .bottom-strip .trophy-icon").show();
          $(".quiz-cricket-battle-tabs .bottom-strip .mybatties-icon").hide();
        }
      }
    );

    if (this.$route.query.a === "cricket") {
      $("#Quiz-tab").removeClass("active");
      $("#Cricket-tab").addClass("active");
      $("#Quiz-tab").attr("aria-selected", "true").prop("selected", true);
      $("#Cricket-tab").attr("aria-selected", "true").prop("selected", true);
    }

    //include truepush and take action
    // let script = document.createElement('script')
    // script.setAttribute('src', 'https://sdki.truepush.com/sdk/v2.0.2/app.js');
    // // script.async=true;
    // document.head.appendChild(script);

    this.updateAdStorage();

    this.loadOnce();
  },
  methods: {
    greetings: function () {},
    watchForBalance: function () {
      let self = this;
      if (
        self.availableBalance == 0 ||
        self.availableBalance == "" ||
        self.availableBalance == null
      ) {
        setTimeout(() => {
          self.availableBalance = self.$cookies.get("ubal");
          self.watchForBalance();
        }, 1000);
      }
    },
    showContestDetail: function (contest) {
     let timer = this.convertDateToTime(contest.end_time, contest.contest_block_period);
     if(timer == "00:00:00") {
     var message = '<h2></h2>';
        var text = "Contest ended, please play other contests";
        this.error_message = { title: message, text: text };
        this.showErrorPopup(this.error_message);
      return false;
     }
     
      let self = this;
      let balance = self.$cookies.get("ubal");

      if (balance < contest.entry_fee && this.isUser) {
        var message =
          '<img src="/assets/images/lost-emoji-img.png" alt=""><h2>OOPS! <span>Not enough coins</span></h2>';
        var text =
          "You don't have enough coins to join this contest. Please try & join some other contest.";
        self.error_message = { title: message, text: text };
        self.showErrorPopup(self.error_message);
      } else {
        // console.log(contest);
        localStorage.setItem("contest_detail", JSON.stringify(contest));
        const id = btoa(contest.id);

        if(this.$pageLoadType === 'true'){
            window.location.href = "/contest/"+id;
        }else{
          this.$router.push({ name: "contest-details", params: { id } });
        }
        
      }
    },

    updateGoogleCompKey:function(){
             console.log('gocomkey: '+this.googleCompKey);
             this.googleCompKey +=1;
           },

    getImgUrl: function (path) {
      return this.cdn_path + path;
    },
    cricketContests: function () {
      let self = this;
      this.isLoader = true;
      this.updateGoogleCompKey();
      var response = this.$httpClient
        .get("cricketcontests")
        .then( (res) => {
          if (res.data.status_code == 200) {
            self.cricketData =
              res.data.response[0].cricketcontests.contests;

      self.cricketData = self.cricketData.map((item) => {
              item.timer = this.convertDateToTime(item.end_time, item.contest_block_period);;
            return item;
          });

          self.cricket_contests = self.cricketData.filter(item => item.timer!="00:00:00");
        


            localStorage.setItem("contest_type", "cricket_contests");
            localStorage.setItem(
              "cricket_contests",
              JSON.stringify(self.cricket_contests)
            );
          }

          self.isLoader = false;
        });

      // this.$router.push({ name: 'Cricket-Dashboard', query:{a:'cricket'} });
    },
    quizContests: function () {
      let self = this;
      this.isLoader = true;
      this.updateGoogleCompKey();

      var response = this.$httpClient.get("quizcontests").then((res) => {
       if (res.data.status_code == 200) {
           self.quizData = res.data.response[0].quizcontests.contests;
              self.quizData = self.quizData.map((item) => {
              item.timer = this.convertDateToTime(item.end_time, item.contest_block_period);;
            return item;
          });

          self.quiz_contests = self.quizData.filter(item => item.timer!="00:00:00");


          localStorage.setItem("contest_type", "quiz_contests");
          localStorage.setItem(
            "quiz_contests",
            JSON.stringify(self.quiz_contests)
          );
        }

        self.isLoader = false;
      });
    },
    viewAllGame: function () {
      $("#allgames-tab").click();
    },
  },
  beforeDestroy: function () {
    //this.$cookies.remove('ubal');
  },
};
</script>