<template>
    <div>
         <!-- # Ads -->
      <Subheader titleIcon="" titleName="Partner Us" isBack="true" />
       
      
      <section class="contactus-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="rounded-area text-left partnerus-page">
                <div class="image-outer"><img src="/assets/images/partnerus-featured-min.jpg" alt=""></div>
                <p>Are you an App or website owner & want to Partner with us to integrate Qureka Lite as a Publisher in your products? </p>
                <h5>kindly reach out to us at</h5>
                <h6><a href="mailto:partner@qurekalite.com">partner@qurekalite.com</a></h6>
                <!-- <h5>Are you an app/ web publisher?</h5> -->
                <p>Your App/Website should be live and do not forget to mention your product name, product URL, and your contact number.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
     
    </div>
</template>
 
<script>
import Subheader from "../common/Subheader.vue";
import common from '../common';

   export default {

     components: {
        Subheader
        },
     data() {
           return {
            
           }
       },
       
         created: function() {
this.loadOnce = common.loadOnce.bind(this);
         
          
         },
         mounted() {
           this.loadOnce();
         },
         methods: {
          
          }
   };
</script>