<template>
   <div>
    <layoutblocker :isVisible="blockpage" :text="blockpagetext"/>
    <loader :isVisible="isLoader" text="loading"/>
      <errorpopup  :message="error_message"/>
      <Confirmpopup  :message="error_message"/>

       <Subheader :titleIcon="getImgUrl(contest.contest_image)" :titleName="contest.category_name +' Quiz'" isBack="true"/>


      <section class="question-screen-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="inner w-100 text-center">
                <div class="all-question-count"><span>{{question_position}}</span>/25</div>
                <div class="question">
                  <h3>{{current_question.question_title}}</h3>
                  <div class="hatrick-content text-center" v-if="isShowHattrick">
                    <img src="/assets/\images/hatric-star.png" alt="">
                    <h4>Hat-trick!</h4>
                    <p>10 points added!</p>
                  </div>
                </div>
                <div class="timer-parent w-100 d-inline-block">
                  <div data-progress="0">
                    <div class="circle quad1"></div>
                    <div class="circle quad2"></div>
                    <div class="circle quad3"></div>
                    <div class="circle quad4"></div>
                    <div class='counter'>90</div>
                  </div>
                </div>
                 <div class="options">
                  <a href="javascript:void(0);" @click="e => valid && submitAnswer(current_question,'A')" class="option option_A">{{current_question.option_1}}</a>
                  <a href="javascript:void(0);" @click="e => valid && submitAnswer(current_question,'B')" class="option option_B">{{current_question.option_2}}</a>
                  <a href="javascript:void(0);" @click="e => valid && submitAnswer(current_question,'C')" class="option option_C">{{current_question.option_3}}</a>
                </div>

                <div class="your-total-score pb-3">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 text-center d-flex align-items-center justify-content-center">
                        <h5><img src="/assets/images/your-score-icon.png" alt="">Your Score: <span>{{userscore}}</span></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
         
     
      <!-- # Tabs section -->
      <!-- <router-link to="/score/1" active-class="active">Score Page</router-link> -->
     

    
   </div>
</template>
<style type="text/css">
  .fullscreen
  {
    width:100% !important;
    max-width:100% !important;
  }
</style>
<script>
window.Vue = require('vue');
export const EventBus = new Vue();
if (window.addEventListener) {
                 window.addEventListener("message", onMessage, false);        
              } 
              else if (window.attachEvent) {
                  window.attachEvent("onmessage", onMessage, false);
              }

function onMessage(event) {
    // Check sender origin to be trusted
    // console.log(event.origin);
     let cdn_url = process.env.MIX_GAME_CDN_URL;
    if(cdn_url==null || cdn_url==undefined)
    {
      cdn_url = 'https://cdn.mobilegamesleague.com';
    }
    if (event.origin !== cdn_url) return;
    // console.log(event);
    var data = event.data;
    // console.log('event data:'+data);
    // console.log('event message:'+data.message);

    //window[data.func].call(null, data.message);
    EventBus.$emit(data.func, data.message);
   
}
import Loader from "./../common/Loader.vue";
import Layoutblocker from "./../common/Layoutblocker.vue";
import Errorpopup from "./../common/Errorpopup.vue";
import Confirmpopup from "./../common/Confirmpopup.vue";
import Subheader from "./../common/Subheader.vue";
import common from './../common';

   export default {
    components: {
        Loader,Layoutblocker,Errorpopup,Confirmpopup,Subheader
        },
     data() {
           return {
               game : {},
               iframeVisibility:false,
               isLoader:false,
               game_url:"",
               game_layout:"",
               screen_orientation:"",
               blockpage:false,
               pageblocknew:true,
               blockpagetext:"",
               current_score:0,
               iframeheight:0,
               iframewidth:0,
               error_message:{},
               contest:{},
               questionTimer:"",
               questionset:[],
               question_position:0,
               max_question:25,
               correct_answer:0,
               wrong_answer:0,
               hattrick:0,
               userscore:0,
               current_question:{},
               timeup:false,
               timeupflag:false,
               isShowHattrick:false,
               pageLoadType: false,
               valid: true
   
           }
       },
         created: function() {
           let self = this;
           this.isLoader=true;
           // return false;
           //alert();
            //bind functions
           self.scoreUpdator = common.scoreUpdator.bind(this);
           this.getImgUrl = common.getImgUrl.bind(this);
           // self.submitScore = common.submitScore.bind(this);
           self.showErrorPopup = common.showErrorPopup.bind(this);
           self.showConfirmPopup = common.showConfirmPopup.bind(this);
           this.timeDiffInSecond = common.timeDiffInSecond.bind(this);
           this.userPlayContestKey = common.userPlayContestKey.bind(this);
this.loadOnce = common.loadOnce.bind(this);
            this.pageLoadType = this.$pageLoadType;

           if($.isEmptyObject(this.contest))
           {
              var contestData = localStorage.getItem('playcontest');
              contestData = JSON.parse(contestData);

              // console.log('self.contest');
              // console.log(self.contest);

              let questionset = contestData.questionset;
              questionset = JSON.parse(atob(questionset));
              // console.log(questionset);
              if(questionset!=null)
               {
                  self.questionset = questionset;
                  self.current_question = self.questionset[0];
                  self.question_position = parseInt(self.question_position)+1;

                   // console.log('self.current_question');
                   // console.log(self.current_question);
               }

               let contestObject = localStorage.getItem('contest_detail');
                if(contestObject!=undefined)
                {
                  //console.log('object from '+contestObject);
                  contestObject = JSON.parse(contestObject);
                  var id = atob(this.$route.params.id)
                  if(contestObject.id == id)
                  {this.contest = contestObject;}
                  else
                    {console.log('need to fetch from live server');}
                  
                }

               self.isLoader=false;

           }

           
           let playContestCookieKey = this.userPlayContestKey();
           let contestPlayed = JSON.parse($cookies.get(playContestCookieKey));
           if(contestPlayed == null){
              contestPlayed = new Array();                           
           }

           contestPlayed.push(parseInt(atob(this.$route.params.id))); 
           contestPlayed = $.unique(contestPlayed);
           $cookies.set(playContestCookieKey, JSON.stringify(contestPlayed));

          

          },
         mounted: function()
         {
           //this.loadOnce();
           this.timeupflag = setInterval(this.timeUpCheck, 3000);
           this.startQuestionSetTimer();

        },
         methods: {
             startQuestionSetTimer: function()
              {
                    var progressbar = document.querySelector('div[data-progress]'),
                    quad1 = document.querySelector('.quad1'),
                    quad2 = document.querySelector('.quad2'),
                    quad3 = document.querySelector('.quad3'),
                    quad4 = document.querySelector('.quad4'),
                    counter = document.querySelector('.counter');

                  this.questionTimer = setInterval(this.incrementProg, 1000); // call function every second

                  
              },
              setPie: function(progress) {
                    var quad1 = document.querySelector('.quad1'),
                    quad2 = document.querySelector('.quad2'),
                    quad3 = document.querySelector('.quad3'),
                    quad4 = document.querySelector('.quad4');
                    var progressbar = document.querySelector('div[data-progress]');
                    var progress = progressbar.getAttribute('data-progress'); 
                    var counter = document.querySelector('.counter');
                    /* If progress is less than 25, modify skew angle the first quadrant */
                    if (progress <= 22.5) {
                     quad1.setAttribute('style', 'transform: skew(' + progress * (-90 / 22.5) + 'deg)');
                    }

                    /* Between 25-50, hide 1st quadrant + modify skew angle of 2nd quadrant */
                    else if (progress > 22.5 && progress <= 45) {
                      quad1.setAttribute('style', 'transform: skew(-90deg)'); // hides 1st completely
                      quad2.setAttribute('style', 'transform: skewY(' + (progress - 22.5) * (90 / 22.5) + 'deg)');
                      progressbar.setAttribute('style', 'box-shadow: inset 0px 0px 0px 6px #ff0000'); 
                    }

                    /* Between 50-75, hide first 2 quadrants + modify skew angle of 3rd quadrant */
                     else if (progress > 45 && progress <= 67.5) {
                    quad1.setAttribute('style', 'transform: skew(-90deg)'); // hides 1st completely
                    quad2.setAttribute('style', 'transform: skewY(90deg)'); // hides 2nd completely
                    quad3.setAttribute('style', 'transform: skew(' + (progress - 45) * (-90 / 22.5) + 'deg)');
                    progressbar.setAttribute('style', 'box-shadow: inset 0px 0px 0px 6px #ff0000');
                  }

                    /* Similar to above for value between 75-100 */
                    else if (progress > 67.5 && progress <= 90) {
                    quad1.setAttribute('style', 'transform: skew(-90deg)'); // hides 1st completely
                    quad2.setAttribute('style', 'transform: skewY(90deg)'); // hides 2nd completely
                    quad3.setAttribute('style', 'transform: skew(-90deg)'); // hides 3rd completely
                    quad4.setAttribute('style', 'transform: skewY(' + (progress - 67.5) * (90 / 22.5) + 'deg)');
                    progressbar.setAttribute('style', 'box-shadow: inset 0px 0px 0px 6px #ff0000');
                  }
                  
                  },
              incrementProg: function()
              {
                let self = this;
                var progressbar = document.querySelector('div[data-progress]'),
                 progress = progressbar.getAttribute('data-progress'); 
                 var counter = document.querySelector('.counter');//get current value
                    progress++; // increment the progress bar value by 1 with every iteration
                    progressbar.setAttribute('data-progress', progress); //set value to attribute
                    if(progress <= 90){
                      counter.textContent = 90 - parseInt(progress, 10); // set countdown timer's value
                    }
                    this.setPie(progress); // call the paint progress bar function based on progress value
                    // console.log('progress:');
                    // console.log(progress);
                    if (progress == 90) {
                      this.timeup = true;
                      self.isLoader=true;
                      //if time up
                      setTimeout(function() { 
                      //console.log('coming in incrementProg');
                       self.submitScore();
                      }, 3000);
                      clearInterval(this.questionTimer); // clear timer when countdown is complete
                       
                    }
              },
              submitAnswer: function(question,option)
             {
                let self = this;
                $('.option').removeClass('correct');
                $('.option').removeClass('wrong');
                self.isLoader=true;
                self.valid=false;
                this.isShowHattrick = false;
                
                if(question.correct_answer==option)
                {
                  $('.option_'+option).addClass('correct');
                  $('.option_'+option).addClass('right-answer');
                  self.correct_answer = parseInt(self.correct_answer) + 1;
                  //add 20 if answer is correct
                  self.userscore = parseInt(self.userscore) + 20;
                  self.hattrick +=1;

                  if(self.hattrick==3)
                  {
                    self.userscore = parseInt(self.userscore) + 10;
                    self.hattrick = 0;
                    this.isShowHattrick = true;
                  }else if (self.hattrick < 3) {
                    this.isShowHattrick = false;
                  }
                }
                else
                {
                  $('.option_'+option).addClass('wrong');
                  $('.option_'+option).addClass('wrong-answer');
                  //deduct 10 if answer is wrong
                  self.userscore = parseInt(self.userscore) - 10;
                  self.hattrick = 0;
                }

                self.scoreUpdator(this.userscore);

                // console.log(this.question_position);
                // console.log(self.question_position);
                // console.log('self.max_question:'+self.max_question);
                // console.log('self.question_position:'+self.question_position);
                // console.log('self.timeup:'+self.timeup);
                if(self.max_question == (self.question_position) || self.timeup==true)
                {
                  self.isLoader=true;
                  clearInterval(this.questionTimer); 
                  setTimeout(function() { 
                    //console.log('coming in max question1');                    
                     self.submitScore();
                     self.isLoader=false;
                     return false;
                    }, 3000);

                  //clearInterval(this.questionTimer);
                  // localStorage.setItem('intro_correct_answer', self.correct_answer);
                  // self.submitScore();
                   //return false;
                }else{
                      setTimeout(function(){ 
                      self.question_position = parseInt(self.question_position)+1; 
                      var current_question = self.questionset[self.question_position-1];
                      if(current_question!=undefined)
                      {self.current_question = current_question;}
                     
                      $('.option').removeClass('right-answer');
                      $('.option').removeClass('wrong-answer');
                      self.valid=true;
                    // console.log(self.question_position);
                    // console.log(self.current_question.correct_answer);
                    self.isLoader=false;
                    }, 500);
                }

                


                

                

                
                // console.log(self.current_question.correct_answer);
             },
             timeUpCheck: function()
             {
                let self = this;
                if(this.timeup==true)
                {
                
                  clearInterval(this.questionTimer);
                  clearInterval(this.timeupflag);
                  setTimeout(function() { 
                 // console.log('coming in timeUpCheck');
                  self.submitScore();
                 }, 3000);
                }
             },

             submitScore: function()
             {

                let self = this;
                self.isLoader = true;

               
                  let seo_id = this.$route.params.id;
                  
                  this.$httpClient.get('score/'+ seo_id+'/submit').then(function(res){

                      //inject data in localstorage and move to next screen
                      let score = res.data.response[0].loggedScore;
                      let rank = res.data.response[0].loggedUserRank;
                      let contest = JSON.stringify(res.data.response[0].contest);
                      localStorage.setItem('score_name', seo_id);
                      localStorage.setItem('score_value', score);
                      localStorage.setItem('score_rank', rank);
                      localStorage.setItem('contest_score', contest);
                      
                       // console.log('results:');
                       // console.log(res.data);
                       // self.isLoader = false;

                       if(self.$pageLoadType === 'true'){
                            window.location.href = "/contestscore/"+seo_id;
                        }else{
                          self.$router.replace({ name: 'contestscore',params: { seo_id }
                        });
                   }
                
             });
           
         },
         beforeDestroy: function(){
            console.log('DESTROYYYY!!!');
            //add full screen option
               // $('.app-wrapper-container').removeClass('fullscreen');

            //remove playcontest storage
            // localStorage.removeItem('playcontest');
            // this.$cookies.remove('ubal');

            clearInterval(this.questionTimer);
            clearInterval(this.timeupflag);

          },
          beforeRouteLeave (to, from, next) {

              //console.log('from name'+ from.name);
             //console.log('to name'+ to.name);

            if(from.name=='playcontest' && to.name=='contest-details')
            {
                let redirecturl = '/';

                 this.error_message = {'title':"Warning!",'text':"Do you want to exit? you will loose your coin.",'url':redirecturl};
                this.showConfirmPopup(this.error_message);
                next(false);
            }
            else
            {
              next();
            }
            //next();
            
          },
          beforeRouteEnter (to, from, next) {

            //  console.log('enter from name:'+ from.name);
            // console.log('enter to name:'+ to.name);

            //ignore if user refresh the page
            if(from.name=='contest-details' && to.name=='playcontest')
             {
               next();
             }else{
              next('/');
             }
            //next();

          // called before the route that renders this component is confirmed.
          // does NOT have access to `this` component instance,
          // because it has not been created yet when this guard is called!
        },
   }
  };
</script>