<template>
    <div>
      
      <section class="port-coin-success-page py-4">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="rounded-area text-center">
                <div class="inner mb-2 text-center">
                  <img src="/assets/images/success-right-icon.png" alt="" class="top-icon">
                  <h4><img src="/assets/images/coin.png" alt=""> <span>{{ portedCoin }}</span></h4>
                  <p> have been ported to your account</p>
                  <div class="text-center w-100">
                    <router-link to="/wallet" tag="a" class="btn-style" v-if="pageLoadType === 'false'">Coin Wallet</router-link>
                    <a href="/wallet" tag="a" class="btn-style" v-else>Coin Wallet</a>
                    <router-link to="/" tag="a" class="btn-style" v-if="pageLoadType === 'false'">Play Quiz</router-link>
                    <a href="/" tag="a" class="btn-style" v-else>Play Quiz</a>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
     
    </div>
</template>
 
<script>
import Loader from "./../common/Loader.vue";
import Subheader from "./../common/Subheader.vue";
import common from './../common';

   export default {

     components: {
        Subheader
        },
     data() {
           return {

                  portedCoin : {},
                  pageLoadType: false,
           }
       },
       
         created: function() {
this.loadOnce = common.loadOnce.bind(this);
          //this.portedCoin = this.$route.params.port_coin;
           this.portedCoin = this.$route.params.coin;
         this.pageLoadType = this.$pageLoadType;
          
         },
         mounted() {
           this.loadOnce();
         },
         methods: {
          
          }
   };
</script>