<template>
    <div>
         <!-- # Ads -->
        <loader :isVisible="isLoader" text="loading"/>
        <errorpopup  :message="error_message"/>
      <Subheader titleIcon="/assets/images/multi-coin.png" titleName="Port your coin" isBack="true" />
       
      <section class="port-coin-otp-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="rounded-area text-center">
                <div class="inner">
                  <div id="resendOtpMsg"></div>
                  <h2>Enter OTP below</h2>
                  <div class="otp-inputs">
                 <!-- <numkeyboard class="otpBox"  v-model="otp1" id="otp1" ok-text="OK" text-align="left" @keypress="isNumber($event)" maxlength="1"></numkeyboard>
                 <numkeyboard class="otpBox"  v-model="otp2" id="otp2" ok-text="OK" text-align="left" @keypress="isNumber($event)" maxlength="1"></numkeyboard>
                 <numkeyboard class="otpBox"  v-model="otp3" id="otp3"  ok-text="OK" text-align="left" @keypress="isNumber($event)" maxlength="1"></numkeyboard>
                 <numkeyboard class="otpBox"  v-model="otp4" id="otp4" ok-text="OK" text-align="left" @keypress="isNumber($event)" maxlength="1"></numkeyboard>
                 <numkeyboard class="otpBox"  v-model="otp5" id="otp5" ok-text="OK" text-align="left" @keypress="isNumber($event)" maxlength="1"></numkeyboard>
                 <numkeyboard class="otpBox" v-model="otp6" id="otp6" ok-text="OK" text-align="left" @keypress="isNumber($event)" maxlength="1"></numkeyboard> -->


                    <!-- <input type="text" v-model="otp1" id="otp1" @keypress="isNumber($event)" maxlength="1">
                    <input type="text" id="otp2" v-model="otp2" @keypress="isNumber($event)" maxlength="1">
                    <input type="text" id="otp3" v-model="otp3" @keypress="isNumber($event)" maxlength="1">
                    <input type="text" id="otp4" v-model="otp4" @keypress="isNumber($event)" maxlength="1">
                    <input type="text" id="otp5" v-model="otp5" @keypress="isNumber($event)" maxlength="1">
                    <input type="text" id="otp6" v-model="otp6" @keypress="isNumber($event)" maxlength="1"> -->

  <div style="display: flex; flex-direction: row;">
    <v-otp-input
      ref="otpInput"
      input-classes="otp-input"
      separator="-"
      :num-inputs="6"
      input-type	= 'number'
      :should-auto-focus="true"
      :is-input-num="true"
      @on-change="handleOnChange"
      @on-complete="handleOnComplete"
    />
 
    <!-- <button @click="handleClearInput()">Clear</button> -->
  </div>

                  </div>
                  <a href="javascript:void(0);" @click="submitOtp()" class="btn-style">Submit</a>
                  <div class="row resend-otp-text mt-4">
                    <div class="col-6 px-2 text-center">
                    <router-link to="/portcoin" tag="a" v-if="pageLoadType === 'true'">Change Number</router-link><a href="/portcoin" tag="a" v-else>Change Number</a></div>
                    <div class="col-6 px-2 text-center"><a href="javascript:void(0);" @click="resendOtp()">Resend OTP</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
    </div>
</template>

<style type="text/css">
.error {
  background: #e66f6f;
}
.success {
  background: #3d923c;
}
</style>
 
<script>
import Loader from "./../common/Loader.vue";
import Errorpopup from "./../common/Errorpopup.vue";
import Subheader from "./../common/Subheader.vue";
import common from './../common';

   export default {

     components: {
        Errorpopup,Loader,Subheader
        },
     data() {
           return {
              isLoader:false,
             error_message:{},
             otp1 : "",
             otp2 : "",
             otp3 : "",
             otp4 : "",
             otp5 : "",
             otp6 : "",
             pageLoadType: false,
             otpValue: "",
           }
       },
       
         created: function() {
this.loadOnce = common.loadOnce.bind(this);
         let self = this;
         self.showErrorPopup = common.showErrorPopup.bind(this);
         self.pageLoadType = self.$pageLoadType;
         },
         mounted() {
           this.loadOnce();
           $(".otp-inputs input").keyup(function () {
            if (this.value.length == this.maxLength) {
              $(this).next('.otp-inputs input').focus();
            }
          });
         },   
         methods: {

    handleOnComplete(value) {
      console.log('OTP completed: ', value);
      this.otpValue = value;
    },
    handleOnChange(value) {
      console.log('OTP changed: ', value);
    },
    handleClearInput() {
      this.$refs.otpInput.clearInput();
    },


            submitOtp: function()
             {
                let self = this;
                self.isLoader = true;
                // let otp = (this.otp1) + (this.otp2) + (this.otp3) + (this.otp4) + (this.otp5) + (this.otp6);

                if(this.otpValue == ""){
                   $('#resendOtpMsg').addClass( "error" );
                    $('#resendOtpMsg').removeClass( "success" );
                    $('#resendOtpMsg').text('Invalid OTP');
                }else{

                this.$httpClient.get('portcoin/'+ this.otpValue).then(function(res){
                  //  console.log(res.data);
                    
                    if(res.data.status_code == 400){
                       /* var message = res.data.message;
                        var text = res.data.message;
                        self.error_message = {'title':message,'text':text};
                        self.showErrorPopup(self.error_message);
                        self.isLoader = false; */

                         $('#resendOtpMsg').addClass( "error" );
                        $('#resendOtpMsg').removeClass( "success" );
                        $('#resendOtpMsg').text(res.data.message);
                    }

                    if(res.data.status_code == 200){
                      self.isLoader = false;
                      let port_coin = res.data.response[0].portcoin.portedCoin;

                      if(self.$pageLoadType === 'true'){
                          window.location.href = "/portcoinsuccess/"+port_coin;
                      }else{
                        self.$router.replace({ name: 'portcoinsuccess',params: { port_coin }  });
                      }
                      
                    }
                   
                      
                });     
                }           
             },
            isNumber: function(evt) {
              evt = (evt) ? evt : window.event;
              var charCode = (evt.which) ? evt.which : evt.keyCode;
              if ((charCode < 48 || charCode > 57) && charCode !== 46) {
                evt.preventDefault();;
              } else {
                return true;
              }
            },
            resendOtp: function()
             {
                let self = this;
                self.isLoader = true;
                let mobile_no = localStorage.getItem('mobile_number');
                $('#resendOtpMsg').text('');


                  this.$httpClient.get('portcoinmobile/'+ mobile_no).then(function(res){
                    console.log(res.data);
                    if(res.data.status_code == 400){
                      self.isLoader = false;
                      self.seen = true;
                      $('#resendOtpMsg').addClass( "error" );
                      $('#resendOtpMsg').removeClass( "success" );
                      $('#resendOtpMsg').text(res.data.response.errors.message);
                    }

                    if(res.data.status_code == 200){
                      localStorage.setItem('mobile_number', mobile_no);
                      self.isLoader = false;

                      self.$router.replace({ name: 'portcoinotp',params: { mobile_no } });
                      $('#resendOtpMsg').removeClass( "error" );
                      $('#resendOtpMsg').addClass( "success" );
                      $('#resendOtpMsg').text(res.data.response[0].message);

                      /*if(self.$pageLoadType === 'true'){
                          window.location.href = "/portcoinotp/"+mobile_no;
                      }else{
                        self.$router.replace({ name: 'portcoinotp',params: { mobile_no }  
                      });
                    } */
                    }
                  
                  });

             }
          }
   };
</script>

<style>
  .otp-input {
width: 34px;
    height: 35px;
    padding: 5px;
    margin: 0 5px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    /* &.error {
      border: 1px solid red !important;
    } */
  }
  .otp-input::-webkit-inner-spin-button,
  .otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>