<template>
    <div>
         <!-- # Ads -->
      <loader :isVisible="isLoader" text="loading"/>
      <Subheader titleIcon="/assets/images/multi-coin.png" titleName="Port your coin" isBack="true" />
       
      
      <section class="contactus-page port-your-coin-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="rounded-area text-center">
                
                <div class="content" v-if="isLoggedUser">
                  <p>Have you used Qureka Lite by logging in with your mobile number in the past?
                  If yes, then enter your registered mobile number below so we can verify your account and import your coins to this 
                  account.</p>
                  <input class="numberTextBox" type="tel" v-model="mobile_number" id="mobile_number" placeholder="Enter your mobile number" @keypress="isNumber($event)">
                 <!-- <numkeyboard class="numberTextBox" v-model="mobile_number" id="mobile_number" placeholder="Enter your mobile number" @keypress="isNumber($event)" ok-text="OK" text-align="left"></numkeyboard> -->

                  <span class="error-message" v-if="seen">Please enter a mobile number registered with Qureka Lite</span>
                  <a href="javascript:void(0);" @click="submitMobile()" class="btn-style">Submit</a>
                </div>

                <div  v-if="!isLoggedUser">
                  <router-link :to="'/signup'" tag="a"  class="btn-style" v-if="pageLoadType === 'false'">Join Now</router-link>
                  <a href="/signup" tag="a"  class="btn-style" v-else>Join Now</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
     
    </div>
</template>
 
<script>
import Loader from "./../common/Loader.vue";
import Subheader from "./../common/Subheader.vue";
import common from './../common';

   export default {

     components: {
        Loader,Subheader
        },
     data() {
           return {
            isLoader:false,
            seen: false,
            mobile_number : "",
            pageLoadType: false,
           }
       },
       
         created: function() {
this.loadOnce = common.loadOnce.bind(this);
           let self = this;
          this.isUserAuthenticate = common.isUserAuthenticate.bind(this);
          this.isLoggedUser = this.isUserAuthenticate(); 
          this.pageLoadType = self.$pageLoadType;           
          
         },
         methods: {
            submitMobile: function()
             {
                let self = this;
                self.isLoader = true;
                let mobile_no = this.mobile_number; 

                if(mobile_no == ''){
                  self.seen = true;
                }else{

                  this.$httpClient.get('portcoinmobile/'+ mobile_no).then(function(res){
                    //console.log(res.data);
                    if(res.data.status_code == 400){
                      $('.error-message').text(res.data.response.errors.message);
                      self.isLoader = false;
                      self.seen = true;
                    }

                    if(res.data.status_code == 200){
                      localStorage.setItem('mobile_number', mobile_no);
                      self.isLoader = false;

                      if(self.$pageLoadType === 'true'){
                          window.location.href = "/portcoinotp/"+mobile_no;
                      }else{
                        self.$router.replace({ name: 'portcoinotp',params: { mobile_no} 
                      });
                    }
                   }   
                  });
                  }

             },
            isNumber: function(evt) {
              evt = (evt) ? evt : window.event;
              var charCode = (evt.which) ? evt.which : evt.keyCode;
              if ((charCode < 48 || charCode > 57) && charCode !== 46) {
                evt.preventDefault();;
              } else {
                return true;
              }
            }

          },
          mounted() {
            this.loadOnce();
          },
   };
</script>
