<template>
    <div>
         <!-- # Ads -->
      <Googlead pageCode="DG_END"/>
      <Subheader titleIcon="/assets/images/quiz-rule-icon.png" titleName="Quiz Rules" isBack="true" />
       
      <!-- <div class="ads"><img src="/assets/images/small-ads.png" alt=""></div> -->

      <section class="quiz-rules-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="rounded-area"> 
                <ul>
                  <li><p>You get 90 seconds to answer as many questions as you can (max questions you can answer is 25).</p></li>
                  <li><p>There are 3 options for each question, one of them is the answer for the question.</p></li>
                  <li><p>You get 20 points for each right answer.</p></li>
                  <li><p>You get (-)10 points for each wrong answer.</p></li>
                  <li><p>You get 10 points as hattrick bonus if you answer 3 questions correctly in a row.</p></li>
                  <li><p>The winners for the quiz is decided depending upon the scores of all the users that participated in the quiz.</p></li>
                  <li><p>Winners for each quiz will be declared at a pre-defined time.</p></li>
                </ul>
              </div>
              <span class="detail-text text-center d-inline-block w-100 py-2">For details, kindly refer to <a href="/terms-conditions" target = "_blank">terms of use</a>.</span>
            </div>
          </div>
        </div>
      </section>
     
    </div>
</template>
 
<script>
import Loader from "./../common/Loader.vue";
import Googlead from "./../common/Googlead.vue";
import Subheader from "./../common/Subheader.vue";
import common from './../common';

   export default {

     components: {
        Googlead,Subheader
        },
     data() {
           return {
            available_balance:0,
            earning_history:[],
            used_history:[],
            cdn_path:""
           }
       },
       
         created: function() {
this.loadOnce = common.loadOnce.bind(this);
         
          
         },
         mounted() {
           this.loadOnce();
         },
         methods: {
          
          }
   };
</script>