<template>
    <div>
      <loader :isVisible="isLoader" text="loading"/>
         <!-- # Ads -->
      
      <Subheader titleIcon="/assets/images/winning-trophy-icon.png" titleName="Winners" isBack="true" />
       
      
      <section class="winners-quiz-cricket-tabs py-2">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="inner">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="quiz-tab" data-bs-toggle="tab" href="#quiz" role="tab" aria-controls="quiz" aria-selected="true" v-on:click="quizContests()">Quiz</a>
                  </li>
                  <li class="nav-item" role="presentation" v-if="isIndia">
                    <a class="nav-link" id="cricket-tab" data-bs-toggle="tab" href="#cricket" role="tab" aria-controls="cricket" aria-selected="false" v-on:click="cricketContests()">IPL/Cricket</a>
                  </li>
                </ul>

                <!-- # Quiz Tab Content Start Here-->
                <div class="tab-content py-2" id="myTabContent">
                  <div class="tab-pane fade show active" id="quiz" role="tabpanel" aria-labelledby="quiz-tab">

                    <div class="cards-parent">
                    <div  v-for="(quizcontest, index) in quiz_contests">
                      <div class="card rounded-area">
                        <div class="head">
                          <div class="col-6 float-left"><h6>{{quizcontest.category_name}}</h6></div>
                          <div class="col-6 float-left text-center"><div class="active-users"><span class="active-sign"></span>{{quizcontest.total_winners}} winners</div></div>
                        </div>
                        <div class="bottom-content pt-2">
                          <div class="col-8 float-left">
                            <div class="game-outer"><img :src="getImgUrl(quizcontest.contest_image)" v-bind:alt="quizcontest.contest_title"></div>
                            <div class="content d-flex align-items-center">
                              <img src="/assets/images/coin.png" alt="">
                              <h6>{{numberWithCommas(quizcontest.prize_money)}}</h6>
                            </div>
                          </div>
                          <div class="col-4 float-left pl-0 text-center">
                            <a href="javascript:void(0);" class="btn-style" v-on:click="showWinnersList(quizcontest)">Check Winners</a>
                          </div>
                        </div>
                      </div>

                       <div class="card rounded-area" v-if="index == 0">
                         <div class="ads m-0" style="max-height:185px !important"><Googlead pageCode="RW_QUIZ" :key="googleCompKey" customDesign="width:320px; height: auto; text-align:center; margin: 0 auto;" datalayoutkey="-fb+5w+4e-db+86"/></div>
                        <!-- <div class="ads m-0"><img src="assets/images/list-ads-placement.jpg" alt=""></div> -->
                      </div>
                      
                    </div>
                    </div>
                  </div>

                  <!-- # Quiz Tab Content End Here-->

                <!-- # Cricket Tab Content Start Here-->

                  <div class="tab-pane fade" id="cricket" role="tabpanel" aria-labelledby="cricket-tab">

                    <div class="cards-parent">
                      <div  v-for="(cricketcontest, index) in cricket_contests">
                      <div class="card rounded-area">
                        <div class="head">
                          <div class="col-6 float-left"><h6>{{cricketcontest.category_name}} </h6></div>
                          <div class="col-6 float-left text-center"><div class="active-users"><span class="active-sign"></span>{{cricketcontest.total_winners}} winners</div></div>
                        </div>
                        <div class="bottom-content pt-2">
                          <div class="col-8 float-left">
                            <div class="game-outer"><img :src="getImgUrl(cricketcontest.contest_image)" v-bind:alt="cricketcontest.contest_title"></div>
                            <div class="content d-flex align-items-center">
                              <img src="/assets/images/coin.png" alt="">
                              <h6>{{numberWithCommas(cricketcontest.prize_money)}}</h6>
                            </div>
                          </div>
                          <div class="col-4 float-left pl-0 text-center">
                            <a href="javascript:void(0);" class="btn-style" v-on:click="showWinnersList(cricketcontest)">Check Winners</a>
                          </div>
                        </div>
                      </div>

                      <div class="card rounded-area" v-if="index == 0">
                        <!-- <div class="ads m-0"><img src="images/list-ads-placement.jpg" alt=""></div> -->
                          <div class="ads m-0" style="max-height:185px !important"><Googlead pageCode="RW_CRIC" :key="googleCompKey" customDesign="width:320px; height: auto; text-align:center; margin: 0 auto;" datalayoutkey="-fb+5w+4e-db+86"/></div>
                      </div>

                      </div>
                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
    </div>
</template>
 
<script>
import Loader from "./../common/Loader.vue";
import Googlead from "./../common/Googlead.vue";
import Subheader from "./../common/Subheader.vue";
import common from './../common';

   export default {

     components: {
        Googlead,Subheader,Loader
        },
     data() {
           return {
            quiz_contests:[],
            cricket_contests:[],
            isLoader:false,
            isIndia:false,
            googleCompKey:0
           }
       },
       
        created: function() {
this.loadOnce = common.loadOnce.bind(this);
        this.getImgUrl = common.getImgUrl.bind(this);
        this.numberWithCommas = common.numberWithCommas.bind(this);

         let self = this;
         self.isLoader=true;

         let userzone = $cookies.get('userzone');
        if(userzone.country=='IN')
        {
          self.isIndia = true;
        }
          
         var response =  this.$httpClient.get('quizresults').then(function(res){
           // console.log(res.data);
            if(res.data.status_code==200)
             {
               if(res.data.response[0].quizcontests!=null)
                {self.quiz_contests = res.data.response[0].quizcontests.contests;}

              
             }
             self.isLoader=false;
         });
         
          
         },
         mounted() {
           this.loadOnce();
         },
         methods: {

          cricketContests: function()
            {
                    let self = this;
                    this.isLoader=true;
                    this.updateGoogleCompKey();
                     var response =  this.$httpClient.get('cricketresults').then(function(res){
                        if(res.data.status_code==200)
                         {
                          if(res.data.response[0].cricketresult!=null)
                          {self.cricket_contests = res.data.response[0].cricketresult.contests;}

                         }
                        
                         self.isLoader=false;
                     });
                
            },
           quizContests: function()
            {
                
                    let self = this;
                    this.isLoader=true;
                    this.updateGoogleCompKey();
                     var response =  this.$httpClient.get('quizresults').then(function(res){
                        if(res.data.status_code==200)
                         {
                          self.quiz_contests = res.data.response[0].quizcontests.contests;

                         }
                        
                         self.isLoader=false;
                     });
                
            },

          updateGoogleCompKey:function(){
             console.log('gocomkey: '+this.googleCompKey);
             this.googleCompKey +=1;
           },

          getImgUrl: function(path)
            {
                return this.cdn_path+path;
              
            },
          showWinnersList: function(contest)
           {
            // console.log(contest);
              const id = btoa(contest.contest_id);
              // console.log(id);
             
             if(this.$pageLoadType === 'true'){
                window.location.href = "/winners/"+id;
            }else{
              this.$router.push({ name: 'WinnersList', params: { id } }) 
            }
              
           },
          
          }
   };
</script>