<template>
   <div>
     
      <loader :isVisible="isLoader" text="loading"/>
      <sidebar/>
      <Header availableBalance="6876"/>

      <!-- # Ads -->
      <Googlead pageCode="RW"/>
        

      <!-- # Recent Winner Tabs -->
    <section class="recent-winner-section pt-3 pb-3">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="recent-winner-tabs">
              <div class="tabbable boxed parentTabs">
                <div class="nav nav-tabs">
                  <a href="#set1" class="nav-link active" id="recent-winner-tab">Today's Winners</a>
                  <a href="#set2" class="nav-link alltime-winner">All Time Winners<small>Last 90 days</small></a>
                </div>
                <div class="tab-content">

                  <div class="tab-pane fade active in" id="set1">
                    <div class="tabbable">
                      <ul class="nav nav-tabs games-list w-100">
                        <li  v-for="(game, index) in games">
                          <a href="javascript:void(0)" class="todaywinner active" v-if="index===0" v-on:click="showTodayWinner(game)" :id="'todaytab_'+game.id">
                          <img  :src="getImgUrl(game.logo)" v-bind:alt="game.game_name"/>
                          </a>
                          <a href="javascript:void(0)" class="todaywinner" v-if="index!==0" v-on:click="showTodayWinner(game)" :id="'todaytab_'+game.id">
                          <img  :src="getImgUrl(game.logo)" v-bind:alt="game.game_name"/>
                          </a>
                          
                        </li>
                        
                      </ul>
                      <div class="total-list text-center">Top 100</div>
                      <div class="tab-content">
                        <div class="tab-pane fade active in" id="sub11">
                          <table class="table mb-0">
                            <tbody>
                               <tr  v-for="(winner, index) in today_winners" v-if="today_winners.length > 0">
                                <td class="rank">{{winner.position}}</td>
                                <td><h6>{{winner.username}}</h6></td>
                                <td align="right"><img src="images/small-coins-icon.png" alt=""><span>{{winner.total_prize}}</span></td>
                              </tr>
                             <tr v-if="today_winners.length == 0">
                                <td colspan="2">No Record Found!</td>
                              </tr>
                             
                            </tbody>
                          </table> 
                        </div>
                       
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="set2">
                    <div class="tabbable">
                      <ul class="nav nav-tabs games-list w-100 alltime-winner-games">
                        <li  v-for="(game, index) in games">
                         <a href="javascript:void(0)" class="allwinner active" v-if="index===0" v-on:click="showAllWinner(game)" :id="'alltab_'+game.id">
                          <img  :src="getImgUrl(game.logo)" v-bind:alt="game.game_name"/>
                          </a>
                          <a href="javascript:void(0)" class="allwinner" v-if="index!==0" v-on:click="showAllWinner(game)" :id="'alltab_'+game.id">
                          <img  :src="getImgUrl(game.logo)" v-bind:alt="game.game_name"/>
                          </a>

                        </li>
                       
                      </ul>
                      <div class="total-list text-center">Top 100</div>
                      <div class="tab-content">
                        <div class="tab-pane fade active in" id="sub21">
                          <table class="table mb-0">
                            <tbody>
                              <tr  v-for="(winner, index) in all_winners" v-if="all_winners.length > 0">
                                <td class="rank">{{winner.position}}</td>
                                <td><h6>{{winner.username}}</h6></td>
                                <td align="right"><img src="images/small-coins-icon.png" alt=""><span>{{winner.total_prize}}</span></td>
                              </tr>
                             <tr v-if="all_winners.length == 0">
                                <td colspan="2">No Record Found!</td>
                              </tr>
                             
                            </tbody>
                          </table>
                        </div>
                        
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

   </div>
</template>
<script>

import Sidebar from './../common/Sidebar.vue';
import Loader from "./../common/Loader.vue";
import Header from "./../common/Header.vue";
import common from './../common';
import Googlead from "./../common/Googlead.vue";

   export default {

     components: {
        Sidebar,Loader,Header,Googlead
        },
     data() {
           return {
            isLoader:false,
            today_winners:[],
            all_winners:[],
            games:[],
            cdn_path:"",
           }
       },
       
         created: function() {
this.loadOnce = common.loadOnce.bind(this);
          this.getImgUrl = common.getImgUrl.bind(this);
          let self = this;
          this.isLoader=true;
           var response =  this.$httpClient.get('winners/today/0').then(function(res){
            // console.log('results:');
            // console.log(res.data);
              if(res.data.status_code==200)
               {
                  self.winners = res.data.response[0].winners.winners;
                  self.games = res.data.response[0].winners.games;
                  self.cdn_path = res.data.response[0].winners.cdn_path;
               }
              
               self.isLoader=false;
           });
          
         },
         mounted()
         {
           this.loadOnce();
          $(document).ready(function () {
            $(".nav-tabs a").click(function (e) {
              e.preventDefault();
              $(this).tab('show');
            });

          })
        },
         methods: {
           greetings: function() {
           
           },
           showTodayWinner: function(game)
           {
              $('.todaywinner').removeClass('active');
              $('#todaytab_'+game.id).addClass('active');
              this.listWinners('today',game.id);
              // element.addClass('active');
              // console.log($(element).text());
              // console.log($(element).html());
              // $(element).addClass('active');
           },
           showAllWinner: function(game,element)
           {
              $('.allwinner').removeClass('active');
              $('#alltab_'+game.id).addClass('active');
              this.listWinners('all',game.id);
           },
           listWinners: function(type,id)
          {
              let self = this;
              this.isLoader=true;
              let url = 'winners/'+type+'/'+id;
               var response =  this.$httpClient.get(url).then(function(res){
                // console.log('results:');
                // console.log(res.data);
                  if(res.data.status_code==200)
                   {
                      if(type=='all')
                      self.all_winners = res.data.response[0].winners.winners;
                      else if(type=='today')
                       self.today_winners = res.data.response[0].winners.winners; 
                      //self.games = res.data.response[0].winners.games;
                      //self.cdn_path = res.data.response[0].winners.cdn_path;
                      // console.log(self.today_winners.length);
                   }
                  
                   self.isLoader=false;
               });
          },
           
          },
          
          beforeDestroy: function(){
            // this.$cookies.remove('ubal');

          }
   };
</script>