<template>
    <div>
      <loader :isVisible="isLoader" text="loading"/>
         <!-- # Ads -->
      <Googlead pageCode="DG_END"/>
      <Subheader titleIcon="/assets/images/winning-trophy-icon.png" titleName="Winners" isBack="true" />
       
      <section class="winners-details-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="inner" v-if="winners.length">
                <ul>
                  
                   <li v-for="(winners_list, index) in winners">
                    <div class="col-8 d-flex float-left align-items-center pr-1">
                      <span class="counter">{{ index+1 }}</span>
                      <div class="img-outer"><img src="/assets/images/avtar.png" alt=""></div>
                      <p>{{winners_list.username}}</p>
                    </div>
                    <div class="col-4 justify-content-end float-left text-right pl-0 coins">
                      <img src="/assets/images/images/coin.png" alt="">
                      <div class="content">
                        <h6>{{winners_list.total_prize}}</h6>
                        <small>Coins</small>
                      </div>
                    </div>
                  </li>
                   
                  
                </ul>

                <ul class="my-score">
                  <li v-for="(winners_list, index) in winners" v-if="userId==winners_list.user_id">
                    <div class="col-8 d-flex float-left align-items-center pr-1">
                      <!-- <span class="counter">{{ index+1 }}</span> -->
                      <div class="img-outer"><img src="/assets/images/avtar.png" alt=""></div>
                      <p>You</p>
                    </div>
                    <div class="col-4 justify-content-end float-left text-right pl-0 coins">
                      <img src="/assets/images/coin.png" alt="">
                      <div class="content">
                        <h6>{{winners_list.total_prize}}</h6>
                        <small>Coins</small>
                      </div>
                    </div>
                  </li>

                  <li class="non-logged-strip" style="display:none">
                    <div class="col-8 d-flex float-left align-items-center pr-1">
                      <!-- <span class="counter">{{ index+1 }}</span> -->
                      <div class="img-outer"><img src="/assets/images/avtar.png" alt=""></div>
                      <p>You</p>
                    </div>
                    <div class="col-4 justify-content-end float-left text-right pl-0 coins">
                      <img src="/assets/images/coin.png" alt="">
                      <div class="content">
                        <h6>0</h6>
                        <small>Coins</small>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      
     
    </div>
</template>

<style type="text/css">
  
.winners-details-page .my-score .counter {
    color: #fff;
}

.winners-details-page .my-score  p{
    color:#ffe534;
}

.winners-details-page .my-score  .coins img {
    margin-right: 0;
}

.winners-details-page .my-score  .coins .content h6 {
    color: #fffc00;
}

.winners-details-page .my-score  .coins .content small {
    color: #fff;
}

.winners-details-page .my-score  .sign-score-anchor {
    font-size: 11px;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-decoration: underline;
    margin: 7px 0 0;
}



</style>
 
<script>
import Loader from "./../common/Loader.vue";
import Googlead from "./../common/Googlead.vue";
import Subheader from "./../common/Subheader.vue";
import common from './../common';

   export default {

     components: {
        Googlead,Subheader,Loader
        },
     data() {
           return {
              winners : [],
              userId : ""
           }
       },
       
         created: function() {
this.loadOnce = common.loadOnce.bind(this);
           let self = this;
           self.isLoader=true;
           var response =  this.$httpClient.get('winners/'+ this.$route.params.id).then(function(res){
                //console.log(res.data);
                if(res.data.status_code==200)
                 {
                  self.winners = res.data.response[0].winners.winners;
                  
                 }
                 self.isLoader=false;
           });
         
          let userId = this.$cookies.get('user_id');
          self.userId=userId;
         },
         mounted() {
         this.loadOnce();
        },
         updated() {
          if($('.my-score li').length == 0){
              $('.inner').addClass('strike');
          }

           if($('.my-score li').length == 1){
              $('.non-logged-strip').css('display','inline-block');
            }
          
        },
         methods: {
          
          }
   };
</script>