
@media (max-width:576px) {
    .app-wrapper-container,
    .redirection-strip,
    .cookies-modal  {
        max-width: 100%;
    }
}


@media (max-width:359px) {
    .intro-screen .content h1 {
        font-size: 52px;
    }
    .intro-screen .content h2 {
        font-size: 20px;
    }
    .close-screen .content h6 {
        font-size: 13px;
    }
    .intro-question footer h6 {
    font-size: 19px;
}
.intro-question footer p, .intro-question footer ul li {
    font-size: 13px;
    letter-spacing: 0;
}
.close-screen .content h6 span {
    font-size: 13px;
}
.mobile-block-view-wrapper h2 {
        font-size: 26px;
    }
    .mobile-block-view-wrapper p {
        font-size: 16px;
    }
}

@media (max-width:480px) {
    .intro-question .question-answer .options a {
        padding: 5px 15px;
        font-size: 14px;
        background-size: 26px;
    }
    .intro-question .question-answer h3 {
        font-size: 18px;
        margin: 0 0 10px;
    }
    .intro-question .question-answer .options {
        margin: 10px 0 0;
    }
    .intro-question .loginuser {
        margin-top: 0!important;
    }
}
