*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    background:url('https://fecdn.qurekaquizbytes.co/assets/images/webappbdg.jpg');
    height: 100vh;
    background-size: cover;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.app-wrapper-container {
    max-width: 360px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    scrollbar-color: #eee #3e3e40;
    scrollbar-width: none;
    background-color: #020892;
}

.app-wrapper-container::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: transparent;
}

.app-wrapper-container::-webkit-scrollbar{
    width: 2px;
    background-color: transparent;
}

.app-wrapper-container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #eee;
}

.intro-screen {
    position: relative;
    padding: 0;
    height: 100vh;
}

.intro-screen .logo {
    background-color: #fcff00;
    padding: 10px;
    border: 10px solid #1c1f97;
    width: 110px;
    border-radius: 0 0 0 80px;
    height: 110px;
    margin: -10px;
}

.intro-question .logo {
   /* background-color: #fcff00;*/
    padding: 10px;
    /*border: 10px solid #1c1f97;*/
    width: 110px;
    /*border-radius: 0 0 0 80px;*/
    height: 110px;
    margin: -10px;
}

.intro-screen .logo img,
.intro-question .logo img {
    width: 60px;
    margin: 5px 10px 8px 10px;
}

.intro-screen .content {
    margin-top: -15px;
}

.intro-screen .content h1{
    font-weight: 800;
    font-size: 58px;
    margin: 0 0 5px;
    color: #fcff00;
    line-height: 54px;
}

.intro-screen .content h2{
    color: #fff;
    font-size: 21px;
    margin: 0 0 5px;
    font-weight: 600;
    border-left: 3px solid #fcff00;
    padding-left: 15px;
}

.intro-screen .content h3{
    color: #fff;
    font-size: 20px;
    margin: 0 0 5px;
    font-weight: 500;
}

.redirection-strip {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 36px;
    width: 100%;
    max-width: 360px;
    background-color: #fcff00;
}

.redirection-strip p {
    font-size: 13px;
    color: #000;
    margin: 0;
    font-weight: 700;
}

.redirection-strip a {
    font-size: 13px;
    color: #000;
    font-weight: 700;
    margin: 0;
    text-decoration: underline;
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

.modal-dialog {
    width: 100%;
    max-width: 330px;
    margin: .5rem auto;
}

.modal-common-style .modal-content {
    border-radius: 10px;
}

.modal-common-style .modal-header {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0;
}

.modal-common-style .btn-close {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 15px;
    right: 20px;
    opacity: 0.6;
    transition: all .2s;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #666;
    text-shadow: none;
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
}

#fullscreen h4 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin: 0 0 20px;
}

#fullscreen .confirm {
    background-color: #060fac;
    border: 0;
    box-shadow: none;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 0 15px;
    border-radius: 8px;
    line-height: 36px;
    font-size: 18px;
    min-width: 85px;
}

#fullscreen .modal-body {
    padding: 1rem 1rem 2.5rem;
}

.intro-question h2 {
    color: #fcff07;
    font-size: 20px;
    margin: 0 0 5px;
    font-weight: 700;
}

.intro-question h6 {
    font-size: 13px;
    margin: 0 0 12px;
    color: #fff;
    font-weight: 500;
}

.intro-question h6 span {
    color: #fcff07;
}

.question-answer h3 {
    font-size: 18px;
    color: #fff;
    margin: 0 0 10px;
    font-weight: 700;
}

.question-answer .options {
    margin: 10px 0 0;
    width: 100%;
    text-align: center;
}

.question-answer .options a {
    border: 1px solid #fff;
    background: #fff;
    color: #323232;
    font-weight: 700;
    padding: 6px 15px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 8px;
    display: inline-block;
    margin: 5px auto;
    text-decoration: none;
    width: 100%;
    text-align: left;
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

.question-answer .options .wrong {
    background: #f33 url('https://fecdn.qurekaquizbytes.co/assets/images/sad.png') no-repeat 97% 50%;
    background-size: 24px;
    border-color: #f33;
    color: #fff;
}

.question-answer .options .correct {
    background: #47be06 url('https://fecdn.qurekaquizbytes.co/assets/images/smile.png') no-repeat 97% 50%;
    background-size: 24px;
    border-color: #47be06;
    color: #fff;
}

.question-answer .question-size {
    color: #fcff07;
    font-size: 14px;
    margin: 0 0 5px;
    font-weight: 700;
}

.intro-question footer p,
.intro-question footer ul li{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 8px;
    letter-spacing: 0.1px;
}

.intro-question footer h6{
    color: #fffb14;
    font-weight: 600;
    font-size: 21px;
    margin: 0 0 10px;
}

.intro-question footer ul {
margin: 5px 0 5px;
    padding: 0;
    list-style-position: inside;
    list-style: none;
}

.intro-question footer ul li{
    position: relative;
    padding-left: 20px;
}

.intro-question footer ul li:before{
content: '.';
    position: absolute;
    top: -2px;
    left: 0;
    font-size: 50px;
    line-height: 0;
}


.close-screen .content h2 {
    color: #fcff07;
    text-align: left;
    font-size: 28px;  
    margin: 0;
}


.close-screen .content {  
    margin-top: -20px;
}
.close-screen .content h1 {  
    color: #fcff07;
    text-align: left;
    font-size: 60px;
    font-weight: 800;
    line-height: 75px;
    background: url('https://fecdn.qurekaquizbytes.co/assets/images/smile-line.png') no-repeat 12% 68px;
    background-size: 104px;
    padding-bottom: 26px;
}

.close-screen .content .cloudgift {  
    width: 100%;
    max-width: 135px;
    margin-top: -15px;
}

.close-screen .logo {
    width: 80px;
    height: 80px;
    margin: -10px;
}

.close-screen .logo img {
    width: 34px;
    margin: 1px 10px 8px 12px;
}

.close-screen .content h6 {
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    margin: 0;
}

.close-screen .content h6 span {
    font-weight: 800;
    color: #fcff00;
    text-transform: uppercase;
    font-size: 15px;
}

.close-screen .close-btn {  
    background-color: #fff;
    border-radius: 10px;
    border: 0;
    text-align: center;
    outline: 0;
    box-shadow: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    width: 100%;
    max-width: 260px;
    line-height: 40px;
    margin: 8px auto 5px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-screen .close-btn img {
    width: 15px;
    margin-right: 7px;
}

.close-screen .content > span {
    font-weight: 400;
    color: #fff;
    font-size: 14px;
}

.disabled {
    pointer-events: none;
    cursor: default;
  }

.terms-content {
    text-align: center;
    padding: 20px 0 0;
    color: #fff;
    font-size: 12px;
}
.terms-content a {
    color: #fff;
    text-decoration: underline;
    margin: 0 8px;
}

.shimmer {
    text-align: center;
    color: rgb(255 255 255/ 0%);
    background: -webkit-gradient(linear, left top, right top, from(#fff548), to(#fff548), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #fff;
    font-size: 20px;
    line-height: 26px;
    display: inline-block;
}

@-moz-keyframes shimmer { 
    0% {
    background-position: top left;
}

100%
{
background-position:top right;
}

}
@-webkit-keyframes shimmer { 0% {
    background-position: top left;
}

100%
{
background-position:top right;

  
}
}
@-o-keyframes shimmer { 
    0% {
    background-position: top left;
}

100%
{
background-position:top right;

  
}
}
@keyframes shimmer { 
    0% {
    background-position: top left;
}

100%
{
background-position:top right;

  
}
}


.shimmer2 {
    color: white;
    background: #fff548 -webkit-gradient(linear, 100% 0, 0 0, from(#fff548), color-stop(0.5, #ffffff), to(#fff548));
    background-position: -4rem top;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: shimmer;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-background-size: 4rem 100%;
}

.redirection-strip #skipIntro {
    font-size: 13px;
    color: #000;
    font-weight: 700;
    margin: 0;
    text-decoration: underline;
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

.adsbygoogle {
    margin: 0 auto!important;
    display: block!important;
    text-align: center;
}

.cookies-modal {
    background: rgb(0 0 0 / 70%);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 360px;
    margin: 0 auto;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: end;
    display:none;
}

.cookies-modal .modal-content{
    border-radius: 0;
    background: #f1f6fa;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.cookies-modal .modal-content p {
    color:#202125;
    font-size:12px;
    margin:0 0 10px;
}

.cookies-modal .modal-content p >a{
    color:#1c8cde;
    font-weight:500;
    text-decoration:underline;
}

.cookies-modal .modal-content .btn-ok {
    background: #1c8cde;
    border-radius: 6px;
    border: 0;
    color: #fff;
    padding: 0 10px;
    line-height: 35px;
    float: right;
    font-weight: 600;
    min-width: 60px;
    text-align: center;
    text-decoration:none;
}
.head-with-back {
    position: relative;
    top:0;
    margin-bottom:10px;
}
.head-with-back img {
    width: 26px;
    margin-right: 12px;
}
.head-with-back h4 {
     color: #ffffff;
    font-family: 'AloneOnEarthRegular';
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}
.privacy-policy-content {
    padding-bottom: 50px;
}
.privacy-policy-content .featured-image img {
    width: 100%;
}
.managedata-screen .content {
    border-radius: 5px;
    padding: 15px;
    background-color: #f8f8f8;
}
.managedata-screen .content h6 {
    font-weight: 700;
    color: #1c4493;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 10px;
}
.managedata-screen .content p {
    color: #171717;
    font-weight: 600;
    margin: 0 0 15px;
    font-size: 13px;
}
.managedata-screen .content .btn-style {
    font-weight: 600;
    color: #1c4493;
    padding: 8px 15px;
    background: #ffffff;
    border-radius: 20px;
    width: 161px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Metropolis-Bold';
    text-decoration: none;
    background-size: 100%;
    border: 2px solid #1c4493;
}
.donot-sell-myinfo-text span {
color: #fff;
    text-decoration: underline;
    margin: 0 8px;
    font-size: 12px;
}

.blocked-page {
    background-image:url('https://fecdn.qurekaquizbytes.co/assets/images/blocked-screen-bg.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

._404-screen .logo {
    margin: 0 auto;
    display: block;
    width: 100px;
}
._404-screen .sorry-image {
    width: 100%;
    max-width: 250px;
    margin: 30px auto 60px;
}
._404-screen h1 {
    color: #fff;
    font-weight: 700;
    font-size: 28px;
}
._404-screen h3 {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
}
._404-screen .btn-style {
    border: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    padding: 0 15px;
    line-height: 42px;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    margin: 30px auto 0;
}

._404-screen .proud-madeIn-india {
  display: flex;
  align-items: center;
  justify-content: center;
}

._404-screen .proud-madeIn-india img{
  width: 22px;
  margin-right: 10px;
}

._404-screen .proud-madeIn-india p {
  margin: 0;
  color: #fff;
  font-size: 13px;
}