<template>
  <div>
      <div class="qurekalite-popup-content" id="add2homepopupdiv"
      style="display: none;">
      <div class="row no-gutters">
        <div class="col-11">
          <div class="qurekalite-content">
            <img src="/assets/images/logo-light-text.png" alt="Qurekalite"
              class="img-fluid pop-logo" /> <a class="btn btn-link"
              id="add2homebutton"  v-on:click="addToHome()">Add Qureka Lite to Home Screen</a>
          </div>
        </div>
        <div class="col-1">
          <button type="button" id="add2homebuttonclose"
            class="close-popup btn" v-on:click="closeToHome()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
     
</template>

<style type="text/css">
  .qurekalite-popup-content {
  position: fixed;
  top: auto;
  padding: 7px;
  height: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  box-shadow: 1px 1px 4px #000;
  margin: auto;
  width: 100%;
  background-color:white;
  z-index: 999;
}

.qurekalite-content {
  padding-left: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.qurekalite-content a {
  font-size: 16px;
  padding: 0 0 0 15px;
  font-weight: 600;
  text-align: left;
}

.close-popup {
  font-size: 1.9rem;
  padding: 0;
  width: 100%;
  vertical-align: middle;
}

.pop-logo {
  width: 30px;
}

@media ( min-width :768px) {
  .qurekalite-content a {
    font-size: 16px;
  }
}
</style>

<script>
export default {
  name: 'Addhome',
   props: {
            message: {type: Object,default() {return {}}},
        },
         data() {
           return {

            
            deferredPrompt:Object,         
           }
       },
       

        created: function() {

           if("serviceWorker" in navigator) {
            // alert();
             navigator.serviceWorker.register("service-worker.js").then(reg => {
                //console.log("Registration succesful, scope: " + reg.scope);
             })
             .catch(err => {
                console.log(err);
             })
          }

           let self = this;
          let deferredPrompt;
            window.addEventListener('beforeinstallprompt', (e) => {
              // Prevent the mini-infobar from appearing on mobile
               e.preventDefault();
              // Stash the event so it can be triggered later.
              // deferredPrompt = e;

              // console.log('deferredPrompt');
              // console.log(e);
              // Update UI notify the user they can install the PWA
              self.deferredPrompt = e;
              // console.log(self.deferredPrompt);
              
              if(self.showPrompt()){
                self.showInstallPromotion();
              }
              
            });


            window.addEventListener('appinstalled', (evt) => {
                // Log install to analytics
                // console.log('INSTALL: Success');
                self.hideMyInstallPromotion();
                
            });

           
          
         },
          mounted: function()
         {

         
            // let deferredPrompt;
            // window.addEventListener('beforeinstallprompt', (e) => {
            //   // Prevent the mini-infobar from appearing on mobile
            //    e.preventDefault();
            //   // Stash the event so it can be triggered later.
            //   deferredPrompt = e;

            //   console.log('deferredPrompt');
            //   console.log(deferredPrompt);
            //   self.deferredPrompt = deferredPrompt;
            //   // Update UI notify the user they can install the PWA
              
            //   if(self.showPrompt()){
            //     self.showInstallPromotion();
            //   }
              
            // });


            window.addEventListener('appinstalled', (evt) => {
                // Log install to analytics
                // console.log('INSTALL: Success');
                self.hideMyInstallPromotion();
                
            });

            
         },
         methods: {
          confirmForm: function()
          {
            let url = this.message.url;
            // console.log('upon confirmation:');
            // console.log(url);
            if(url!=null || url!='')
            {
              // this.$router.push({ name: 'home'})
              $('#confirmpopup').modal('hide');
              this.$router.push({path:url}); 
            }
            
            //
          },
          showPrompt: function(){
              
              var tokenexpiry = this.getTokenExpiryLocally();

              // console.log(tokenexpiry);

              var tokenexpiryDate = new Date(parseInt(tokenexpiry));

              var currentDate = new Date();

              if(tokenexpiry ==null || tokenexpiryDate < currentDate){

                return true;

              }
              
            },
            getTokenExpiryLocally: function(){

              return localStorage.getItem("tokenexpiry");

              },

            setTokenexpirylocally: function(){

              const date = new Date();
              var followingDay = new Date(date.getTime() + 86400000)
              localStorage.setItem("tokenexpiry", followingDay.getTime());
            },
            showInstallPromotion: function(){

            // console.log("showing prompt window");

            //show only on dashboard
            // if(window.location.pathname=="/")
            // {document.getElementById("add2homepopupdiv").style.display = "block";}

             document.getElementById("add2homepopupdiv").style.display = "block";
              
              
            },

            hideMyInstallPromotion: function(){
              document.getElementById("add2homepopupdiv").style.display = "none";
            },
            addToHome: function()
            {

              let deferredPrompt = this.deferredPrompt;

                 // Show the install prompt
                deferredPrompt.prompt();

                this.hideMyInstallPromotion();
                
                // Wait for the user to respond to the prompt
                deferredPrompt.userChoice.then((choiceResult) => {
                  if (choiceResult.outcome === 'accepted') {
                    // console.log('User accepted the install prompt');
                    this.hideMyInstallPromotion();
                    
                  } else {
                    this.showInstallPromotion();
                    // console.log('User dismissed the install prompt');
                    // triggerTimeout();
                  }
                });

            },
            closeToHome: function()
            {
                 // Hide the popup div and show after 5 seconds for testing
              this.hideMyInstallPromotion();
              this.setTokenexpirylocally();
            }
         }
};
</script>