<template>
    <div class="blocked-page">
     <section class="py-5 mobile-blockview-page">
       <div class="container">
         <div class="row">
           <div class="col-12 text-center">
            <img src="/assets/images/logo.png" alt="">
            <h1>We're Sorry</h1>
            <h2>Qureka Lite is currently not available in your country!</h2>
            <div class="row mb-2">
              <img src="/assets/images/mobil-blockview-img.png" alt="" class="img-fluid mb-3">
            </div>
            <p>If you believe you have received this message in error and you are using a VPN or web proxy, try disabling it so that your IP address is not blocked.</p>
           </div>
         </div>
       </div>
     </section>
    </div>
</template>
 
<script>

  export default {

    created: function() {

       var usermode = $cookies.get('usermode');
      if(usermode!='block')
      {
           this.$router.push({ name: 'Dashboard' });
      }
    },
     mounted() {
      $('.app-wrapper-container').addClass('mobile-block-view-wrapper');
     },
      beforeDestroy: function(){
            //this.$cookies.remove('ubal');
            $('.app-wrapper-container').removeClass('mobile-block-view-wrapper');

          }
   
    };
</script>