<template>
     <div class="modal fade confirmpopup-modal" id="confirmpopup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="confirmpopupLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal('confirmpopup')">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3>{{message.title}}</h3>
            <p>{{message.text}}</p>
           
          </div>
          <div class="modal-footer border-0 pt-0">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeModal('confirmpopup')">Cancel</button>
            <button type="button" class="btn btn-primary" v-on:click="confirmForm()">Confirm</button>
          </div> 
        </div>
      </div>
    </div>
</template>

<script>
import common from './../common';
export default {
  name: 'Confirmpopup',
   props: {
            message: {type: Object,default() {return {}}},
        },

        created: function() {

           this.closeModal = common.closeModal.bind(this);
         
          
         },
         methods: {
          confirmForm: function()
          {
            let url = this.message.url;
            // console.log('upon confirmation:');
            // console.log(url);
            if(url!=null || url!='')
            {
              // this.$router.push({ name: 'home'})
              $('#confirmpopup').modal('hide');
              this.$router.push({path:url}); 
            }
            
            //
          }
         }
};
</script>