<template>

  <div class="modal fade welcomemodal-modal" id="errorpopup" data-backdrop="static" data-keyboard="false"
      tabindex="-1" aria-labelledby="welcomemodalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered oops-model-content">
        <div class="modal-content text-center">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal('errorpopup')">
              <span aria-hidden="true">&times;</span>
            </button>
            <div v-html="message.title"></div>
           
          </div>
          <div class="modal-body">
            <p v-html="message.text"></p>
            <span>{{message.subtext}}</span>
          </div>
        </div>
      </div>
    </div>
     
</template>

<script>
import common from './../common';
export default {
  name: 'Errorpopup',
   props: {
            message: {type: Object,default() {return {}}},
        },

        created: function() {
          this.closeModal = common.closeModal.bind(this);
          this.goBack = common.goBack.bind(this);
          
         },
};
</script>