<template>
 <div><!-- # Footer -->
      <footer class="py-3">
         <div class="container">
            <div class="row align-items-center d-flex">
               <div class="col-4 cols privacy-text">
                <router-link to="/privacy-policy" tag="a">Privacy Policy</router-link>
              </div>
               <div class="col-4 cols social-icons desktop-view">
                  <a href="javascript:void(0);"><img src="/assets/images/facebook-icon.png" alt=""></a>
                  <a href="javascript:void(0);"><img src="/assets/images/twitter-icon.png" alt=""></a>
                  <a href="javascript:void(0);"><img src="/assets/images/insta-icon.png" alt=""></a>
               </div>
               <div class="col-4 cols terms-text">
                 <router-link to="/terms-conditions" tag="a">Terms of use</router-link>
              </div>
            </div>
            <div class="row" v-if="isSell">
              <div class="col-12 pt-4 pb-3 text-center do-not-sell-myinfo-text">
                <!-- <a href="javascript:void(0);">Do not sell my info</a> -->
                <router-link to="/optout" tag="a">Do not sell my info</router-link>
              </div>
            </div>
         </div>
      </footer>
</div>
</template>

<script>
   export default {
  name: "Footer",
  data() {
    return {
      isSell:false
    };
  },
  created: function()
  {
    //compliance
      let userzone = $cookies.get('userzone');
      let usermode = $cookies.get('usermode');
      let optout = $cookies.get('optout');
      if(usermode!="" && usermode=='compliance' && optout!="true")
      {
        this.isSell = true;
      }
      
  }
};
</script>