<template>
	<div>
     <section class="py-3 mb-1"  v-if="isVisible">
         <div class="container googlead">
            <div class="row">
               <div class="col-12">

                <div :pageCode="pageCode">
                  <ins class="adsbygoogle"
style="display:block" :data-ad-client="googleAdId" :data-ad-slot="slotId" :data-ad-format="adformat" :data-full-width-responsive="isResponsive" adtest="true"></ins>
                  <!-- <ins
                    className="adsbygoogle"
                    :style="{display: 'block'}"
                    :data-ad-client="googleAdId"
                    :data-ad-slot="slotId"
                    :data-ad-format="adformat"
                    :data-full-width-responsive="isResponsive" adtest="true"
                  ></ins> -->
                  
                </div>
                
                 <!--  <img src="/assets/images/big-ad-placeholder.jpg" alt="" class="w-100"> -->
               </div>
            </div>
         </div>
      </section>
	
  
</div>
</template>

<script>
import common from './../common';
	export default {
  name: "Googlead1",
  props: {
    timeout: Number,
    // classNames: String,
    pageCode: String
  },
  
  data() {
    return {
      googleInit: null,
      googleAdId: "",
      slotId:"",
      isVisible:false,
      adformat:"auto",
      isResponsive:true,
      classNames:""
    };
  },
  created: function()
  {
    this.getDeviceInfo = common.getDeviceInfo.bind(this);
      // console.log('page code data:'+this.pageCode); 
//      if (this.googleInit) clearTimeout(this.googleInit);
      this.setAds();

     
  },
   methods: {
             setAds() {
                let adnetwork = this.$cookies.get('ad_network');
                console.log('device info');
                var isApp = this.getDeviceInfo();
                console.log(isApp);
      if((adnetwork!=null || adnetwork!=undefined) && isApp==false)
      {
        //console.log('network call');
        adnetwork = atob(adnetwork);
        adnetwork = JSON.parse(adnetwork);
        console.log(adnetwork);

        //assign publisher id
        if(adnetwork.publisher!=null)
        {
          this.googleAdId = adnetwork.publisher.publisher_code;
        }
        //check if domain is allowed to show ads
        if(adnetwork!=null || adnetwork!=undefined)
        {
          if(adnetwork.status=='ACTIVE' && adnetwork.ads_enabled==1)
          {
            let googlenetwork = adnetwork.google_network;
            // console.log('adnetwork');
            //check if page code is configured
            let pageBlock = googlenetwork[this.pageCode];
            if(pageBlock!=undefined)
            {
              console.log('pageBlock');
              console.log(pageBlock);
              this.slotId = pageBlock.slot;
              this.adformat = pageBlock.format;
              this.isVisible = true;
              this.isResponsive = pageBlock.responsive;
              this.classNames = pageBlock.unit_name;
            }
          }
        }
      }
            },
            initializeAd()
            {
  //            if (this.googleInit) clearTimeout(this.googleInit);
              if(this.googleAdId!="" && this.slotId!="")
                {
                  //  let script = document.createElement('script')
                  // script.setAttribute('src', 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js');
                  // script.async = true;
                  // document.head.appendChild(script)

                    let timeout = 200;
                  if(this.timeout) timeout = this.timeout;
                  this.googleInit = setTimeout(() => {
                    if (typeof window !== "undefined")
                      (window.adsbygoogle = window.adsbygoogle || []).push({});
                  }, timeout);
                }
            }
          },
 mounted() {

    this.initializeAd();
  	
  },
  updated()
  {
    // if (this.googleInit) clearTimeout(this.googleInit);
      this.setAds();
      
    this.initializeAd();
  },
  destroyed() {
    if (this.googleInit) clearTimeout(this.googleInit);
  }
};
</script>
