<template>

                <div :pageCode="pageCode">
                  <ins class="adsbygoogle"
:style="'display:block; '+customDesign" :data-ad-client="googleAdId" :data-ad-slot="slotId" :data-ad-format="adformat" :data-full-width-responsive="isResponsive" :data-ad-layout-key="datalayoutkey"></ins>
                  <!-- <ins
                    className="adsbygoogle"
                    :style="{display: 'block'}"
                    :data-ad-client="googleAdId"
                    :data-ad-slot="slotId"
                    :data-ad-format="adformat"
                    :data-full-width-responsive="isResponsive" adtest="true"
                  ></ins> -->
                  
                </div>
           
</template>

<script>
import common from './../common';
  export default {
  name: "Googlead",
  props: {
    timeout: Number,
    // classNames: String,
    pageCode: String,
    customDesign: String,
    datalayoutkey: String
  },
  
  data() {
    return {
      googleInit: null,
      googleAdId: "",
      slotId:"",
      isVisible:false,
      adformat:"auto",
      isResponsive:true,
      classNames:""
    };
  },
  created: function()
  {
    this.getDeviceInfo = common.getDeviceInfo.bind(this);
    this.updateAdStorage = common.updateAdStorage.bind(this);
      // console.log('page code data:'+this.pageCode); 
      if (this.googleInit) clearTimeout(this.googleInit);
      this.setAds();

      console.log('ad reload');
     
  },
   methods: {
             setAds() {
                let adnetwork = localStorage.getItem('ad_network');
                // console.log(adnetwork);
                //console.log('device info');
                var isApp = this.getDeviceInfo();
                //console.log(isApp);
      if((adnetwork!=null || adnetwork!=undefined) && (isApp==false && adnetwork.inapp_allowed!='1'))
      {
        //console.log('network call');
        adnetwork = atob(adnetwork);
        adnetwork = JSON.parse(adnetwork);
        //console.log(adnetwork);

        //assign publisher id
        if(adnetwork && adnetwork.publisher)
        {
          this.googleAdId = adnetwork.publisher.publisher_code;
        }
        //check if domain is allowed to show ads
        if(adnetwork)
        {
          if(adnetwork.status=='ACTIVE' && adnetwork.ads_enabled==1)
          {
            let googlenetwork = adnetwork.google_network;
            // console.log('adnetwork');
            //check if page code is configured
            let pageBlock = googlenetwork[this.pageCode];
            if(pageBlock!=undefined)
            {
              // console.log('pageBlock');
              // console.log(pageBlock);
              this.slotId = pageBlock.slot;
              this.adformat = pageBlock.format;
              this.isVisible = true;
              this.isResponsive = pageBlock.responsive;
              this.classNames = pageBlock.unit_name;
            }
          }
        }
      }
            },
            initializeAd()
            {
              if (this.googleInit) clearTimeout(this.googleInit);
              if(this.googleAdId!="" && this.slotId!="")
                {
                  //  let script = document.createElement('script')
                  // script.setAttribute('src', 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js');
                  // script.async = true;
                  // document.head.appendChild(script)

                    let timeout = 200;
                  if(this.timeout) timeout = this.timeout;
                  this.googleInit = setTimeout(() => {
                    if (typeof window !== "undefined")
                      (window.adsbygoogle = window.adsbygoogle || []).push({});
                  }, timeout);
                }
            }
          },
 mounted() {

    this.updateAdStorage();
    this.initializeAd();
    
    
  },
  updated()
  {
     if (this.googleInit) clearTimeout(this.googleInit);
      this.setAds();
      
    this.initializeAd();
  },
  destroyed() {
    if (this.googleInit) clearTimeout(this.googleInit);
  }
};
</script>