<template>
 <div>
  <header>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <span class="hamburger-icon"><img src="/assets/images/hamburger-icon.png" alt=""></span>
              <div class="user-name d-flex align-items-center">
                <div class="content">
                  <h6>Qureka Lite</h6>
                </div>
                <router-link :to="'/winnersdashboard'" tag="a" v-if="isLoggedUser && pageLoadType === 'false'" class="anchor-recent-winner">Recent Winners</router-link>
                <a href="/winnersdashboard" tag="a" v-if="isLoggedUser && pageLoadType === 'true'" class="anchor-recent-winner">Recent Winners</a>
               
              </div>
            </div>

           <!--  <div class="col-4 pl-0" v-if="isLoggedUser">
              <router-link :to="'/wallet'" tag="a">
                <span class="coin-box-img text-right">
                <img src="/assets/images/coin-box.png" alt="">
                <h3>{{availableBalance}}</h3>
              </span>
              </router-link>
   
            </div> -->

          </div>
        </div>
      </header>
  </div>

</template>

<script>
import common from './../common';
	export default {
  name: "Header",
   props: {
            // availableBalance: {type: String, required: false, default: ""},
            //isUser: {type: Boolean, required: false, default: false},
        },
  data() {
           return {
               isLoggedUser:false,
               pagename:"",
               availableBalance:0,
               user_name:"",
               pageLoadType: false,
             }
       },
  created: function() {

     let self = this;

     this.isUserAuthenticate = common.isUserAuthenticate.bind(this);
      this.isLoggedUser = this.isUserAuthenticate();
      this.pagename = this.$router.currentRoute.name;
      this.pageLoadType = this.$pageLoadType;

      // console.log(this.$router.currentRoute.path);
      // console.log(this.$router.currentRoute.name);
      setTimeout(function(){ 
        let balance = self.$cookies.get('ubal');
        let user_name = self.$cookies.get('user_name');

        self.user_name = user_name;
        // console.log('user balance:'+balance);
        if(balance > 0)
        {self.availableBalance = balance;}
      }, 100);
    

  },
   mounted(){
    // let balance = this.$cookies.get('ubal');
    // // console.log('user balance'+balance);
    // if(balance > 0)
    // {this.availableBalance = balance;}
  }
};
</script>