<template>
  <div>
     <div class="modal fade welcomemodal-modal" v-if="isApp" id="isapppopup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="messagepopupLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">

          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal('isapppopup')">
              <span aria-hidden="true">×</span>
            </button>
           
            <h2>In-app detected</h2>
          </div>

          <div class="modal-body">
            <div class="w-100">
              
              body message

            </div>
            
          </div>
           <!-- # Ads -->
          <!-- <Googlead pageCode="REG_P"/> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import common from './../common';
export default {
  name: 'Inapp',
  data() {
    return {
      isApp:false,
      currentUrl:''
    };
  },
         created: function() {

          this.getDeviceInfo = common.getDeviceInfo.bind(this);

          var isApp = this.getDeviceInfo();
                // console.log(isApp);
          if(isApp!=false)
          {
            this.isApp = true;
            $('#isapppopup').modal('show');
          }
          
          this.closeModal = common.closeModal.bind(this);
          this.goBack = common.goBack.bind(this);
          
         },
};
</script>