<template>
    <div v-if="isVisible" class="loader-overlay">
        <div class="line">&nbsp;</div>
        <span class="text" v-html="text"></span>
    </div>
</template>

<script>
    export default {
        name: "Layoutblocker",
        props: {
            isVisible: {type: Boolean, required: true},
            text: {type: String, required: false, default: ""},
        },
}
</script>

<style lang="scss">
    .loader-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /*background-color: rgba(0, 0, 0, 0.7);*/
        z-index: 1000;
        cursor: pointer;

        span.text {
            display: inline-block;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
            font-size:25px;
        }

    }
</style>