<template>
     <div class="modal fade welcomemodal-modal" id="messagepopup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="messagepopupLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal('messagepopup')">
              <span aria-hidden="true">×</span>
            </button>
            <h2 v-html="message.title"></h2>
          </div>

          <div class="modal-body">
            <div class="w-100" v-html="message.text"></div>
            <span v-html="message.subtext"></span>
          </div>
           <!-- # Ads -->
          <!-- <Googlead pageCode="REG_P"/> -->
        </div>
      </div>
    </div>
</template>

<script>
import Googlead from "./../common/Googlead.vue";
import common from './../common';
export default {
  name: 'Messagepopup',
  components: {
        Googlead
        },
   props: {
            message: {type: Object,default() {return {}}},
        },
         created: function() {
          
          this.closeModal = common.closeModal.bind(this);
          this.goBack = common.goBack.bind(this);
          
         },
};
</script>