<template>
    <div>
       <!-- Coins Wallet -->
      <Subheader titleIcon="/assets/images/opt-icon.png" titleName="Qureka Lite" isBack="true"/>

      <!-- # Output 1 -->
      <section class="contactus-page success-opt-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="rounded-area text-center">
                <div class="image-outer"><img src="/assets/images/opt-featured-img.png" alt=""></div>
                
                <div v-if="optout">
                 <h5>Do not sell my personal Information</h5>
                <p>We use device identifiers (like cookies, beacons, and IP addresses) to improve our website and customize your experience. This sharing of data may be defined as a sale
                under the California Consumer Privacy Act.</p>
                <p>You have the right to opt out of the sale of you personal information to third parties. Our <router-link to="/privacy-policy" tag="a">Privacy Policy</router-link> describes the right in detail.</p>
                <a href="javascript:void(0);" class="btn-style" v-on:click="doOptout()">OPT OUT</a>
                </div>
                <div v-if="!optout">
                        <h5>You Have successfully opted out!</h5>
                          <p>We're sorry to see you go, but Qureka Lite has placed an opt-out cookie in your browser. This cookie will prevent Qureka Lite from tailoring the ads you see based on the anonymous information Qureka Lite collects, as described further in our <router-link to="/privacy-policy" tag="a">Privacy Policy</router-link>. This opt-out applies only to this browser and this computer, and you must repeat the process if you switch to a different browser or computer.</p>
                
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</template>
 
<script>
import Subheader from "./../common/Subheader.vue";

  export default {
     components: {
        Subheader
        },

     data() {
           return {
               optout : true,
               
             }
       },
   
     
      created: function() {
          
          
         },
         mounted() {


          var opout = $cookies.get('optout');
          if(opout==true)
          {
            this.optout = false;
          }

        },
       methods: {

        doOptout: function()
        {
            this.optout = false;
            $cookies.set('optout', true);
        }
            
            
        },
         beforeDestroy: function(){
            // console.log('DESTROYYYY!!!');
              
          }
    };
</script>