<template>
    <div>
      <section class="weare-sorry-page py-3">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <router-link to="/">
              <img src="/assets/images/landing-screen-logo.png" alt="" class="logo">
              </router-link>
              <img src="/assets/images/404-image.png" alt="" class="sorry-image">
              <h1>Page Not Found</h1>
              <h3>Sorry, we couldn't find this page. The page you're looking either doesn't exist or any other error occurred.</h3>

              <router-link to="/" tag="a" class="btn-style" v-if="pageLoadType === 'true'">Go to Home</router-link><a href="/" tag="a" class="btn-style" v-else>Go to Home</a>
            </div>

            <div class="proud-madeIn-india w-100 text-center py-3 mt-3" v-if="countryTag">
              <img src="/assets/images/single-flag.png" alt="">
              <p>Qureka Lite is proudly made in India</p>
            </div>
          </div>
        </div>
      </section>
    </div>
</template>
 
<script>

import common from './../common';

  export default {
   
      data(){
          return {
            isLoader:false,
            error_message:{},
            countryTag:false,
            pageLoadType: false,
          }
      },
      created: function() {
          this.showCountryTag = common.showCountryTag.bind(this);
          this.countryTag = this.showCountryTag();
          
         },
       methods: {
            
            
        },
        mounted() {
            $('.app-wrapper-container').addClass('_404-screen');
            $('.app-wrapper-container').removeClass('dashboard-wrapper');
            
          },
         beforeDestroy: function(){
            // console.log('DESTROYYYY!!!');
              
          }
    };
</script>