<template>
    <div>
      <!-- Coins Wallet -->
      <Subheader titleIcon="/assets/images/opt-icon.png" titleName="Privacy Policy" isBack="true"/>

      <!-- # Earning and History Tabs -->
      <section class="earning-history-tabs privacy-policy-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="earning-history-content p-3 bg-white my-3">
                
                <div class="tabs-content">
                  <div class="tabs-btn row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="allgames-tab" data-toggle="tab" href="#allgames" role="tab" aria-controls="allgames" aria-selected="true" v-bind:class="{ 'show active': isIndia }">Indian User</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="mygames-tab" data-toggle="tab" href="#mygames" role="tab" aria-controls="mygames" aria-selected="false" v-bind:class="{ 'show active': !isIndia }">Non-Indian User</a>
                      </li>
                    </ul>
                  </div>
                  <div class="policy-featured-img w-100"><img src="/assets/images/privacy-policy-img.png" alt=""></div>
                  <div class="tab-content" id="myTabContent"> 
                  <div class="tab-pane fade" id="allgames" role="tabpanel" aria-labelledby="allgames-tab" v-bind:class="{ 'show active': isIndia }">
                      <small>Effective Date: 29th June 2021.</small>
                      <p>We, at Coolboots Media Private Limited appreciate the trust and information entrusted upon us by you, and seeks to protect such information to the best extent possible, and only use the information in a manner provided in this privacy policy ("Privacy Policy")</p>
                      <p>As we update, improve and expand Qureka Lite, this policy may change, so please refer to it periodically. By accessing the Qureka Lite, you give us your consent to collect, store, and use the information you provide (including any changes thereto as provided by you) for any of the services that we offer. Qureka Lite (Our M-Web solution), is owned and operated by Coolboots Media Private Limited. Qureka Lite offers its end users interesting daily quiz (the number of quiz that we run daily may vary), all the users who answer all the questions correctly of the quiz are announced as winners. Quiz contests are rank based and coins as reward is given basis the rank metrics. The user can check these details before joining any contest.</p>
                      <p>The winner of these quiz contests get Qureka Lite coins in their Qureka Lite wallet. This Privacy Policy applies to information collected through the services, as well as other information provided to us online or offline by End Users, Advertisers and other customers or users of our Product; however, it does not apply to information collected from our employees, contractors or vendors.</p>
                      <p>By using Qureka Lite, you understand and accept this privacy policy along with any changes as may be made from time to time ("Privacy Policy") and thereby expressly consent to our collection, use and disclosure of Personal Information in accordance with this Privacy Policy.</p>
                      <p>Do not access or use our Services (Qureka Lite & www.qurekalite.com or qurekalite.com website pages) by any means or technology which conceals your actual geo-location or is unable to provide accurate details of the location (for example, use a virtual private network (VPN) to access Qureka Lite Services).</p>
                      <p>To be able to register & play seamlessly on Qureka Lite, you should have a Smartphone with an internet browser and good Data/Internet connectivity. The services may get disrupted in absences of the same.</p>
                      <p>If any user registers or changes or manipulates the results/output on Qureka Lite using any unfair, fraudulent means like VPN, etc. then Coolboots Media Pvt. Ltd/ Qureka Lite will not be responsible, rather the user shall be solely responsible for his unlawful act and shall also indemnify Qureka Lite/Coolboots Media Pvt. Ltd. for any or all claims arising out of it at fullest extent.</p>
                     
                     
                      <ol>
                        <li> Information Collected from Third-parties when registering and playing on Qureka Lite.
                          <p>If you play any of the games or use any of the Services on connected third-party applications or connect the Services to any third-party applications, Google and/or from Social Networking Sites (“SNS”) such as Facebook, we may receive certain information about you from the provider of the third-party application. The information received depends on the third-party application, your privacy settings and, if applicable, your friends' privacy settings on that third-party application</p>
                          <p>When you connect with the Services through an SNS, the information that Qureka Lite collects may include your first and last name, the login e-mail you provided to that third-party application when you registered with the SNS, When you use any of the Services, on a mobile platform, Qureka Lite may collect and process certain information such as your location based on your Internet Protocol ("IP") address. This information is useful to Qureka Lite for troubleshooting and helps Qureka Lite understand usage trends.</p>
                          <p>You can manage the information Qureka Lite receives about you from a third-party application, like Facebook or Google, on which you play our games and you will need to follow the instructions for the third-party application for changing your privacy settings. If you access our Services from a third-party application or connect our Services to a third-party application, you should also read that third-party application’s terms of service and privacy policy.</p>
                        </li>

                        <li>Information we capture/ track /obtain:
                          <p>(This information is only captured from your device after you grant permission to Qureka Lite)</p>
                          <p>We capture/ track information from your use of services. This information may be obtained from third parties in some cases. This information is used to provide best & customized service to each of our users, improve overall service delivery, devise new services, identify and reduce fraud or un-authorized use of our services and other purposes. All this information is captured after your explicit confirmation and permissions wherever required. Information tracked has been mentioned below to give details of the same.</p>
                         <h6>1. Log information</h6>
                         <p>When you use our services or view content provided by Qureka Lite, we automatically collect and store certain information in server logs. This includes:</p>
                          <ul class="alpha-ul">
                            <li>details of how you used our service;</li>
                            <li>to provide relevant offers based upon your interest;</li>
                            <li>internet protocol address;</li>
                            <li>cookies that may uniquely identify your browser or your Qureka Lite Account.</li>
                          </ul>
                          <p>How we use this information</p>
                          <p>We use information collected from cookies and other technologies, like pixel tags etc. to improve your user experience and the overall quality of our services. We use multiple such 3rd party services like Google Analytics, etc. We may combine personal information from one service with information, including personal information, from other services to create a rich profile of you, to better your experience on Qureka Lite.</p>
                        <h6>2. Location information</h6>
                          <p>When you use Qureka Lite services, we may collect and process information about your location. We may use technologies to determine location with the help of IP address.</p>
                          <p>How we use this information</p>
                          <p>We use location information to maintain & improve services provided to you, to develop new services. These services include those provided to users within the web and. We also use this information to offer you tailored & customized offers within the, website and emails.</p>
                        <p>We do not reach out to the user or send any communication except for the purpose solely related to the product &it's services.</p>
                        
                        <h6>3. Local storage</h6>
                        <p>We may collect and store information locally on your browser using mechanisms such as application data, caches.</p>
                        <p>How we use this information</p>
                        <p>This information is used to:</p>
                            <ul class="alpha-ul">
                            <li>maintain your login session on Qureka Lite;</li>
                            <li>this information may also be used from time-to- time to sync with Qureka Lite servers and update services that we provide to you within the web on your next usage.</li>
                           </ul>

                           <h6>4. Cookies and similar technologies</h6>
                           <p>We and our partners use various technologies to collect and store information when you visit a Qureka Lite service, and this may include using cookies or similar technologies to identify your browser or device. We also use these technologies to collect and store information when you interact with services we offer to our partners, such as advertising services or Qureka Lite features that may appear on other sites or various SDKs we use for product analytics that help us analyze the traffic.</p>
                            <p>How we use this information</p>
                            <p>The information collected is used to maintain & verify your product related activities. We also use it to keep your coins and coins wallet secured & updated. We use information collected from cookies and other technologies like pixel tags, events, etc. to improve your user experience and the overall quality of our services. We use multiple tools & 3rd party services like Google Analytics, Branch metrics etc. We may combine personal information from one service with information, including personal information, from other services to give you best experience within Qureka Lite. We sign Non-Disclosure Agreement with all such companies from where we avail these services to ensure best protection of your personal data.</p>
                        </li>

                        <li>Information we share:
                          <p>We do not share your personal information with companies, organizations and individuals outside of Qureka Lite & its partner companies unless one of the following circumstances applies:</p>
                          <ul class="alpha-ul">
                            <li>With your consent</li>
                       <p>We will share device level information with companies, organizations or individuals outside of Qureka Lite when we have your consent to do so. When you agree to our Privacy Policy, you provide us consent to share your device level information (mainly used for analytics and services purpose). We do not share your personally identifiable information with any entity outside Qureka Lite.</p>
                            <li>For external processing:</li>
                            <p>We provide information to our affiliates or other trusted businesses or persons to process it for us, based on our instructions and in compliance with Privacy Policy and any other appropriate confidentiality and security measures.</p>
                            <li>For legal reasons</li>
                            <p>We will share personal information with companies, organizations or individuals outside of Qureka Lite & its partner companies due to various legal reasons.</p>
                           </ul>
                            <p>Personally identifiable information may be transferred as an asset in connection with a merger or sale (including any transfers made as part of an insolvency or bankruptcy proceeding) involving all or part of our business or as part of a corporate reorganization, stock sale, or other change in control. Your visit and any dispute over privacy are subject to this policy and our terms and conditions, including limitations on damages. We will only share your personal information with other companies or individuals outside of Qureka Lite & its partner companies in the following circumstances:</p>
                                    <ul class="roman-ul">
                            <li>To facilitate our service/ provide service on our behalf; </li>
                            <li>To assist us in analyzing how you used our service. </li>
                            </ul>
                        </li>

                        <li>Permissions that we require
                          <p>Qureka Lite requires following permissions to perform normally on your device.</p>
                           <ul class="alpha-ul">
                            <li>Notification permission: We require this permission to notify our users about the activities of Qureka Lite. We only send notifications to users who give their consent for the same.</li>
                           </ul>
                           <p>In some cases, we may enable you to access third party products or services through our Services. Please note that those products or services are offered by people or companies not affiliated with or controlled by us, and we are not responsible for their actions, their terms, their use of information, or their products or services. If you submit your information to a third party, that third party’s treatment of your information is governed by their privacy policy, which may differ from this Privacy Policy and which we encourage you to review.</p>
                           <p>Do not access or use our services by any means or technology which conceals your actual geo-location or is unable to provide accurate details of the location (for example, using a virtual private network (VPN) to access services offered by Qureka Lite).</p>
                        </li>

                              </ol>

                      <h6>Grievance Contact Information</h6>
                      <p>In the event you have any grievance relating to the processing of information provided by you, you may contact us at <a class="anchorDisplay" href="mailto:support@goqureka.com">support@goqureka.com</a> or write to us at the following address:</p>
                      <p>Team Qureka Lite</p>
                      <p><b>C/o Coolboots Media Pvt. Ltd</b></p>
                      <p><b>402 ABC, Centrum Plaza, Sector 53, Golf Course Road, Gurugram – 122002 (HR)</b></p>
                      <p><b>Call - 01244663531</b></p>
                    </div>


                    <div class="tab-pane fade" id="mygames" role="tabpanel" aria-labelledby="mygames-tab" v-bind:class="{ 'show active': !isIndia }">
                    <small>Effective Date: 29th June, 2021.</small>
                      <p> Coolboots Media Private Limited is hereinafter referred to as “Coolboots”, “We”, “Qureka Lite” or “Us”.                      </p>
                      <p>We thank you for playing our quiz. Your privacy is most significant to us, and we deem it as our duty to care  for  it  seriously;  therefore,  we  conduct  our  business  in  compliance  with  applicable  laws  on  data privacy  protection  and  data  security.  We  hope  the  policy  outlined  below  will  help  you  understand  what data  Qureka  Lite  may  collect,  how  Qureka  Lite  uses  and  safeguards  that  data  and  with  whom  we  may share it.</p>
                      <h6>PRIVACY POLICY</h6>
                      <p>This privacy policy (“Privacy Policy”) is incorporated by reference into the Qureka Lite Terms of Service (the  “Terms  Of  Service”).  This  Privacy  Policy  explains  our  online  information  practices,  the  kinds  of information we may collect, how we intend to use, store, protect, disclose and share that information, and how you can opt out of a use or correct or change such information.</p>
                      <p>Our  services  will  not  be  available  in  certain  regions.  Do  not  register  or  use  Qureka  Lite  if  you  are  from the below mentioned list of Countries where usage of Qureka Lite will be restricted:</p>
                      <ul class="alpha-ul">
                      <li> China & Russia from Asia</li>
                      <li> EU/EEA - Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic (Czechia), Denmark, Estonia, Finland,  France,  Germany,  Greece,  Hungary,  Iceland,  Ireland,  Italy,  Latvia,  Lichtenstein,  Lithuania, Luxembourg,  Malta,  Netherlands,  Norway,  Poland,  Portugal,  Romania,  Slovakia,  Slovenia,  Spain, Sweden, United Kingdom</li>
                      <li> Countries  from  Middle-East  -  Bahrain,  Egypt,  Iran,  Iraq,  Israel,  Jordan,  Kuwait,  Lebanon,  Oman, Palestine, Qatar, Saudi Arabia, Syrian Arab Republic, Turkey, The United Arab Emirates, Yemen</li>
                      </ul>
                      <p>If  any  user  registers  or  changes  or  manipulates  the  results/output  on  Qureka  Lite  using  any  unfair, fraudulent  means  like  VPN,  etc.  then  Coolboots  Media  Pvt.  Ltd./Qureka  Lite  will  not  be  responsible, rather  the  user  shall  be  solely  responsible  for  his  unlawful  act  and  shall  also  indemnify  Qureka Lite/Coolboots Media Pvt. Ltd. for any or all claims arising out of it at fullest extent.</p>
                      <h6>WHAT DOES THIS PRIVACY POLICY APPLY TO?</h6>
                      <p>This Privacy Policy applies to personal information (“Personal Information”) and other information that is processed  by  Qureka  Lite  in  the  course  of  our  business,  including  on  the  Qureka  Lite  website  (“Site”), (together with any and all future online and offline offerings operated by or on behalf of Qureka Lite (the “Services”)).  All  individuals  whose  responsibilities  include  the  processing  of  Personal  Information  on behalf of Qureka Lite are expected to protect that data by adhering to this Privacy Policy.</p>
                      <p>By visiting, installing, using or otherwise accessing the Services, you agree to this Privacy Policy and the Terms  of  Services  of  Qureka  Lite  and  give  an  explicit  and  informed  consent  to  the  processing  of  your Personal  Information  in  accordance  with  this  Privacy  Policy.  Please  do  not  install  or  use  the  Services  if you do not agree to this Privacy Policy or the Terms of Service.</p>
                      <p>We  do  everything  we  reasonably  can  to  protect  your  rights  of  privacy  on  Qureka  Lite,  but  we  are  not liable for any unauthorized or unlawful disclosures of your personal and confidential information made by third  parties  who  are  not  subject  to  our  control  (for  example  advertisers  and  websites  that  have  links  to our  Site).  You  should  take  note  that  the  information  and  privacy  practices  of  our  business  partners, advertisers,  sponsors  or  other  sites  to  which  we  provide  hyperlinks,  may  be  different  from  ours.  Please note that Qureka Lite is not responsible for the actions of third parties, the content of their sites, the use of information you provide to them or any services they may offer.</p>
                      <p>Qureka Lite reserves the right to modify this Privacy Policy and your continued use of the Services shall mean your acceptance of the changes to this Privacy Policy.</p>
                      <h6>WHO DO WE COLLECT INFORMATION FROM?</h6>
                      <p>Qureka  Lite  Collects  Personal  Information  and  other  information  regarding  its  current,  prospective,  and former clients, customers, users, visitors, and guests (collectively “Individuals”).</p>
                      <h6>WHAT INFORMATION DO WE COLLECT?</h6>
                      <p>The types of Personal Information we may collect (directly from you or from third-party sources) and our privacy practices depend on the nature of the relationship you have with Qureka Lite and the requirements of applicable law. Some of the ways that Qureka Lite may collect Personal Information includes:</p>
                      <ul class="alpha-ul">
                      <li>You  may  provide  Personal  Information  directly  to  Qureka  Lite  through  interacting  with  the  Services, participate in Services feedback, or contests or and</li>
                      <li>as  you  navigate  the  Services,  certain  passive  information  may  also  be  collected  about  your  visit, including through cookies and similar technologies as described below.</li>
                    
                      </ul>
                      <p>Primary goals in collecting information are to provide and improve our Services, to administer your use of the Services and to enable you to enjoy and easily navigate our Services. We endeavor to collect only that  information  that  is  relevant  for  the  purposes  of  processing.  Below  are  the  ways  we  collect  Personal Information and how we use it.</p>
                      <h6>1.&nbsp;Information Collected from Third-parties when registering and playing the Quiz</h6>
                      <p>If you play any of the quiz or use any of the Services on connected third-party applications or connect the Services  to  any  third-party  applications,  Google  and/or  from  Social  Networking  Sites  (“SNS”)  such  as Facebook, we may receive certain information about you from the provider of the third-party application.</p>
                      <p>The information received depends on the third-party application, your privacy settings and, if applicable, your friends' privacy settings on that third-party application.</p>
                      <p>When  you  connect  with  the  Services  through  an  SNS,  the  information  that  Qureka  Lite  collects  may include  your  first  and  last  name,  the  login  e-mail  you  provided  to  that  third-party  application  when  you registered  with  the  SNS,  When  you  use  any  of  the  Services,  on  a  mobile  platform,  Qureka  Lite  may collect  and  record  certain  information  such  as  your  location  based  on  your  Internet  Protocol  ("IP") address. This information is useful to Qureka Lite for troubleshooting and helps Qureka Lite understand usage trends.</p>
                      <p>You  can  manage  the  information  Qureka  Lite  receives  about  you  from  a  third-party  application,  like Facebook  or  Google,  on  which  you  play  our  quiz  and  you  will  need  to  follow  the  instructions  for  the third-party  application  for  changing  your  privacy  settings.  If  you  access  our  Services  from  a  third-party application  or  connect  our  Services  to  a  third-party  application,  you  should  also  read  that  third-party application’s terms of service and privacy policy.</p>
                      <h6>2. &nbsp;Information collected directly from you</h6>
                      <p>You may provide information directly to Qureka Lite when you:</p>
                      <ul class="alpha-ul">
                      <li>Use or access the Services</li>
                      <li>connect  with  or  access  our  Services  using  a  third  party  ID  or  log-in,  such  as  an  ID  for  a  social networking site or gaming service;</li>
                      <li> contact  others  using  our  Services,  including  when  you  use  chat,  “tell  a  friend,”  “email  this  page,”  or other similar features;</li>
                      <li>contact us, including for customer or technical support;</li>
                      <li>register for Qureka Lite offers, contests, or special events;</li>
                      <li> subscribe to push notifications</li>
                      </ul>
                      <p>Depending on how you choose to use the Services, this information may include things like your first and last name, email address, location information and other information.</p>
                      <h6>3. &nbsp;Information collected from your devices /Automated data collection:</h6>
                      <p>Automated data collection includes:</p>
                      <p>data about your account and game progress;</p>
                      <p>your IP address</p>
                      <p>data we collect with cookies and similar technologies (see more below)</p>
                      <p>data about your use of the Service, such as gameplay data and your interactions with other players inside the Service</p>
                      <p>In certain cases, we may also create a Unique ID and Encrypted ID for you when you use the Service.</p>
                      <h6>4. &nbsp;Cookies and similar technologies</h6>
                      <p>We  or  the  service  providers  acting  on  our  behalf  may  use  cookies,  beacons,  software  development  kits, mobile analytics software, and/or similar technologies for a number of purposes, including to authenticate users,  prevent  fraud,  remember  preferences  and  settings,  analyze  advertising  and  messaging  campaigns, analyze traffic and trends, personalize content (including ads), and otherwise provide the Services. These technologies  may  collect  information  about  your  use  of  our  Services,  pages  you  view,  links  you  tap, messages you open, and other actions taken in connection with our Services. You can disable cookies in your  browser  settings,  but  this  could  affect  the  availability  and  functionality  of  our  Services.  For information  on  interest-based  advertising  and  how  to  opt  out,  see  the  Interest-Based  Advertising  section below.</p>
                      <h6>5. &nbsp;Ad Networks</h6>
                      <p>Qureka Lite may feature advertising within the Services. The advertisers may collect and use information about you such as:</p>
                      <p>performance and game contextual data like your quiz session activity;</p>
                      <p>aggregated and/or de-identified information that is not intended to specifically identify a user; and technical information such as device identifier, Advertising ID, and IP address.</p>
                      <p>Ad Networks may use this information to provide interest-based or targeted advertisements to you.</p>
                      <h6>WHO DO WE COLLECT INFORMATION FROM?</h6>
                      <h6>1. &nbsp;We collect, store, use and process Personal Information for a variety of business purposes, including:</h6>
                      <p>to operate, improve and optimize our quiz and other Services;</p>
                      <p>to create game accounts and allow users to play our quiz;</p>
                      <p>to  personalize  our  Services,  understand  our  users  and  their  preferences  to  enhance  user  experience  and enjoyment using our Services and improve our users’ experience;</p>
                      <p>to provide access to certain areas, functionalities and features of our Services;</p>
                      <p>to notify you about in-game updates, new products or promotional offers;</p>
                      <p>to  send  related  information,  including  confirmations,  technical  notices,  updates,  and  security  alerts  and support and administrative messages;</p>
                      <p>to enable players to communicate with each other in quiz;</p>
                      <p>to respond to your comments and inquiries and provide customer support services;</p>
                      <p>to prevent potentially prohibited or illegal activities and protect our players;</p>
                      <p>to measure interest in our Services;</p>
                      <p>to ensure internal quality control; and</p>
                      <p>to verify Individual identity.</p>
                       <h6>2. &nbsp;Inform you about our quiz, products and Services</h6>
                       <p>Qureka  Lite  may  use  Personal  Information  to  provide  you  with  materials  about  offers,  products  and Services  that  may  be  of  interest,  including  new  quiz,  content  or  Services.  Qureka  Lite  may  provide  you with  these  materials  by  in-game  offers,  push  notification,  online  or  offline  marketing  or  email,  as permitted by applicable law, including:</p>
                       <p>to deliver advertising and marketing and promotional information to you; to tailor content, advertisements and  offers;  to  notify  you  about  products  and  services  or  upcoming  special  offers/events  that  may  be interest  of  you;  and  to  notify  you  about  rewards,  surveys,  contests  or  other  promotional  activities  or events sponsored or managed by us or our business partners.</p>
                       <p>You  can  opt  out  at  any  time  from  receiving  such  materials  or  by  sending  an  email  to <a class="anchorDisplay" href="mailto:dpo@qureka.co">dpo@qureka.co</a> without incurring any costs.</p>
                       <h6>3. &nbsp;Send Push Notifications</h6>
                       <p>Qureka Lite may occasionally use push notifications to send you game updates, information on winning contests and other Services-related notifications that may be important to you. You may at any time opt out  from  receiving  these  types  of  communications  by  turning  them  off  at  the  device  level  through  your settings.</p>
                       <h6>4. &nbsp;Use Anonymous and Aggregated Information</h6>
                       <p>We may use Personal Information and other information about you to create anonymized and aggregated information,   such   as   de-identified   demographic   information,   de-identified   location   information, information  about  the  computer  or  device  from  which  you  access  our  Services  or  other  analyses  we create. Anonymized and aggregated information is used for several functions, including the measurement of visitors’ interest in and use of various portions or features of the Services. Anonymized or aggregated information  is  not  Personal  Information,  and  we  may  use  such  information  in  a  number  of  ways, including research, internal analysis, Analytics and any other legally permissible purposes. We may share this information within Qureka Lite and with third parties for our or their purposes in an anonymized or aggregated form that is designed to prevent anyone from identifying you.</p>
                       <h6>HOW WE MAY DISCLOSE YOUR INFORMATION</h6>
                       <p>We may share the information we collect about you in various ways, including:</p>
                       <h6>1. &nbsp;Service providers</h6>
                       <p>We  may  share  any  information  we  receive  with  Service  Providers.  The  types  of  Service  Providers (processors)  to  whom  we  entrust  Personal  Information  include  Service  Providers  for:  (i)  provision  of  IT and related services; (ii) provision of information and services you have requested; (iv) customer service activities; and (v) in connection with the provision of the Services. Qureka Lite has executed appropriate contracts with the Service Providers that prohibit them from using or sharing Personal Information except as  necessary  to  perform  the  contracted  services  on  our  behalf  or  to  comply  with  applicable  legal requirements.</p>
                       <h6>2. &nbsp;Marketing - Interest-based or targeted advertising and third-party marketing.</h6>
                       <p>Through  our  Services,  Qureka  Lite  may  allow  third-party  advertising  partners  to  set  tracking  tools  (e.g., cookies) to collect the following information within our Services:</p>
                       <p>performance  data  (like  the  number  of  clicks  on  an  advertisement);  certain  technical  information  (for example,  IP  addresses,  non-persistent  device  identifiers  such  as  Advertising  ID  and  de-identified persistent  device  identifiers  such  as  a  hashed  Android  ID);  other  contextual  data  about  your  game  play (for example, your level and session length); and pseudonymous data, not directly identifying information (e.g.,  OS  name  and  versions,  device  models,  time  stamp).  These  advertising  partners  may  use  this information (and similar information collected from other websites) to measure how effective ads are for delivering targeted advertisements to you about our quiz within their networks. This practice is commonly referred to as “interest-based or targeted advertising.” We may allow access to other data collected by the Services  to  facilitate  transmittal  of  information  that  may  be  useful,  relevant,  valuable  or  otherwise  of interest to you.</p>
                       <h6>3. &nbsp;Disclosures under applicable law</h6>
                       <p>We may access, preserve, and disclose your Personal Information, other account information and content if we believe doing so is required or appropriate: (i) to comply with law enforcement or national security requests  and  legal  process,  such  as  a  court  order  or  subpoena;  (ii)  to  respond  to  your  requests;  (iii)  to protect yours, ours or others’ rights, property or safety; (iv) to enforce Qureka Lite' policies or contracts; (v) when we believe disclosure is necessary or appropriate to prevent physical harm or financial loss or in connection  with  an  investigation  or  prosecution  of  suspected  or  actual  illegal  activity;  or  (vi)  if  we,  in good faith, believe that disclosure is otherwise necessary or advisable.</p>
                       <p>In  addition,  from  time  to  time,  server  logs  may  be  reviewed  for  security  purposes—e.g.,  to  detect unauthorized  activity  on  the  Services.  In  such  cases,  server  log  data  containing  IP  addresses  may  be shared with law enforcement bodies, so they may identify users in connection with their investigation of the unauthorized activities.</p>
                       <h6>4. &nbsp;Merger, sale, or other asset transfers</h6>
                       <p>If  we  are  involved  in  a  merger,  acquisition,  financing  due  diligence,  reorganization,  bankruptcy, receivership,  sale  of  company  assets  or  transition  of  service  to  another  provider,  then  your  information may be sold or transferred as part of such a transaction as permitted by law and/or contract. In such event, Qureka  Lite  will  endeavor  to  direct  the  transferee  to  use  Personal  Information  in  a  manner  that  is consistent with the Privacy Policy in effect at the time such Personal Information was collected.</p>
                       <h6>INTEREST-BASED ADVERTISING</h6>
                       <p>We work with third party advertising partner i.e. Google. We may share certain of your information with Google to make advertising more relevant, measure its effectiveness, and help recognize your devices and serve  ads.  We  or  they  may  also  employ  cookies  or  similar  technologies,  as  described  above,  to  ensure appropriate advertising and personalized experiences. Please note that our ad partners may combine your information with other information they have independently collected, and may treat that information in accordance with their privacy policies.</p>
                       <p>If you would prefer to opt out of having information about your Qureka Lite usage used for interest-based advertising,  you  may  do  so  by  sending  a  request  of  opt  out  from  registration  as  well  as  menu  page available on our Qureka Lite Please note that you may continue to receive generic ads that are not based on your preferences.</p>
                       <h6>Qureka Lite THIRD-PARTY ADVERTISING COMPANIES:</h6>
                       <p>ADcodes and Analytics Partners</p>
                       <p>Qureka  Lite  contains  ADS  from  Google  and  codes  from  Analytic  tools  company  and  can  contain  codes for  profiling  the  device  on  media  consumption  and  other  device  data  and  utilizing  the  same  to  target relevant content and ads to the device. To comply with the applicable data protection laws and pursuant to our  agreement  with  the  Advertisers  and  Analytics  Tool  Companies,  we  are  hereby  including  Privacy Policy Link of such companies. By agreeing to our Privacy Policy you are giving consent for processing any  personal  information  or  information  by  the  Advertisers  in  connection  with  the  agreement  between Qureka Lite and the Advertisers.</p>
                       <p>Google AdSense , <a href="https://privacy.google.com/businesses/controllerterms/">https://privacy.google.com/businesses/controllerterms/</a></p>
                       <p>Using   the   Google   Ads   Settings   https://www.google.com/settings/ads,   you   can   opt-out   of   Google Analytics for Display Advertising and customize Google Display Network ads. You can also opt-out by downloading and installing the Google Analytics Opt-out Browser Add-on <a href="https://tools.google.com/dlpage/gaoptout/">https://tools.google.com/dlpage/gaoptout/ </a>for your web browser.</p>
                       <p>In  addition  to  the  general  limitations  in  the  above  terms,  we  will  not  be  liable  to  you  or  any  other  third party for any damages suffered by you or any other third party howsoever arising from the disclosure of your Personal Information. Your only remedy under such circumstances will be to end this agreement.</p>
                       <h6>INTERNATIONAL TRANSFER</h6>
                       <p>All  Personal  Information  collected  via  or  by  Qureka  Lite  may  be  stored  anywhere  in  the  world,  in  the cloud or the servers of our service providers. When we transfer your Personal Information internationally, we will take reasonable steps to ensure that it is treated securely, lawfully and in the manner we describe in  this  Privacy  Policy.  Please  note  that  laws  vary  from  jurisdiction  to  jurisdiction,  so  the  privacy  laws applicable  to  the  places  where  your  information  is  transferred  to  or  stored,  used  or  processed  in  may  be different from the privacy laws applicable to the place where you are resident.</p>
                       <p>By providing information to Qureka Lite, you consent to the storage of your Personal Information in these locations.</p>
                       <p>if you are using our Services from the United States of America with laws governing data collection and use, please note that you are agreeing to the transfer of your information to India and other countries and to  the  processing  of  your  data  globally.  This  transfer  is  required  to  host  the  Services,  provide  you  with technical and customer support services, perform backups of your data.</p>
                       <p>By  choosing  to  visit  Qureka  Lite,  utilizing  the  Services  or  otherwise  providing  information  to  us,  you agree that any dispute over privacy or the terms contained in this Privacy Policy will be governed by the laws of India and the adjudication of any disputes arising in connection with Qureka Lite or the Site will be in accordance with the Terms Services.</p>
                       <h6>Your Rights and Choices</h6>
                       <p>Consumers  (i.e.  California  residents)  are  provided  with  specific  rights  under  the  CCPA  regarding  their personal information. Your rights and how to exercise same with respect to the Qureka Lite are described and explained below.</p>
                       <p>Access to Specific Information and Data Portability Rights</p>
                       <p>You have the right to request that Qureka Lite disclose certain information to you about Qureka Lite’s use and  collection  of  your  personal  information  over  the  preceding  12-month  period.  Once  Qureka  Lite receives and confirms your verifiable consumer request, Qureka Lite will disclose to you:</p>
                       <p>The categories of sources for the personal information Qureka Lite collected about you;</p>
                       <p>The categories of third parties with whom Qureka Lite shares that personal information;</p>
                       <p>The categories of personal information Qureka Lite collected about you;</p>
                       <p>The specific pieces of personal information Qureka Lite collected about you (also called a data portability request);</p>
                       <p>Qureka Lite’s business or commercial purpose for collecting or selling that personal information;</p>
                       <p>If  Qureka  Lite  sold  or  disclosed  your  personal  information  for  a  business  purpose,  two  separate  lists disclosing:  (1)  sales,  identifying  the  personal  information  categories  that  each  category  of  recipient purchased; and (2) disclosures for a business purpose, identifying the personal information categories that each category of recipient obtained.</p>
                       <h6>Deletion Request Rights</h6>
                       <p>You have the right to request that Qureka Lite delete any  or all  of the personal information that Qureka Lite  collected  from  you  and  retained,  subject  to  certain  exceptions.  Upon  Qureka  Lite’s  receipt  and confirmation  of  a  verifiable  consumer  request  from  you,  Qureka  Lite  will,  unless  an  exception  applies, delete  (and  direct  any  of  our  service  providers  having  such  information  to  delete)  your  personal information  from  Qureka  Lite’s  records.  Under  certain  conditions,  Qureka  Lite  may  deny  your  deletion request.  Qureka  Lite  may  deny  your  request  for  deletion  if  retaining  the  information  is  necessary  for Qureka Lite or our service provider(s) to:</p>
                       <p>Protect the website and detect security incidents, including preventing fraudulent, deceptive, malicious, or illegal activity, or to enforce the law against those responsible for such actions.</p>
                       <p>Comply with the applicable laws;</p>
                       <p>Adhere to any legal obligation;</p>
                       <p>Provide  a  service  you  have  requested,  complete  a  purpose  for  which  Qureka  Lite  has  collected  the personal information, to perform any contract with your, or to take any other steps reasonably anticipated within the context of Qureka Lite’s ongoing business relationship with you;</p>
                       <p>Participate in peer-reviewed or public historical, scientific, or statistical research in the public interest that adheres to all other applicable privacy laws and ethical constraints, when the information’s deletion may likely  seriously  impair  or  render  impossible  the  research’s  achievement,  if  you  previously  provided informed consent;</p>
                       <p>Troubleshoot  or  debug  products,  including  to  identify  and  repair  errors  and  intended  functionality impairments;</p>
                       <p>Enable  solely  internal  uses  that  are  reasonably  aligned  with  consumer  expectations  based  on  your relationship with us;</p>
                       <p>Make other lawful and internal uses of that information that are compatible with the context in which you provided it.</p>
                       <p>Exercising Access, Data Portability, and Deletion Rights</p>
                       <p>To exercise your access, data portability, and deletion rights described above, please submit a verifiable consumer request to Qureka Lite by sending an email to Qureka Lite at <a class="anchorDisplay" href="mailto:contact@qureka.co">contact@qureka.co</a>. Only you, or a  person  registered  with  the  appropriate  authority  authorized  by  you  to  act  on  your  behalf,  may  make  a verifiable consumer request related to your personal information.</p>
                       <p>A verifiable consumer request for access or data portability may be made by you only twice within a 12-month period. The verifiable consumer request must:</p>
                       <p>Describe your request with sufficient detail allowing us to properly evaluate, understand, and respond to it; and</p>
                       <p>Provide sufficient information that allows Qureka Lite to reasonably verify that you are the person about whom Qureka Lite collected personal information or an authorized representative.</p>
                       <p>Qureka  Lite  cannot  provide  you  with  personal  information  or  respond  to  your  request  if  Qureka  Lite cannot verify your identity or authority to make the request and confirm the personal information relates to you. Qureka Lite will only use personal information provided in a verifiable consumer request to verify the requestor’s authority to make the request or identity.</p>
                       <h6>Response Timing and Format</h6>
                       <p>Qureka  Lite  makes  efforts  to  respond  to  a  verifiable  consumer  request  within  45  days  of  its  receipt.  In case  we  require  more  time  (up  to  90  days),  we  shall  inform  you  of  the  reason  and  extension  period  in writing.  If  you  have  an  account  with  the  website,  Qureka  Lite  will  deliver  its  written  response  to  that account. If you do not have an account with us, or a response is not capable of being sent thereto, Qureka Lite  will  deliver  our  written  response  by  mail  or  electronically,  at  your  option.  Any  disclosures  Qureka Lite provides will only cover the 12-month period preceding the verifiable consumer request’s receipt. If applicable,  the  response  Qureka  Lite  provides  will  also  explain  the  reasons  Qureka  Lite  cannot  comply with  a  request.  For  data  portability  requests,  Qureka  Lite  will  select  a  format  to  provide  your  personal information  that  is  readily  useable  and  should  allow  you  to  transmit  the  information  from  one  entity  to another entity without hindrance.</p>
                       <p>Unless it is repetitive, excessive, or manifestly unfounded, Qureka Lite does not charge a fee to process or respond  to  your  verifiable  consumer  request.  If  Qureka  Lite  determines  that  the  request  warrants  a  fee, Qureka  Lite  will  provide  you  with  a  cost  estimate  before  completing  your  request  tell  you  why  it  made that decision.</p>
                       <h6>Personal Information Sales Opt-Out Rights</h6>
                       <p>You  have  the  right  to  opt  out  of  certain  uses  and  disclosures  of  your  Personal  Information.  When  you have  consented  to  Qureka  Lite’  processing  of  your  Personal  Information  other  information,  you  may withdraw  that  consent  at  any  time  and  opt  out  to  further  processing,  by  contacting <a  class="anchorDisplay" href="mailto:dpo@qureka.co">dpo@qureka.co.</a>.You can send us request for opt out from the Qureka Lite registration page or if already registered on Qureka Lite then you can find the optout link in the menu from where you can exercise your right to opt out. Even if  you  opt  out,  we  may  still  collect  and  use  anonymized,  non-Personal  Information  regarding  your activities  on  our  Services.  You  have  right  to  direct  us  to  not  sell  your  personal  information  at  any  time (the “right to opt-out”). To exercise the right to opt-out, you may submit a request to us by clicking here: Do Not Sell My Personal Information.</p>
                       <p>Once you make an opt-out request, Qureka Lite will wait at least twelve (12) months before asking you to reauthorize personal information sales. However, you may change your mind and opt back in to personal information sales at any time by visiting Qureka Lite and sending us a message to that effect. Qureka Lite will only use personal information provided in an opt-out request to comply with and review the request.</p>
                       <h6>Non-Discrimination</h6>
                       <p>Qureka  Lite  will  not discriminate  against  you  for exercising any  of your  rights. Unless permitted  by  the law, we will not:</p>
                       <p>Deny you goods or services;</p>
                       <p>de you a different level or quality of goods or services.</p>
                       <h6>DATA RETENTION</h6>
                       <p>Qureka Lite retains the Personal Information collected as described in this Privacy Policy for as long as you  use  our  Services  or  as  necessary  to  fulfill  the  purpose(s)  for  which  it  was  collected,  provide  our Services,  resolve  disputes,  establish  legal  defenses,  conduct  audits,  pursue  legitimate  business  purposes, enforce our agreements and comply with applicable laws.</p>
                       <h6>SECURITY OF YOUR INFORMATION</h6>
                       <p>We follow  generally accepted  industry standards  and maintain  reasonable  safeguards  designed to  secure and  prevent  unauthorized  access  to  the  information  in  our  possession.  Personal  information  is  stored  in secure  operating  environments,  and  only  those  at  Qureka  Lite  with  a  legitimate  business  need  to  do  so may access your personal information. We also take reasonable steps to assure that third parties to whom we  transfer  information  will  provide  protections  appropriate  to  that  type  of  information.  If  you  have reason to believe that your interaction with us is no longer secure, please immediately contact us.</p>
                       <h6>CHILDREN’S PRIVACY</h6>
                       <p>The Services are not directed to children under 18, and Qureka Lite does not knowingly collect Personally Information from children under 18. If you are under 18, please do not send any data about yourself to us, including your name, email address or any personal identifiable information. If you are a parent or legal guardian  of  a  child  under  the  age  of  18  who  uses  our  services,  please  contact  us  at <a class="anchorDisplay" href="mailto:dpo@qureka.co">dpo@qureka.co</a>.We will delete your child’s Personal Information if we are able to identify your child.</p>
                       <h6>REDRESS/ COMPLIANCE AND ACCOUNTABILITY</h6>
                       <p>If you have any questions about our privacy practices or this Privacy Policy, please contact Qureka Lite by email at <a class="anchorDisplay" href="mailto:dpo@qureka.co">dpo@qureka.co</a>. We will address your concerns and attempt to resolve any privacy issues in a timely manner.</p>
                       <h6>Complaint Escalation</h6>
                       <p>If  you  are  not  satisfied  with  the  way  your  query  or  complaint  is  handled  by  Qureka  Lite,  please  let  us know by emailing us at <a class="anchorDisplay" href="mailto:management@qureka.co">management@qureka.co</a>.</p>
                       <h6>CHANGES TO OUR PRIVACY POLICY AND PRACTICES</h6>
                       <h6>1. &nbsp;Revision to the Privacy Policy</h6>
                       <p>We may revise this Privacy Policy at our sole discretion, so review it periodically. If you continue to visit this  Site  and  use  the  services  made  available  to  you  after  such  changes  have  been  made,  you  hereby provide your consent to the changes.</p>
                       <h6>2. &nbsp; Posting of Revised Privacy Policy</h6>
                       <p>If  there  are  any  material  changes  to  this  Privacy  Policy,  Qureka  Lite  will  notify  you  by  email  or  as otherwise  required  by  applicable  law.  We  will  post  adjustments  to  the  Privacy  Policy  on  this  web  page, and the revised version will be effective immediately when it is posted (or upon notice as applicable). If you are concerned about how your information is used, bookmark this page and read this Privacy Policy periodically.</p>
                       <h6>3. &nbsp; New Uses of Personal Information</h6>
                       <p>Additionally, before we use Personal Information for any new purpose not originally authorized by you, we will endeavor to provide information regarding the new purpose and give you the opportunity to opt out. When consent of the Individual for the processing of Personal Information is otherwise required by law or contract, Qureka Lite will endeavor to comply with the law or contract.</p>
                       <h6>CONTACT INFORMATION</h6>
                       <p><b>Email: <a class="anchorDisplay" href="mailto:dpo@qureka.co">dpo@qureka.co</a>, <a class="anchorDisplay" href="mailto:management@qureka.co">management@qureka.co</a></b></p>
                        <p><b>Address: Coolboots Media Private Limited, 402, ABC, 4th Floor, Centrum Plaza, Sector-53, Golf Course Road, Gurugram, Haryana, India-1220024</b></p>
                        <p><b>Telephone: +91 124 4663531</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</template>
<style scoped>
.anchorDisplay{
display: contents;
}
.roman-ul
{
padding:10px;
}
p a{
 display:block;
 word-break: break-all;
}
.roman-ul li
{
list-style-type: lower-roman;
}
.alpha-ul li{
list-style-type: lower-alpha;
}
.alpha-ul
{
padding:10px;
}
</style>
 
<script>
import Subheader from "./../common/Subheader.vue";
  export default {
    components: {
        Subheader
        },
   
       data() {
           return {
               isIndia:false,
               isActive: true,
             }
       },
      created: function() {
          
          let userzone = $cookies.get('userzone');
          // userzone = JSON.parse(userzone);
          // console.log(userzone);
          // console.log(userzone.ip);
          // console.log(userzone.ip);
          // let usermode = $cookies.get('usermode');
          // let optout = $cookies.get('optout');
          // console.log(userzone.country);
          if(userzone.country=='IN')
          {
            this.isIndia = true;
          }
          
         },
       methods: {
            
            
        },
         beforeDestroy: function(){
            // console.log('DESTROYYYY!!!');
              
          }
    };
</script>