<template>

   <!-- Rank Breakup Modal -->
    <div class="modal fade welcomemodal-modal" id="rankbreakup" data-backdrop="static" data-keyboard="false"
      tabindex="-1" aria-labelledby="welcomemodalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal('rankbreakup')">
              <span aria-hidden="true">&times;</span>
            </button>
            <img src="/assets/images/rank-icon.png" alt="">
            <h2>Rank  <span>Breakup</span></h2>
          </div>
          <div class="modal-body rankbrakup-model-content py-0">

            <ul>
               <li v-for="(prize, index) in prizes">
                  <small v-if="prize.from==prize.to">Rank {{prize.from}}</small>
                  <small v-if="prize.from!=prize.to">Rank {{prize.from+'-'+prize.to}}</small>
                  <h6><img src="/assets/images/coin.png" alt=""><span>{{prize.amount}}</span></h6>
                </li>
              
            </ul>
          </div>
          <div class="ads">
            <img src="images/small-ads.png" alt="">
          </div>
        </div>
      </div>
    </div>
<!--rank break up popup-->
</template>
<script>
import Googlead from "./../common/Googlead.vue";
import common from './../common';

export default {
   components: {
        Googlead
        },
  name: 'Prizebreakup',
   props: {
            prizes: {type: Array,default() {return {}}},
        },
         created: function() {
          this.closeModal = common.closeModal.bind(this);
          
         },

         beforeDestroy: function(){
            //this.$cookies.remove('ubal');
            this.closeModal('rankbreakup');
            //$('#rankbreakup').modal('hide');

          }
};
</script>