<template>
<!--rank break up popup-->
       <div class="modal fade rulespopup-modal" id="rulespopup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="rulespopupLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="rules">
        <div class="modal-content text-center">
          <div class="modal-header">
            <h6>Rules</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pt-1">
            <div class="earning-history-tabs">
              <div class="tabs-content">
                <div class="tabs-btn row">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="forguestuser-tab" data-toggle="tab" href="#forguestuser" role="tab" aria-controls="forguestuser" aria-selected="true" :class="{ 'active': isLoggedUser != true }">For guest users</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="logedinuser-tab" data-toggle="tab" href="#logedinuser" role="tab" aria-controls="logedinuser" aria-selected="false" :class="{ 'active': isLoggedUser == true }">For logged-in users</a>
                    </li>
                  </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade" id="forguestuser" role="tabpanel" aria-labelledby="forguestuser-tab"  :class="{ 'show active': isLoggedUser != true }">
                    <ol>
                      <li>We have a set of contests running live under all the games.</li>
                      <li>Every contest has an end time, so you can join any contest before it's end time.</li>
                      <li>Guest users can join & play any live contest, irrespective of whether the contest has free entry or coin based entry.</li>
                      <li>Guest users can play any game but they will not be eligible to win prizes in the contests, until they sign up on MGL</li>
                    </ol>
                  </div>
                  <div class="tab-pane fade" id="logedinuser" role="tabpanel" aria-labelledby="logedinuser-tab"  :class="{ 'show active': isLoggedUser == true }">
                    <ol>
                      <li>We have a set of contests running live under all the games.</li>
                      <li>Every contest has an end time, so you can join any contest before it's end time.</li>
                      <li>Each contest can either have a free entry or coin based entry. For coin based entry, on joining the contest said amount of coins will be deducted from your coin wallet.</li>
                      <li>After joining the contest, you can play the game as many times as you want to increase your score. Highest score out of all gameplays will be considered as your final score of that contest.</li>
                      <li>The winners for the contest is decided depending upon the scores of all the users that participated in the contest.</li>
                      <li>Winners for each contest are declared after the end time of the contest.</li>
                      <li>If your rank is within the rank breakup matrix, then you're one of the winners in the contest.</li>
                      <li>Prizes in the form of coins are distributed to all the winners as per the rank-prize matrix.</li>
                      <li>On My Games tab, you can resume playing the contests which you've already joined & are ongoing. Also you can check your performance in the last 10 contests you played & have completed in My Games tab.</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<style type="text/css">
  #rulespopup p
  {
    font-size: 14px;
    margin-bottom: 6px;
  }
</style>

<script>
import common from './../common';
export default {
  name: 'Rulespopup',
  data() {
           return {
               isLoggedUser:false,
               pagename:"",
               availableBalance:0
             }
       },
       created: function() {

     this.isUserAuthenticate = common.isUserAuthenticate.bind(this);
      this.isLoggedUser = this.isUserAuthenticate();
      
      // console.log(this.$router.currentRoute.path);
      // console.log(this.$router.currentRoute.name);

  },
};
</script>