<template>
  <div>
     <div class="menu-wrapper">
        <span class="close-icon"><img src="/assets/images/menu-close-icon.png" alt=""></span>
        <div class="w-100">

         <div class="userinformation" v-if="!isLoggedUser">
        
            <span class="profile"><img src="/assets/images/profile-img.png" alt=""></span>
            <div class="content">
              <h5>Guest User</h5>
              <router-link :to="'/signup'" tag="a"  class="btn-style" v-if="pageLoadType === 'false'"><span class="shimmer">Join Qureka Lite</span></router-link>
              <a href="/signup" tag="a"  class="btn-style" v-else><span class="shimmer">Join Qureka Lite</span></a>
            </div>
          </div>        
          
          
          <div class="social-icons">
            <ul>
              <li><a href="https://m.facebook.com/QLite.mweb/">
                <span class="icon-outer"><img src="/assets/images/facebook-icon.png" alt=""></span>
                <h6>Facebook</h6></a></li>
              <li><a href="https://www.instagram.com/QurekaLite_mweb/" target="_NEW">
                <span class="icon-outer"><img src="/assets/images/insta-icon.png" alt=""></span>
                <h6>Instagram</h6></a></li>
              <li>
                <router-link to="/quizrules" tag="a" v-if="pageLoadType === 'false'"><span class="icon-outer"><img src="/assets/images/quiz-rule-icon.png" alt=""></span>
                <h6>Quiz Rules</h6></router-link>
                <a href="/quizrules" tag="a" v-else><span class="icon-outer"><img src="/assets/images/quiz-rule-icon.png" alt=""></span>
                <h6>Quiz Rules</h6></a>
                
              </li>
              <li>
                <router-link to="/contactus" tag="a" v-if="pageLoadType === 'false'">
                <span class="icon-outer"><img src="/assets/images/contact-icon.png" alt=""></span>
                <h6>Contact Us</h6></router-link>
                <a href="/contactus" tag="a" v-else>
                <span class="icon-outer"><img src="/assets/images/contact-icon.png" alt=""></span>
                <h6>Contact Us</h6></a>
                </li>

                <li>
                <router-link to="/partnerus" tag="a" v-if="pageLoadType === 'false'">
                <span class="icon-outer"><img src="/assets/images/partnerus-menu-icon.png" alt=""></span>
                <h6>Partner Us</h6></router-link>
                <a href="/partnerus" tag="a" v-else>
                <span class="icon-outer"><img src="/assets/images/partnerus-menu-icon.png" alt=""></span>
                <h6>Partner Us</h6></a>
                </li>

                <li v-if="isLoggedUser && isIndia">
                  <router-link to="/portcoin" tag="a" v-if="pageLoadType === 'false'">
                  <span class="icon-outer"><img src="/assets/images/port-your-coin-icon.png" alt=""></span>
                  <h6>Port Your Coins</h6></router-link>
                  <a href="/portcoin" tag="a" v-else>
                  <span class="icon-outer"><img src="/assets/images/port-your-coin-icon.png" alt=""></span>
                  <h6>Port Your Coins</h6></a>
                  </li>
                <li v-if="isLoggedUser">
                <!--  <router-link to="/logout" tag="a" v-if="pageLoadType === 'false'">
                  <span class="icon-outer"><img src="/assets/images/logout-icon-menu.png" alt=""></span>
                  <h6>Logout</h6></router-link> 

                  <a href="/logout" tag="a">
                  <span class="icon-outer"><img src="/assets/images/logout-icon-menu.png" alt=""></span>
                  <h6>Logout</h6></a> -->

                   <a href="javascript:void(0);" tag="a" v-on:click="logout()">
                  <span class="icon-outer"><img src="/assets/images/logout-icon-menu.png" alt=""></span>
                  <h6>Logout</h6></a>
                </li>
            </ul>
            
          </div>

        </div>

        <div class="donot-sell-myinfo-text text-center py-3" v-if="isSell">
          <router-link to="/optout" tag="a" v-if="pageLoadType === 'false'">Manage data preferences</router-link>
          <a href="/optout" tag="a" v-else>Manage data preferences</a>
        </div>
      </div>
    </div>
</template>
<script>
import common from './../common';
export default {
  name: 'Sidebar',
   data() {
           return {
               isLoggedUser:false,
               isSell:false,
               isIndia:false,
               pageLoadType: false,
             }
       },
  created: function() {

     this.isUserAuthenticate = common.isUserAuthenticate.bind(this);
     this.showPopup = common.showPopup.bind(this);
      this.isLoggedUser = this.isUserAuthenticate();
      this.pageLoadType = this.$pageLoadType;


      let userzone = $cookies.get('userzone');
      let usermode = $cookies.get('usermode');
      let optout = $cookies.get('optout');
      if(usermode!="" && usermode=='compliance' && optout!="true")
      {
        this.isSell = true;
      }

      if(userzone.country=='IN')
      {
        this.isIndia = true;
      }

  },
  methods: {
           logout: function() {

            let self = this;
             var response =  this.$httpClient.get('logout').then(function(res){
                  
                  $cookies.remove('cutk');
                  $cookies.remove('ustk');
                  $cookies.remove('cutka');
                  $cookies.remove('user_id');
                  $cookies.remove('ubal');
                  $cookies.remove('coinbalancepopup');
                  

                   if(self.$pageLoadType === 'true'){
                      window.location.href = "/intro";
                  }else{
                    self.$router.push({ name: 'Intro'}) 
                  }
             });
           }
  }
};
</script>