<template>
 <div>
   <header>
        <div class="container">
          <div class="row">
            <div class="col-12 back-header">
              <span class="back-btn" v-if="isBack=='true'" @click="goBack()"><img src="/assets/images/back-button.png" alt=""></span>
              <div class="page-name">
                <div class="content d-flex align-items-center">
                  <img :src="titleIcon" alt=""  v-if="titleIcon!=''">
                  <h5 v-if="titleName!=''">{{titleName}}</h5>
                  <span class="refresh-icon coins-text" v-if="otherdata.wallet && isLoggedUser">
                    <img src="/assets/images/coin-box.png" alt=""><h5>{{availableBalance}}</h5>
                  </span>
                  <span class="refresh-icon coins-text" v-if="otherdata.scoreMeter">
                    <img src="/assets/images/score-meter.png" alt=""><h5>{{otherdata.scoreValue}}</h5>
                  </span>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

  
	  
    </div>
  

</template>

<script>
import common from './../common';
	export default {
  name: "Subheader",
   props: {
            // availableBalance: {type: String, required: false, default: ""},
            //isUser: {type: Boolean, required: false, default: false},
            titleIcon: {type: String, required: false, default: ""},
            titleName: {type: String, required: false, default: ""},
            isBack: {type: String, required: false, default: false},
            otherdata: {type: Object,required:false, default() {return {}}},
        },
  data() {
           return {
               isLoggedUser:false,
               pagename:"",
               availableBalance:0
             }
       },
  created: function() {

     let self = this;
     // console.log(this.otherdata);

     this.isUserAuthenticate = common.isUserAuthenticate.bind(this);
     this.goBack = common.goBack.bind(this);
      this.isLoggedUser = this.isUserAuthenticate();
      this.pagename = this.$router.currentRoute.name;

      // console.log(this.$router.currentRoute.path);
      // console.log(this.$router.currentRoute.name);
      setTimeout(function(){ 
        let balance = self.$cookies.get('ubal');
        //console.log('user balance:'+balance);
        if(balance > 0)
        {self.availableBalance = balance;}
      }, 2000);
    

  },
   mounted(){
    // let balance = this.$cookies.get('ubal');
    // // console.log('user balance'+balance);
    // if(balance > 0)
    // {this.availableBalance = balance;}
  }
};
</script>