<template>
    <div>
      <!-- Coins Wallet -->
      <Subheader titleIcon="/assets/images/opt-icon.png" titleName="Terms & Conditions" isBack="true"/>

      <!-- # Earning and History Tabs -->
      <section class="earning-history-tabs privacy-policy-page">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="earning-history-content p-3 bg-white my-3">
                
                <div class="tabs-content">
                  <div class="tabs-btn row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="allgames-tab" data-toggle="tab" href="#allgames" role="tab" aria-controls="allgames" aria-selected="true" v-bind:class="{ 'show active': isIndia }">Indian User</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="mygames-tab" data-toggle="tab" href="#mygames" role="tab" aria-controls="mygames" aria-selected="false" v-bind:class="{ 'show active': !isIndia }">Non- Indian User</a>
                      </li>
                    </ul>
                  </div>
                  <div class="policy-featured-img w-100"><img src="/assets/images/terms-condition-img.png" alt=""></div>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="allgames" role="tabpanel" aria-labelledby="allgames-tab" v-bind:class="{ 'show active': isIndia }">
                        <small>Effective Date: 29th June 2021.</small>
                      <p>These Terms of Use (the "Terms") are a binding contract between You and CoolBoots Media Pvt. Ltd ("Company, CoolBoots," "we", “Qureka Lite”, "our" and "us"). You must agree to and accept all of the Terms, or you don't have the right to use the Services. Your using the Services in any way means that you agree to all of these Terms, and these Terms will remain in effect while you use the Services.</p>
                      <p>When you register on Qureka Lite from another Publisher site/product/service and start using it, these terms will automatically apply to you. You should make sure therefore that you read them carefully before using the product/service. You are not allowed to copy, or modify the product/service, any part of the product/service, or our trademarks in any way. You are not allowed to try and attempt to extract the source code of the product/service, and you also shouldn’t try to translate the product/service into other languages, or make derivative versions. The product/service itself, and all the trade marks, copyright, database rights and other intellectual property rights related to it, belong to CoolBoots Media Pvt. Ltd, the owner of the product/service Qureka Lite. These terms of use are subject to change, so we urge you to keep checking them.</p>
                      <p>These terms constitute an electronic record in accordance with the provisions of the Information Technology Act, 2000 and the Information Technology (Intermediaries guidelines) Rules, 2011 thereunder, as amended from time to time.</p>
                      <p>This website is not for use by any minors (defined as those who are not at least 18 years of age), and you must not use this website if you a minor.</p>
                      <p>We reserve the right to make changes to the product/service, at any time and for any reason in the future, however the product/service is free to use for the users. We will never charge you for the product/service or its services. CoolBoots will not be responsible for any such transactions/payments made by you to other 3rd party.</p>
                      <p>We at CoolBoots Media or Qureka Lite never ask you for your bank details or ask you to transfer any money to us in any case as all services are free of cost for the user. Please be careful of the fraudulent activities. Any CoolBoots or Qureka Lite along with its employees or associated parties will never ask you for any personal information except at the time of signup/login. In no case we do any activities beyond our service to contact you including any marketing/promotional activities nor do we share your information to any 3rd party for any such activities.</p>
                      <p>We store and processes personal data that you have provided to us, in order to provide you services seamlessly. Certain functions of the product/service will require the product/service to have an active internet connection. The connection can be Wi-Fi, or provided by your mobile network provider, but Qureka Lite cannot take responsibility for the product/service not working at full functionality if you don’t have access to Wi-Fi or your mobile data pack has expired or if the mobile operator is not providing you mobile data for whatever reason. This can happen at the start of the game/ in between the game as well, Qureka Lite will not be responsible for not working properly if the issue is caused by your WiFi/ mobile data provider.</p>
                      <p>If you’re using the product/service outside of an area with Wi-Fi, you should remember that your terms of the agreement with your mobile network provider will still apply. As a result, you may be charged by your mobile provider for the cost of data for the duration of the connection while accessing the product/service, or other third party charges. In using the product/service, you’re accepting responsibility for any such charges, including roaming data charges if you use the product/services outside of your home territory (i.e. region or country) without turning off data roaming. If you are not the bill payer for the device on which you’re using the product/service, please be aware that we assume that you have received permission from the bill payer for using the product/service.</p>
                      <p>Along the same lines, Qureka Lite cannot always take responsibility for the way you use the product/service i.e. You need to make sure that your Smart Phone stays charged – if it runs out of battery and you can’t turn it on to avail the service, Qureka Lite cannot accept responsibility for the same.</p>
                      <p>We understand that it's our responsibility to keep product and services updated for all the users, but it’s important to bear in mind that although we endeavor to ensure that it is updated and correct at all times, we do rely on third parties to provide information to us so that we can make it available to you. Qureka Lite accepts no liability for any loss, direct or indirect, you experience as a result of relying wholly on this functionality of the product/service.</p>
                      <p>In some cases, we may enable you to access third party products, services or ads through our Services. Ads being serviced are through third party(ies) & ad network (s). We do not have any control over the ad content being served and will not be responsible for the same. Please note that those products or services including the ads are offered by people or companies not affiliated with or controlled by us, and we are not responsible in any case for their actions, their terms, their use of information, or their products, services or ads. If you submit your information to a third party, that third party’s treatment of your information is governed by their privacy policy, which may differ from this Privacy Policy and which we encourage you to review.</p>
                      <p>We may also wish to stop providing the product/service, and may terminate use of it at any time without giving notice of termination to you. Unless we tell you otherwise, upon any termination, (a) the rights and licenses granted to you in these terms will end; (b) you must stop using the product/service, and (if needed) delete it from your device.</p>
                      <h6>Quiz Contest Rules:</h6>
                      <p>Qureka Lite has multiple quiz contests active for participation throughout the day for its users.</p>
                      <p>Below are the rules pertaining to Contests active on Qureka Lite.</p>
                      <ul class="roman-ul">
                            <li>That each Quiz Contest has a Start Time and an End Time. Users can participate in the Quiz Contests during this period only as they are time frame based.</li>
                            <li>That the Quiz Contest Name, it’s Start-time, End-time and Rank metrics are clearly mentioned for each contest active on Qureka Lite.</li>
                            <li>It is pertinent and foremost important to note that NO Quiz Contests active on Qureka Lite have Prize money as reward. All Contests only have Coins as the reward.</li>
                            <li>It is also pertinent to note that the Coins mentioned in point (iii) are absolutely free. A User can either win the coins through Coin Based Games or We (Qureka Lite) shall give coins to you (User) for free to participate, in case you have less coin in your Qureka Lite wallet.</li>
                            <li>This is to be clarified that the Coins are NOT MONEY and cannot be converted into money at any point. These coins are for Coin Based Contest participation only.</li>
                            <li>A user will get the reward as Coins ONLY if the user WINS the Quiz contest active on Qureka Lite.</li>
                            <li>That each Contest has thousands of participants. A User’s rank will depend on the scores based on the User’s subject knowledge.</li>
                            <li>This is utmost important to note that “NO CONTEST MENTIONED/ACTIVE ON QUREKA LITE REQUIRES A USER TO DEPOSIT ANY MONEY FOR PARTICIPATION”.</li>
                            <li>That the Participation in any Contest active on Qureka Lite is absolutely free for all its users.</li>
                        
                      </ul>

                      <h6>Coins Prize distribution:</h6>
                      <p>At the end of every game/event, Qureka Lite will announce winners. The Prize can be in form of Qureka Lite Coins.</p>
                      <p>Kindly check the Prize metrics and participation rules before joining any contest.</p>
                      <p>Qureka Lite Coins are used as virtual currency and can be used only for participating in the quiz contests and will be maintained in the Coins wallet. At no point these coins are converted into cash prize money.</p>
                      <p>If the company suspects any abusive activity around any of its programs including but not limited to the - Daily contest, participation or winning, the company will have the sole discretion to take appropriate measures including blocking the user.</p>
                      <p>In case of any fraudulent activities detected from your end to disrupt, manipulate or hinder the right usage of Qureka Lite product & its services, the company holds the rights to terminate your access to the product without notice.</p>
                      <p>In no event shall the Company, nor any of its officers, directors, affiliates and employees, agents and consultants be liable to you for anything arising out of or in any way connected with your use of this website, whether such liability is under contract, tort or otherwise, and Company, including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.</p>
                      <p>We cannot control and have no duty to take any action regarding how you may interpret and use the Content or what actions you may take as a result of having been exposed to the Content, and you hereby release us from all liability for you having acquired or not acquired Content through the Services.</p>
                      <p>You agree to defend, indemnify and hold harmless the Company, its officers, directors, employees and agents and Consultants, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from: (i) Your use of and access of the Website/Services; (ii) Your violation of any term of these Terms or any other policy of the Company; (iii) Your violation of any third party right, including without limitation, any copyright, property, or privacy right; or (iv) any claim that Your use of the Website/Services has caused damage to a third party;. This defense and indemnification obligation will survive these Terms.</p>
                      <p>We are constantly trying to improve our Services/website, so these Terms may need to change along with the Services/website. When you use any of the services provided by the Company, you will be subject to the rules, guidelines, policies, terms and conditions applicable to such service, and they shall be deemed to be incorporated into this terms of use and shall be considered as part and parcel of this terms of use. We reserve the right, at our sole discretion, to change, modify, add or remove portions of these terms of use, at any time without any prior written notice to you. It is your responsibility to review these terms of use periodically for updates, we change. Your continued use of the website following the posting of changes will mean that you accept and agree to the revisions.</p>
                      <p>If you do not agree with the new Terms, you are free to reject them; unfortunately, that means you will no longer be able to use the Services. If you use the Services in any way after a change to the Terms is effective, that means you agree to all of the changes. Except for changes by us as described here, no other amendment or modification of these Terms will be effective.</p>
                      <p>If any provision of these Terms and Conditions is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms and Conditions unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.</p>
                      <p>The Company shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification or consent required. However, you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>
                      <p>These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between the Company and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same. The Terms shall be governed by and construed in accordance with the laws of India, without regard to conflict of law principles. Further, the Terms shall be subject to the exclusive jurisdiction of the competent courts located in Gurugram, Haryana and You hereby accede to and accept the jurisdiction of such courts.</p>
                      <p>No agency, partnership, joint venture, or employment is created as a result of these Terms and you do not have any authority of any kind to bind the Company in any respect whatsoever.</p>
                      <p>If you have any questions or suggestions about my Terms and Conditions, do not hesitate to contact us at <a class="anchorDisplay" href="mailto:support@goqureka.com">support@goqureka.com</a>.</p>

                         <p>Team Qureka Lite</p>
                      <p><b>C/o Coolboots Media Pvt. Ltd</b></p>
                      <p><b>402 ABC, Centrum Plaza, Sector 53, Golf Course Road, Gurugram – 122002 (HR)</b></p>
                      <p><b>Call - 01244663531</b></p>
                    </div>


                    <div class="tab-pane fade" id="mygames" role="tabpanel" aria-labelledby="mygames-tab" v-bind:class="{ 'show active': !isIndia }">
                        <small>Effective Date: 29th June 2021.</small>
                      <h6 class="mt-0">Introduction</h6>
                      <p>Please read on to learn the rules and restrictions that govern your use of Qureka Lite <a href="https://www.qureka.co">https://www.qureka.co</a>, it’s services (the "Services"). If you have any questions, comments, or concerns regarding these terms or the Services, please contact us at contact@qureka.co These Terms of Use (the "Terms") are a binding contract between You and CoolBoots Media Private Limited ("Company”, “CoolBoots," “Qureka Lite” "we", "our" and "us"). This is a legally binding agreement, and you should read it carefully. By using, or otherwise accessing our Services, you confirm your agreement to be bound by these Terms. If you do not agree with any of these terms, you may not use, or otherwise access our Services. Your using the Services in any way means that you agree to all of these Terms, and these Terms will remain in effect while you use the Services. These Terms include the provisions in this document as well as those in the Qureka Lite’s PrivacyPolicy<a href="https://www.qurekalite.com/terms.html">https://www.qurekalite.com/terms.html</a></p>
                      <p>In order to accept the terms and to use the services, you must be at least 18 years of age or an age of majority as per the law of your territory. The services are not intended for users under the Minimum age. If you are not at least the Minimum age, you may not use the services.</p>
                      <p>When you register on Qureka Lite from another Publisher site/product/service and start using it, these terms will automatically apply to you. You should make sure therefore that you read them carefully before using the product/service.</p>
                      <p>We at CoolBoots Media or Qureka Lite never ask you for your bank details or ask you to transfer any money to us in any case as all services are free of cost for the user. Please be careful of the fraudulent activities. Any CoolBoots or Qureka Lite along with its employees or associated parties will never ask you for any personal information except at the time of signup/login.</p>
                      <p>We store and processes personal data that you have provided to us, in order to provide you services seamlessly. Certain functions of the product/service will require the product/service to have an active internet connection. The connection can be Wi-Fi, or provided by your mobile network provider, but Qureka Lite cannot take responsibility for the product/service not working at full functionality if you don’t have access to Wi-Fi or your mobile data pack has expired or if the mobile operator is not providing you mobile data for whatever reason. This can happen at the start of the game/ in between the game as well, Qureka Lite will not be responsible for not working properly if the issue is caused by your WiFi/ mobile data provider.</p>
                      <p>If you’re using the product/service outside of an area with Wi-Fi, you should remember that your terms of the agreement with your mobile network provider will still apply. As a result, you may be charged by your mobile provider for the cost of data for the duration of the connection while accessing the product/service, or other third party charges. In using the product/service, you’re accepting responsibility for any such charges, including roaming data charges if you use the product/services outside of your home territory (i.e. region or country) without turning off data roaming. If you are not the bill payer for the device on which you’re using the product/service, please be aware that we assume that you have received permission from the bill payer for using the product/service.</p>

                      <h6>Quiz Contest Rules:</h6>
                      <p>Qureka Lite has multiple Quiz contests active for participation throughout the day for its users.</p>
                      <p>Below are the rules pertaining to Contests active on Qureka Lite.</p>
                      <ul class="roman-ul">
                            <li>That each Quiz Contest has a Start Time and an End Time. Users can participate in the Quiz Contests during this period only as they are time frame based.</li>
                            <li>That the Quiz Contest Name, it’s Start-time, End-time and Rank metrics are clearly mentioned for each contest active on Qureka Lite.</li>
                            <li>It is pertinent and foremost important to note that NO Quiz Contests active on Qureka Lite have Prize money as reward. All Contests only have Coins as the reward.</li>
                            <li>It is also pertinent to note that the Coins mentioned in point (iii) are absolutely free. A User can either win the coins through Coin Based Games or We (Qureka Lite) shall give coins to you (User) for free to participate, in case you have less coin in your Qureka Lite wallet.</li>
                            <li>This is to be clarified that the Coins are NOT MONEY and cannot be converted into money at any point. These coins are for Coin Based Contest participation only.</li>
                            <li>A user will get the reward as Coins ONLY if the user WINS the Quiz contest active on Qureka Lite.</li>
                            <li>That each Contest has thousands of participants. A User’s rank will depend on the scores based on the User’s subject knowledge.</li>
                            <li>This is utmost important to note that “NO CONTEST MENTIONED/ACTIVE ON QUREKA LITE REQUIRES A USER TO DEPOSIT ANY MONEY FOR PARTICIPATION”.</li>
                            <li>That the Participation in any Contest active on Qureka Lite is absolutely free for all its users.</li>
                         </ul>

                      <h6>Prize distribution:</h6>
                      <p>At the end of every game/event, Qureka Lite will announce winners. The Prize will be in the form of Qureka Lite Coins. Kindly check the Prize matrix and participation rules before joining any contest.</p>
                      <p>Qureka Lite Coins are used as virtual currency and can be used only for participating in the quiz contests and will be maintained separately in the Coins wallet. At no point these coins are converted into cash prize/real money.</p>
                      <p>In case of any fraudulent activities detected from your end to disrupt, manipulate or hinder the right usage of Qureka Lite Product & its services, the company holds the rights to terminate your access to Qureka Lite without notice.</p>

                      <h6>Intellectual Property Rights</h6>
                      <p>All information, content, material, trademarks, services marks, trade names, and trade secrets including but not limited to the software, text, images, graphics, video, script and audio, contained in the Website, Application, Services and products are proprietary property of the Company ("Proprietary Information"). No Proprietary Information may be copied, downloaded, reproduced, modified, republished, uploaded, posted, transmitted or distributed in any way without obtaining prior written permission from the Company and nothing on Qureka Lite or Services shall be or products deemed to confer a license of or any other right, interest or title to or in any of the intellectual property rights belonging to the Company, to the User. Certain contents on Qureka Lite may belong to third party and all rights relating to such content will remain with such third party. Further, you recognize and acknowledge that the ownership of all trademarks, copyright, logos, service marks and other intellectual property owned by any third party shall continue to vest with such party and You are not permitted to use the same without the consent of the respective third party You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing the material contained on Qureka Lite.</p>
                      <p>You are not allowed to copy, or modify the product/service, any part of the product/service, or our trademarks in any way. You are not allowed to try and attempt to extract the source code of the product/service, and you also shouldn’t try to translate the product/service into other languages, or make derivative versions.</p>

                      <h6>Restrictions</h6>
                      <p>You are expressly and emphatically restricted from all of the following:</p>
                      <ul class="alpha-ul">
                        <li>publishing any Qureka Lite’s material in any media;</li>
                        <li>selling, sublicensing and/or otherwise commercializing any Qureka Lite’s material;</li>
                        <li>publicly performing and/or showing any Qureka Lite’s material;</li>
                        <li>using Qureka Lite in any way that is, or may be, damaging to Qureka Lite;</li>
                        <li>using Qureka Lite in any way that impacts user access to Qureka Lite;</li>
                        <li>using Qureka Lite contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to Qureka Lite, or to any person or business entity;</li>
                        <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to Qureka Lite, or while using Qureka Lite;</li>
                        <li>using Qureka Lite to engage in any advertising or marketing;</li>
                        <li>Certain areas of Qureka Lite are restricted from access by you and Company may further restrict access by you to any areas of Qureka Lite, at any time, in its sole and absolute discretion. Any user ID and password you may have for Qureka Lite are confidential and you must maintain confidentiality of such information.</li>
                      </ul>

                      <p>Our services will not be available in certain regions. Do not register or use Qureka Lite if you are from the below mentioned list of Countries where usage of Qureka Lite will be restricted:</p>
                      <ul class="alpha-ul">
                        <li>China & Russia from Asia</li>
                        <li>EU/EEA - Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic (Czechia), Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Lichtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden, United Kingdom</li>
                        <li>Countries from Middle-East - Bahrain, Egypt, Iran, Iraq, Israel, Jordan, Kuwait, Lebanon, Oman, Palestine, Qatar, Saudi Arabia, Syrian Arab Republic, Turkey, The United Arab Emirates, Yemen</li>
                      </ul>
                      <p>Without limitation to any other remedies, Company may delete, suspend, terminate, limit or modify access to the services or any portions thereof if Company suspects or if you have failed to comply with any of the Terms of Services, for any suspected or actual illegal activity, improper use of the Services, with or without any notice to you. Such actions may result in the loss of your account, information, benefits and use of services. Company is not and will not be held responsible for any information, rankings, benefits and losses incurred, and is under no obligation to compensate you for any of this.</p>
                      <p>Company may also stop offering and/or supporting the Services, including, but not limited to, any particular game or part of the Services at any time, at which point your license to use the Services or a part thereof will be automatically terminated. In such an event, Company shall not be required to provide compensation to users in connection with such discontinued or terminated Services. Such actions may also result in termination of your Account, disabling of your access to the Services or any part thereof, including any content that may have or was in the process of being submitted.</p>

                      <h6>No Warranties</h6>
                      <p>Qureka Lite is provided “as is,” with all faults, and CoolBoots makes no express or implied representations or warranties, of any kind related to Qureka Lite or the materials contained on Qureka Lite. Additionally, nothing contained on Qureka Lite shall be construed as providing consult or advice to you.</p>
                      <p>Qureka Lite may contain links or connections to third party websites or services that are not owned or controlled by the Company. When you access third party websites or use third party services, you accept that there are risks in doing so, and that the Company is not responsible for such risks. We encourage you to be aware when you leave the Services and to read the terms and conditions and privacy policy of each third party website or service that you visit or utilize.</p>
                      <p>The Company has no control over, and assumes no responsibility for, the content, accuracy, privacy policies, or practices of or opinions expressed in any third party websites or by any third party that you interact with through the Services/website. In addition, the Company will not and cannot monitor, verify, censor or edit the content of any third party site or service. By using the Services, you release and hold us harmless from any and all liability arising from your use of any third party website or service.</p>

                      <h6>Limitation of Liability</h6>
                      <p>In no event shall the Company, nor any of its officers, directors and employees, be liable to you for anything arising out of or in any way connected with your use of Qureka Lite, whether such liability is under contract, tort or otherwise, and Company, including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of Qureka Lite.</p>
                      <p>We cannot control and have no duty to take any action regarding how you may interpret and use the Content or what actions you may take as a result of having been exposed to the Content, and you hereby release us from all liability for you having acquired or not acquired Content through the Services.</p>

                      <h6>Indemnification</h6>
                      <p>You agree to defend, indemnify and hold harmless the Company, its officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from: (i) Your use of and access of the Qureka Lite Services; (ii) Your violation of any term of these Terms or any other policy of the Company; (iii) Your violation of any third party right, including without limitation, any copyright, property, or privacy right; or (iv) any claim that Your use of Qureka Lite/Services has caused damage to a third party. This defense and indemnification obligation will survive these Terms.</p>
                      <p>If any user registers or changes or manipulates the results/output on Qureka Lite using any unfair, fraudulent means like VPN, etc. then CoolBoots Media Pvt. Ltd./Qureka Lite will not be responsible, rather the user shall be solely responsible for his unlawful act and shall also indemnify Qureka Lite/CoolBoots Media Pvt. Ltd. for any or all claims arising out of it at fullest extent.</p>

                      <h6>Severability</h6>
                      <p>If any provision of these Terms and Conditions is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms and Conditions unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.</p>

                      <h6>Variation of Terms</h6>
                      <p>We are always trying to improve the Services and may change over time. We may suspend or discontinue any part of the Services or we may introduce new features or impose limits on certain features or restrict access to parts or all of the Service. We will try to give you notice when we make a material change to the Services that would adversely affect you, but this is not always practical and non-binding. Similarly, we reserve the right to remove any Content from Qureka Lite at any time, for any reason (including, but not limited to, if someone alleges you contributed that Content in violation of these Terms), in our sole discretion, and without notice. We are constantly trying to improve our Services, so these Terms may need to change along with the Services. When you use any of the services provided by the Company, you will be subject to the rules, guidelines, policies, terms and conditions applicable to such service, and they shall be deemed to be incorporated into this terms of use and shall be considered as part and parcel of this terms of use. We reserve the right, at our sole discretion, to change, modify, add or remove portions of these terms of use, at any time without any prior written notice to you. It is your responsibility to review these terms of use periodically for updates, we change. Your continued use of Qureka Lite following the posting of changes will mean that you accept and agree to the revisions.</p>
                      <p>If you do not agree with the new Terms, you are free to reject them; unfortunately, that means you will no longer be able to use the Services. If you use the Services in any way after a change to the Terms is effective, that means you agree to all of the changes. Except for changes by us as described here, no other amendment or modification of these Terms will be effective.</p>

                      <h6>Assignment</h6>
                      <p>The Company shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification or consent required. However, you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>

                      <h6>Entire Agreement</h6>
                      <p>These Terms, including any legal notices and disclaimers contained on Qureka Lite, constitute the entire agreement between the Company and you in relation to your use of Qureka Lite, and supersede all prior agreements and understandings with respect to the same.
</p>

                      <h6>Dispute Resolution, Governing Law and Jurisdiction</h6>
                      <p>If a dispute arises between you and CoolBoots, CoolBoots strongly encourages you to first contact CoolBoots directly to seek a resolution by contact CoolBoots at <a class="anchorDisplay" href="mailto:dpo@qureka.co">dpo@qureka.co</a>.</p>

                      <p>The Terms shall be governed by and construed in accordance with the laws of India, without regard to conflict of law principles. Further, the Terms shall be subject to the exclusive jurisdiction of the competent courts located in Gurugram, Haryana and You hereby accede to and accept the jurisdiction of such courts.</p>

                      <h6>No Class Actions</h6>
                      <p>You and CoolBoots can only bring a claim against each other on an individual basis. BY AGREEING TO THESE TERMS OF SERVICES, YOU UNDERSTAND AND AGREE THAT YOU WAIVE THE RIGHT TO A CLASS ACTION AND CAN ONLY BRING CLAIMS AGAINST COOLBOOTS IN YOUR INDIVIDUAL CAPACITY.</p>

                      <h6>That means: </h6>
                      <p>neither you nor CoolBoots may bring a claim as a plaintiff or class member in a class action, consolidated action or representative action; the arbitrator or court cannot combine more than one person’s claim into a single case and cannot preside over any consolidated, class or representative arbitration proceeding (unless you and CoolBoots both agree to change this in writing); and the arbitrator’s or court’s decision or award in one person’s case can only impact the person who brought the claim, not other users of the Services, and cannot be used to decide other disputes with other users.</p>

                      <h6>Equitable Remedies</h6>
                      <p>You acknowledge that the rights granted and obligations made under these Terms of Services to CoolBoots are of a unique and irreplaceable nature, the loss of which shall irreparably harm CoolBoots and that cannot be replaced by monetary damages alone, so that CoolBoots shall be entitled to injunctive or other equitable relief (without the obligations of posting any bond or surety or proof of damages) in the event of any breach or anticipatory breach by you.</p>
                      <p>You irrevocably waive all rights to seek injunctive or other equitable relief or to enjoin or restrain the operation of the Services or the games, exploitation of any advertising or other materials issued in connection therewith or exploitation of the Services or any content or other material used or displayed through the Services and agree to limit your claims to claims for monetary damages (if any).</p>

                      <h6>Force Majeure</h6>
                      <p>CoolBoots shall not be liable for any delay or failure to perform resulting from causes outside its reasonable control, including, without limitation, any failure to perform hereunder due to unforeseen circumstances or causes beyond CoolBoots’ control such as natural disasters, war, terrorism, riots, embargoes, pandemic, acts of civil or military authorities, fire, floods, accidents, strikes or shortages of transportation facilities, fuel, energy, labor or materials.</p>

                      <h6>Partnership</h6>
                      <p>You agree that your use of the Services does not constitute any joint venture, partnership, employment or agency relationship between you and CoolBoots as a result of this Agreement.</p>
                      <p>If you have any questions or suggestions about the Terms of use, do not hesitate to contact us at contact@qureka.co</p>
                         <p>Team Qureka Lite</p>
                      <p><b>C/o Coolboots Media Pvt. Ltd</b></p>
                      <p><b>402 ABC, Centrum Plaza, Sector 53, Golf Course Road, Gurugram – 122002 (HR)</b></p>
                      <p><b>Call - 01244663531</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</template>
 
<script>
import Subheader from "./../common/Subheader.vue";
  export default {
    components: {
        Subheader
        },
   
     data() {
           return {
               isIndia:false,
                   isActive: true,
             }
       },
      created: function() {
          
          let userzone = $cookies.get('userzone');
          // userzone = JSON.parse(userzone);
          // console.log(userzone);
          // console.log(userzone.ip);
          // let usermode = $cookies.get('usermode');
          // let optout = $cookies.get('optout');
          if(userzone.country=='IN')
          {
            this.isIndia = true;
          }
         },
       methods: {
            
            
        },
         beforeDestroy: function(){
            // console.log('DESTROYYYY!!!');
              
          }
    };
</script>
<style scoped>
.anchorDisplay{
display: contents;
}
</style>