<template>
     <div class="modal fade videopopup-modal" id="videopopup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="videopopupLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
          <div class="modal-body">
            <button type="button" class="close"  @click="hideModal">
              <span aria-hidden="true">&times;</span>
            </button>
           <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="ytVideo" class="embed-responsive-item" width="100%" height="315" :src="url" allowfullscreen></iframe>
                  </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  name: 'Videopopup',
   props: {
            url: {type: String,default() {return ""}},
        },
       created: function(){

              
          },
          methods: {
    hideModal() {
      this.urlparam = '';
      $('#ytVideo').attr('src','');
      $('#videopopup').modal('hide');
    }
  }
};
</script>