
@media (max-width:576px) {
    .app-wrapper-container,
    .redirection-strip  {
        max-width: 100%;
    }
}


@media (max-width:359px) {
    .intro-screen .content h1 {
        font-size: 52px;
    }
    .intro-screen .content h2 {
        font-size: 22px;
    }
    .close-screen .content h6 {
        font-size: 16px;
    }
}
