*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    background:url('../images/webappbdg.jpg');
    height: 100vh;
    background-size: cover;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.app-wrapper-container {
    max-width: 360px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    scrollbar-color: #eee #3e3e40;
    scrollbar-width: none;
    background-color: #030893;
}

.app-wrapper-container::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: transparent;
}

.app-wrapper-container::-webkit-scrollbar{
    width: 2px;
    background-color: transparent;
}

.app-wrapper-container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #eee;
}

.intro-screen {
    position: relative;
    padding: 0;
    height: 100vh;
}

.intro-screen .logo,
.intro-question .logo {
    background-color: #fcff00;
    padding: 10px;
    border: 10px solid #1c1f97;
    width: 110px;
    border-radius: 0 0 0 80px;
    height: 110px;
    margin: -10px;
}

.intro-screen .logo img,
.intro-question .logo img {
    width: 60px;
    margin: 5px 10px 8px 10px;
}

.intro-screen .content {
    margin-top: -15px;
}

.intro-screen .content h1{
    font-weight: 800;
    font-size: 58px;
    margin: 0 0 5px;
    color: #fcff00;
    line-height: 54px;
}

.intro-screen .content h2{
    color: #fff;
    font-size: 25px;
    margin: 0 0 5px;
    font-weight: 600;
    border-left: 3px solid #fcff00;
    padding-left: 15px;
}

.intro-screen .content h3{
    color: #fff;
    font-size: 20px;
    margin: 0 0 5px;
    font-weight: 500;
}

.redirection-strip {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 36px;
    width: 100%;
    max-width: 360px;
    background-color: #fcff00;
}

.redirection-strip p {
    font-size: 13px;
    color: #000;
    margin: 0;
    font-weight: 700;
}

.redirection-strip a {
    font-size: 13px;
    color: #000;
    font-weight: 700;
    margin: 0;
    text-decoration: underline;
}

.modal-dialog {
    width: 100%;
    max-width: 330px;
    margin: .5rem auto;
}

.modal-common-style .modal-content {
    border-radius: 10px;
}

.modal-common-style .modal-header {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0;
}

.modal-common-style .btn-close {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 15px;
    right: 20px;
    opacity: 0.6;
    transition: all .2s;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #666;
    text-shadow: none;
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
}

#fullscreen h4 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin: 0 0 20px;
}

#fullscreen .confirm {
    background-color: #060fac;
    border: 0;
    box-shadow: none;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 0 15px;
    border-radius: 8px;
    line-height: 36px;
    font-size: 18px;
    min-width: 85px;
}

#fullscreen .modal-body {
    padding: 1rem 1rem 2.5rem;
}

.intro-question h2 {
    color: #fcff07;
    font-size: 20px;
    margin: 0 0 5px;
    font-weight: 700;
}

.intro-question h6 {
    font-size: 13px;
    margin: 0 0 12px;
    color: #fff;
    font-weight: 500;
}

.intro-question h6 span {
    color: #fcff07;
}

.question-answer h3 {
    font-size: 24px;
    color: #fff;
    margin: 0 0 15px;
    font-weight: 700;
}

.question-answer .options {
    margin: 15px 0 0;
    width: 100%;
    text-align: center;
}

.question-answer .options a {
    border: 1px solid #fff;
    background: #fff;
    color: #323232;
    font-weight: 700;
    padding: 12px 15px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 8px;
    display: inline-block;
    margin: 6px auto;
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.question-answer .options .wrong {
    background: #f33 url('../images/sad.png') no-repeat 97% 50%;
    background-size: 38px;
    border-color: #f33;
    color: #fff;
}

.question-answer .options .correct {
    background: #47be06 url('../images/smile.png') no-repeat 97% 50%;
    background-size: 38px;
    border-color: #47be06;
    color: #fff;
}

.question-answer .question-size {
    color: #fcff07;
    font-size: 14px;
    margin: 0 0 5px;
    font-weight: 700;
}

.intro-question footer p{
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}

.close-screen .content h2 {
    color: #fcff07;
    text-align: left;
    font-size: 30px;
    margin: 0;
}

.close-screen .content h1 {
    color: #fcff07;
    text-align: left;
    font-size: 70px;
    font-weight: 800;
    line-height: 75px;
    background:url('../images/smile-line.png') no-repeat 18% 72px;
    background-size: 124px;
    padding-bottom: 40px;
}

.close-screen .content .cloudgift {
    width: 100%;
    max-width: 155px;
}

.close-screen .logo {
    width: 90px;
    height: 90px;
    margin: -10px;
}

.close-screen .logo img {
    width: 38px;
    margin: 1px 10px 8px 12px;
}

.close-screen .content h6 {
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    margin: 0;
}

.close-screen .content h6 span {
    font-weight: 800;
    color: #fcff00;
    text-transform: uppercase;
}

.close-screen .close-btn {
    background-color: #fff;
    border-radius: 10px;
    border: 0;
    text-align: center;
    outline: 0;
    box-shadow: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    width: 100%;
    max-width: 300px;
    line-height: 51px;
    margin: 10px auto 13px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-screen .close-btn img {
    width: 15px;
    margin-right: 7px;
}

.close-screen .content > span {
    font-weight: 400;
    color: #fff;
    font-size: 15px;
}